/*Imports*/
@import "https://lolpowerluke.github.io/bd-themes/steamTheme/trivia.css";
  /*Friendlist*/
  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/friendlist.css";
  /*Servers*/
  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/serverChannels.css";
  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/serverBar.css";

  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/smallUserPopout.css";
  /*Status*/
  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/statusPicker.css";
  @import "https://lolpowerluke.github.io/bd-themes/steamTheme/BetterStatusIndicators.css";
  /*Snippets*/
  @import "https://spinfish.github.io/css-snippets/snippets/filled-roles.css";
/*Variables*/
:root {
  --background-primary: #171a21;
  --background-secondary: #1b2838;
  --background-secondary-alt: #2a475e;
  --background-tertiary: #171a21;

  /*Status stuff*/
  --avatar-shape: 15%;  /* 50% for round - 0% for square */
  --online: #1df594;  /* Colour for online status */
  --idle: #faa61a;  /* Colour for idle status */
  --dnd: #f04747;  /* Colour for dnd status */
  --offline: #4d4d4d;  /* Colour for offline status */
  --streaming: #643da7;  /* Colour for streaming status */
  --invisible: #747f8d;  /* Colour for invisible status - Note: this will only show for your own invisibility */

  /*Pills*/
  --unread-pill: rgb(71, 71, 180);
  --unread-pill-shadow: rgb(255, 255, 255);

  /* Number of role columns */
  --roleslist-columns: 2;
}