/**
* @name Steam
* @author lolpowerluke, Xyhlo 
* @version 1.0.0
* @description Make your discord look like the steam client
* @source github_source
* @website your_webside (not required)
*/

/*Imports*/
@import url('https://lolpowerluke.github.io/bd-themes/steamTheme/main.css');
