/*Font*/
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
/*Searchbar*/
.searchBar-zdmu7v {
  width: 22px;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}
.toolbar-3_r2xA .search-39IXmY {
  height: 100%;
  grid-row: 1/3;
}
.search-1FM8Qc {
  height: 100%;
}
.search-1FM8Qc .DraftEditor-root {
  margin-top: 16px;
  box-sizing: border-box;
}
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
  padding: 0;
}
.focused-8aNhVB .searchBar-zdmu7v,
.open-3y3yI_ .searchBar-zdmu7v,
.search-39IXmY:hover .searchBar-zdmu7v {
  width: 144px;
}
/*reply bar*/
.clipContainer-31nYlH {
  position: absolute;
  width: 240px;
  height: 38px;
  bottom: -26px;
  left: -257px;
  border-top: 1px solid black;
  background: var(--background-secondary);
}
.form-3gdLxP div .channelTextArea-1FufC0 .replyBar-1oi75v > div:not(.actions-1mkm4H) {
  max-width: 120px;
}
.form-3gdLxP > .channelTextArea-1FufC0 .replyBar-1oi75v > div:not(.actions-1mkm4H) {
  max-width: 185px;
}
.replyBar-1oi75v {
  border-radius: 0;
}
.chat-2ZfjoI {
  overflow: visible;
}
.scrollableContainer-15eg7h,
.channelTextArea-1VQBuV,
.hasConnectedBar-1vN2JH {
  border-radius: 0px;
}
/*channeltextarea*/
.channelTextArea-1FufC0 .inner-NQg18Y > div {
  order: 0;
}
.channelTextArea-220_Gz {
  border: 1px solid var(--background-primary);
  background-color: var(--background-primary);
  box-shadow: inset 0 0 2px var(--background-secondary-alt);
}
.channelTextArea-1FufC0 {
  border: 1px solid var(--background-secondary);
  background-color: var(--background-secondary);
  box-shadow: inset 0 0 2px black;
  overflow: visible;
}
.channelTextArea-220_Gz .scrollableContainer-15eg7h,
.channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  background-color: transparent;
}
.channelTextArea-1FufC0::-webkit-scrollbar {
  display: none;
}
.channelTextArea-1FufC0 .inner-NQg18Y > .attachWrapper-3slhXI {
  order: 3;
}
.channelTextArea-1FufC0 .webkit-QgSAqd .buttons-uaqb-5 {
  margin: 0;
}
.channelTextArea-1FufC0 .inner-NQg18Y > .attachWrapper-3slhXI .attachButton-1ijpt9 {
  margin: 0;
  padding: 10px;
}
/*Hide inbox and help button*/
.toolbar-3_r2xA .iconWrapper-2awDjA:nth-last-child(2),
[href="https://support.discord.com"] {
  display: none;
}
/*avatars in userpopouts*/
.StatusEverywhere-avatar-chatAvatar,
#app-mount .StatusEverywhere-avatar-userPopout,
#app-mount .StatusEverywhere-avatar-userPopout + .avatarHint-k7pYop > foreignObject,
.avatarHint-k7pYop,
.avatarHint-k7pYop foreignObject,
.avatar-2Vndt_ {
  mask: none;
  border-radius: 15%;
}
/*unread pill*/
.item-2LIpTv {
  background-color: var(--unread-pill);
  animation-name: channel-unread-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.unread-36eUEm {
  width: 8px;
  top: 52%;
  height: 6px;
  background-color: var(--unread-pill);
  animation-name: channel-unread-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes channel-unread-1 {
  0% {
    box-shadow: 0 0 0 0 var(--unread-pill-shadow);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/*not sure yet*/
.header-3OsQeK {
  box-shadow: none;
}
.animatedContainer-2laTjx {
  box-shadow: none;
}
.animatedContainer-2laTjx::before {
  background: linear-gradient(transparent 0%, var(--background-secondary) 100%, transparent 0%);
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
/*JumpToPresentBar*/
.jumpToPresentBar-1cEnH0 {
  display: contents;
}
.jumpToPresentBar-1cEnH0 > button:first-child {
  display: none;
}
.jumpToPresentBar-1cEnH0 > button:last-child {
  position: absolute;
  bottom: 15px;
  right: 16px;
  padding: 8px;
  height: auto;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  box-shadow: inset 0 0 2px black;
  border-radius: 0;
  display: flex;
  font-size: 0;
  color: var(--text-normal);
  transition: font-size .2s, padding .6s;
}
.jumpToPresentBar-1cEnH0 > button svg {
  order: -1;
  margin: 0;
  height: 24px;
  width: 24px;
  top: unset;
  margin-right: 2px;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-normal);
  transition: margin .6s;
}
.jumpToPresentBar-1cEnH0:hover > button {
  font-size: 14px;
  padding: 8px 12px;
}
.jumpToPresentBar-1cEnH0:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}
/*Messages*/
.messageListItem-ZZ7v6g {
  margin: 4px 5px;
  background-color: var(--background-secondary);
  border-radius: 5px;
}
/*Dmlist Searchbar*/
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ {
  position: absolute;
  bottom: 20px;
  right: 15px;
  height: 40px;
  width: 42px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom right, var(--main-color, #07083a), 
  var(--hover-color, #1c3772));
  box-shadow: 2px 10px 10px var(--shadow, rgba(0, 0, 0, 0.399)) !important;
  overflow: hidden;
  cursor: pointer;
  transition: all .4s ease-in-out;
  pointer-events: all;
  padding: 0;
}
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: transparent !important;
}
.privateChannels-oVe7HL .searchBar-3TnChZ .inner-1NoIT5 {
  height: 100%;
  width: 100%;
}
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 30px;
  bottom: 1px;
  right: 5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='2400.000000pt' height='2398.000000pt' viewBox='0 0 2400.000000 2398.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,2398.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M11520 22979 c-3183 -139 -6130 -1640 -8124 -4138 -1125 -1409 -1891%0A-3089 -2215 -4861 -72 -391 -151 -1028 -151 -1215 l0 -51 2852 -1174 c1569%0A-645 2898 -1193 2954 -1216 l101 -42 99 60 c362 219 755 356 1194 419 47 6%0A182 15 300 18 l215 6 1341 1947 1340 1947 12 233 c12 250 29 394 68 608 178%0A965 718 1865 1492 2487 1026 824 2372 1117 3647 792 999 -254 1879 -882 2450%0A-1749 120 -182 168 -266 262 -455 218 -436 357 -920 415 -1445 16 -151 16%0A-660 0 -810 -109 -976 -505 -1830 -1162 -2504 -489 -501 -1037 -849 -1675%0A-1061 -403 -135 -776 -200 -1200 -212 l-220 -6 -1550 -1107 c-852 -609 -1716%0A-1227 -1920 -1372 l-370 -265 -2 -64 c-15 -405 -58 -662 -163 -979 -257 -777%0A-788 -1396 -1515 -1766 -1072 -544 -2335 -414 -3290 340 -126 99 -355 329%0A-462 463 -265 331 -465 729 -573 1137 -16 60 -33 113 -37 117 -4 4 -321 137%0A-703 294 -1660 685 -2203 909 -2805 1158 -352 145 -642 263 -643 261 -6 -5%0A174 -534 243 -714 778 -2028 2143 -3785 3920 -5045 704 -500 1465 -913 2280%0A-1240 1767 -709 3730 -942 5645 -669 2006 285 3907 1132 5473 2439 1447 1207%0A2560 2762 3231 4513 581 1516 818 3165 691 4797 -179 2281 -1053 4425 -2526%0A6190 -400 479 -905 984 -1384 1384 -1012 844 -2149 1494 -3378 1930 -1320 469%0A-2748 681 -4157 620z'/%3E%3Cpath d='M15370 17524 c-136 -17 -272 -39 -370 -60 -1055 -233 -1901 -1098%0A-2115 -2162 -42 -212 -50 -297 -50 -557 0 -260 8 -345 50 -557 210 -1045 1018%0A-1889 2055 -2148 232 -58 417 -80 675 -80 551 0 1072 156 1526 459 182 121%0A281 202 434 356 154 153 235 252 356 433 306 459 461 977 461 1537 0 560 -155%0A1078 -461 1537 -121 181 -202 280 -356 433 -153 154 -252 235 -433 356 -338%0A224 -712 368 -1132 434 -101 16 -554 29 -640 19z m531 -700 c693 -96 1286%0A-528 1595 -1159 398 -815 222 -1797 -434 -2426 -321 -309 -709 -498 -1157%0A-564 -147 -22 -433 -22 -580 0 -458 68 -863 271 -1185 595 -400 402 -610 910%0A-610 1480 0 570 217 1092 616 1487 340 335 762 536 1249 596 88 11 404 6 506%0A-9z'/%3E%3Cpath d='M8410 10074 c-14 -3 -76 -11 -139 -20 -151 -21 -471 -105 -471 -124%0A0 -3 233 -102 518 -219 1058 -439 1070 -444 1257 -584 110 -83 277 -254 358%0A-367 80 -113 195 -338 237 -467 148 -448 108 -937 -110 -1352 -175 -331 -432%0A-582 -768 -751 -398 -198 -865 -235 -1288 -99 -50 16 -405 159 -790 318 -384%0A159 -700 288 -702 286 -8 -7 90 -181 163 -290 143 -215 318 -400 530 -559 136%0A-102 210 -148 351 -220 245 -123 475 -194 774 -237 129 -19 462 -16 600 4 797%0A121 1453 596 1795 1302 115 237 181 450 222 715 21 139 23 459 5 600 -72 538%0A-302 1010 -677 1385 -377 377 -854 608 -1382 670 -114 13 -416 19 -483 9z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG::before {
  content: 'Search Direct Messages';
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  width: 180px;
  bottom: 0;
  right: 0vw;
  color: rgb(255, 255, 255);
  opacity: .5;
  font-size: 12px;
  line-height: 100%;
  transition: all 1s ease-in-out;
  pointer-events: none;
}
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  color: transparent;
}
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ:hover {
  width: 200px;
}
.sidebar-1tnWFu{
  margin-top: 49px;
}
/*Chat Header*/
.chat-2ZfjoI > .title-31SJ6t {
  margin-left: -240px;
  width: calc(100% + 240px);
}
/*Search popup*/
#app-mount .elevationBorderHigh-3drnJX {
  background-color: var(--background-primary);
  border: 1px solid var(--background-primary);
  box-shadow: inset 0 0 4px var(--background-secondary-alt);
}
#app-mount .option-2KkUJO:hover {
  background-color: var(--background-secondary);
}
.option-2KkUJO:hover:before,
.option-2KkUJO::after {
  display: none;
}
