#app-mount .panels-j1Uci_ .wrapper-3t9DeA {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA svg:not(:root) {
  overflow: visible;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
  x: 0;
  y: 0;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA img, 
#app-mount .panels-j1Uci_ .wrapper-3t9DeA.avatar-AvHqJA {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect, 
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
          mask: none;
  display: block;
  rx: var(--rs-avatar-shape);
  ry: var(--rs-avatar-shape);
  fill: transparent !important;
  stroke-width: var(--rs-small-width);
}
#app-mount .panels-j1Uci_ [data-status="online"] .wrapper-3t9DeA rect {
  stroke: var(--online);
}
#app-mount .panels-j1Uci_ [data-status="idle"] .wrapper-3t9DeA rect {
  stroke: var(--idle);
}
#app-mount .panels-j1Uci_ [data-status="dnd"] .wrapper-3t9DeA rect {
  stroke: var(--dnd);
}
#app-mount .panels-j1Uci_ [data-status="streaming"] .wrapper-3t9DeA rect {
  stroke: var(--streaming);
}
#app-mount .panels-j1Uci_ [data-status="offline"] .wrapper-3t9DeA rect {
  stroke: var(--offline);
}
#app-mount .panels-j1Uci_ [data-status="invisible"] .wrapper-3t9DeA rect {
  stroke: var(--offline);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA rect[x="16"] {
  width: 24px;
  height: 24px;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="40px"] > svg > svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="80px"] svg.cursorDefault-dsQJ1n rect {
  x: -48;
  y: -52;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="80px"] rect {
  width: 80px;
  height: 80px;
  stroke-width: var(--rs-medium-width);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="80px"] img {
  -webkit-clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="120px"] svg.cursorDefault-dsQJ1n rect {
  x: -70;
  y: -76;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="120px"] rect {
  width: 120px;
  height: 120px;
  stroke-width: var(--rs-large-width);
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="120px"] img {
  -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style="width: 16px; height: 16px;"] rect {
  display: none;
}
#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style="width: 16px; height: 16px;"] img {
  -webkit-clip-path: none;
          clip-path: none;
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject {
  width: calc(100% + 4px);
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject[width="32"] img {
  width: calc(100% - 12px);
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject[width="80"] img {
  width: calc(100% - 16px);
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject[width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject[width="120"] img {
  width: calc(100% - 22px);
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject[width="120"]:after {
  width: 24px;
  height: 20px;
  top: 75%;
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject:after {
  content: "";
  display: var(--rs-phone-visible, block);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
          mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--online);
  z-index: 1;
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .wrapper-3t9DeA foreignObject + rect {
  stroke: var(--online);
}
#app-mount .panels-j1Uci_ [data-mobile="true"] .message-2qnXI6 .wrapper-3t9DeA foreignObject {
  width: calc(100% + 3px);
}
#app-mount .panels-j1Uci_ [data-typing="false"] .message-2qnXI6 .wrapper-3t9DeA rect {
  width: calc(100% - 9px);
}
#app-mount .panels-j1Uci_ .avatarHint-2A3RNb foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .panels-j1Uci_ .avatarHintInner-1TvA8u {
  border-radius: var(--rs-avatar-shape) !important;
  padding-top: 0;
  width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 1px * 2);
  height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 1px * 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
#app-mount .panels-j1Uci_ .memberOffline-2lN7gt img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .panels-j1Uci_ .offline-3nJYBR img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .panels-j1Uci_ .avatarWrapperNonUserBot-3fzpUZ .wrapper-3t9DeA img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

#app-mount .panels-j1Uci_ .wrapper-3t9DeA[style*="40px"] > svg > svg rect {
  display: none;
}
