/*official list*/
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
/*everyone except this or official list*/
#app-mount {
	--user-background: var(--USRBG-popout-background);
}
/*my list*/
/*.faorin*/
#app-mount [data-list-item-id*="374490674558533633"],
#app-mount [data-user-id="374490674558533633"] {
	--user-background: url('https://i.imgur.com/Rv3pBml.png');
}
/*.nothingsuspicious*/
#app-mount [data-list-item-id*="773628716537872404"],
#app-mount [data-user-id="773628716537872404"] {
	--user-background: url('https://i.imgur.com/r7yG08B.png');
}
/*lolpowerluke*/
#app-mount [data-list-item-id*="398131626695196672"],
#app-mount [data-user-id="398131626695196672"] {
	--user-background: url('https://i.imgur.com/9zkNBar.png');
}
/*jotry*/
#app-mount [data-list-item-id*="368997053075816451"],
#app-mount [data-user-id="368997053075816451"] {
	--user-background: url('https://i.imgur.com/yLIE2N4.gif');
}
/*tikagirl#3230*/
#app-mount [data-list-item-id*="510857710917386251"],
#app-mount [data-user-id="510857710917386251"] {
	--user-background: url('https://i.imgur.com/JgrCjrI.png');
}
/*LLLeider#2966*/
#app-mount [data-list-item-id*="548816891750383652"],
#app-mount [data-user-id="548816891750383652"] {
	--user-background: url('https://i.imgur.com/RHbOrCI.jpg');
}
/*birdgirl#4167*/
#app-mount [data-list-item-id*="559816656893771826"],
#app-mount [data-user-id="559816656893771826"] {
	--user-background: url('https://i.imgur.com/ciR0Epd.png');
}
/*Laurina0602#3692*/
#app-mount [data-list-item-id*="562230336533299222"],
#app-mount [data-user-id="562230336533299222"] {
	--user-background: url('https://i.imgur.com/4NLdyqf.jpg');
}
/*kittyloe92_97#5183*/
#app-mount [data-list-item-id*="436178062015725569"],
#app-mount [data-user-id="436178062015725569"] {
	--user-background: url('https://i.imgur.com/21vma32.png');
}
/*kareldesp*/
#app-mount [data-list-item-id*="454717754394804225"],
#app-mount [data-user-id="454717754394804225"] {
	--user-background: url('https://i.imgur.com/8Pts35N.png');
}
/*Senne3D*/
#app-mount [data-list-item-id*="338591544091344897"],
#app-mount [data-user-id="338591544091344897"] {
	--user-background: url('https://i.imgur.com/Cl5pGmM.png');
}
/*high28dayo*/
#app-mount [data-list-item-id*="1238034849789644863"],
#app-mount [data-user-id="1238034849789644863"] {
	--user-background: url('https://i.imgur.com/y093tVD.gif');
}
/*gjx_6250*/
#app-mount [data-list-item-id*="392618121766109184"],
#app-mount [data-user-id="392618121766109184"] {
	--user-background: url('https://i.imgur.com/AnBEGz2.png');
}