/*official list*/
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
/*everyone except this or official list*/
#app-mount {
	--user-background: var(--USRBG-popout-background);
}
/*my list*/
/*Mouson#8981*/
#app-mount [data-list-item-id*="374490674558533633"],
#app-mount [data-user-id="374490674558533633"] {
	--user-background: url('https://i.imgur.com/Rv3pBml.png');
}
/*nothingSuspicious#6246*/
#app-mount [data-list-item-id*="773628716537872404"],
#app-mount [data-user-id="773628716537872404"] {
	--user-background: url('https://i.imgur.com/r7yG08B.png');
}
/*ğ•µğ–”#0084*/
#app-mount [data-list-item-id*="368997053075816451"],
#app-mount [data-user-id="368997053075816451"] {
	--user-background: url('https://i.imgur.com/yLIE2N4.gif');
}
/*tikagirl#3230*/
#app-mount [data-list-item-id*="510857710917386251"],
#app-mount [data-user-id="510857710917386251"] {
	--user-background: url('https://i.imgur.com/JgrCjrI.png');
}
/*LLLeider#2966*/
#app-mount [data-list-item-id*="548816891750383652"],
#app-mount [data-user-id="548816891750383652"] {
	--user-background: url('https://i.imgur.com/RHbOrCI.jpg');
}
/*birdgirl#4167*/
#app-mount [data-list-item-id*="559816656893771826"],
#app-mount [data-user-id="559816656893771826"] {
	--user-background: url('https://i.imgur.com/ciR0Epd.png');
}
/*Laurina0602#3692*/
#app-mount [data-list-item-id*="562230336533299222"],
#app-mount [data-user-id="562230336533299222"] {
	--user-background: url('https://i.imgur.com/4NLdyqf.jpg');
}
/*kittyloe92_97#5183*/
#app-mount [data-list-item-id*="436178062015725569"],
#app-mount [data-user-id="436178062015725569"] {
	--user-background: url('https://i.imgur.com/21vma32.png');
}
/*kareldesp#8929*/
#app-mount [data-list-item-id*="454717754394804225"],
#app-mount [data-user-id="454717754394804225"] {
	--user-background: url('https://i.imgur.com/8Pts35N.png');
}
/*WAK_Senne3D#4687*/
#app-mount [data-list-item-id*="454717754394804225"],
#app-mount [data-user-id="454717754394804225"] {
	--user-background: url('https://i.imgur.com/Cl5pGmM.png');
}