/*Playing Cards In Friendlist*/
._133bf5eea8e33a34-tabBody {
  ._133bf5eea8e33a34-nowPlayingColumn {
    display: block;
    flex: 0 0 360px;
    /* height: 100%; */
    overflow: hidden;
    min-width: unset;
    max-width: unset;
    border-left: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    transition: flex var(--animation-duration-3);

    ._7d20cf18f8a2784c-scroller {
      display: flex;
      flex-direction: column;
      border: 0;
      margin: 0;
      padding: 8px;

      ._7d20cf18f8a2784c-header {
        margin: 0 0 8px 8px;
      }
      ._7d20cf18f8a2784c-header + ._7e549558f336cddb-itemCard {
        border-top-left-radius: var(--border-radius-m);
        border-top-right-radius: var(--border-radius-m);
      }
      ._7e549558f336cddb-itemCard {
        background-color: var(--back-color-boxes);
        border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        border-radius: var(--border-radius-0);
        margin: 0;
        margin-top: -1px;
        padding: 8px;

        &:hover {
          background-color: var(--back-color-boxes-hover);
          border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
        }
        & > div {
          display: flex;
          flex-direction: column;
          gap: 10px;
          
          ._00943886e1cf89d1-header {
            padding: 0 4px;
          }
          ._00943886e1cf89d1-body {
            margin: 0;
            background-color: transparent;

            ._00943886e1cf89d1-separator {
              display: none;
            }
            ._11054c9baccea7a2-wrapper,
            ._00943886e1cf89d1-section {
              border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
              background-color: var(--background-primary);
              margin-top: -1px;

              &:where(:has(+ ._00943886e1cf89d1-separator + ._00943886e1cf89d1-section)) {
                border-bottom-color: transparent;
              }
            }
          }
        }
      }
      ._7e549558f336cddb-itemCard:not(:has( + ._7e549558f336cddb-itemCard)) {
        border-bottom-left-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
      ._7e549558f336cddb-itemCard:hover + ._7e549558f336cddb-itemCard {
        border-top-color: transparent;
      }
      ._7e549558f336cddb-itemCard:where(:has( + ._7e549558f336cddb-itemCard)) {
        border-bottom-color: transparent;
      }
      ._7e549558f336cddb-emptyCard {
        background-color: var(--back-color-boxes);
        border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        border-radius: var(--border-radius-m);
      }
    }
  }
}
@media (max-width: 800px) {
  ._133bf5eea8e33a34-tabBody {
    display: flex;
    flex-direction: column;

    ._133bf5eea8e33a34-peopleColumn {
      flex: 0 0 70%;
      transition: flex var(--animation-duration-3);

      &:has(+ ._133bf5eea8e33a34-nowPlayingColumn:not(:hover)) {
        flex: 0 0 90%;
      }
    }
    ._133bf5eea8e33a34-nowPlayingColumn {
      flex: 0 0 30%;
      border-left: 0;
      border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));

      &:not(:hover) {
        flex: 0 0 10%;
      }
      ._7d20cf18f8a2784c-scroller {
        & > ._7d20cf18f8a2784c-header {
          position: sticky;
          top: 0;
          z-index: 1;
          margin-left: 0;
          text-align: center;
          border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
          background-color: var(--background-primary);
          backdrop-filter: blur(2px);
          border-radius: var(--border-radius-m);
          padding: 6px 0;
        }
      }
    }
  }
}
@media (max-width: 1200px) and (min-width: 701px) {
  ._133bf5eea8e33a34-tabBody {
    ._133bf5eea8e33a34-nowPlayingColumn:not(:hover) {
      flex: 0 0 200px;
    }
  }
}