.guilds__5e434 {
  --custom-guild-list-width: 72px;
  --guildbar-server-size: calc(var(--custom-guild-list-width) / 9 * 5);
  --guildbar-folder-size: calc(var(--guildbar-server-size) + calc(var(--guildbar-server-size) / 5));
  --guildbar-server-spacing: calc(var(--guildbar-server-size) / 10);

  .folderGroup__48112 {
    --custom-folder-padding: var(--guildbar-server-spacing);
  }
  
  mask: unset !important;
  height: calc(100% - var(--guild-margin-bottom) - 54px);
  margin-bottom: var(--guild-margin-bottom);
  margin-top: 54px;

  .tree_ef3116 {
    outline: unset;
  }
  .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,
  .wrapper__6e9f8:hover .childWrapper__6e9f8 {
    background-color: transparent;
  }
  .childWrapper__6e9f8 > svg path {
    display: none;
  }
  .childWrapper__6e9f8 > svg {
    -webkit-mask: var(--home-button-background);
    -webkit-mask-size: var(--home-button-background-size);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: var(--back-home-button);
  }
  foreignObject {
    mask: unset;
  }
  .wrapper__6e9f8,
  .expandedFolderIconWrapper__48112 {
    border-radius: var(--border-radius-m);
    overflow: hidden;
  }
  .folderGroupBackground__48112,
  .circleIconButton__5bc7e,
  .folderPreviewWrapper__48112 {
    border-radius: var(--border-radius-l);
    overflow: hidden;
  }
  .folderPreviewGuildIcon__48112 {
    border-radius: var(--border-radius-l) !important;
  }
  .tutorialContainer__1f388 {
    position: fixed;
    top: 35px;
  }
  .stack_dbd263 {
    gap: calc(var(--guildbar-server-spacing) * 2)  !important;
  }
  .scroller_ef3116 > .stack_dbd263 > .listItem__650eb,
  .tutorialContainer__650eb + .listItem__650eb,
  .tutorialContainer__1f388,
  .tutorialContainer__650eb,
  .folderGroup__48112 {
    .folderPreviewWrapper__48112,
    .folderPreviewWrapper__48112 {
      padding: calc(var(--guildbar-folder-size) / 12);
    }
    .stack_dbd263 {
      height: fit-content !important;
      gap: var(--guildbar-server-spacing) !important;
    }
    .shiftSVG_cc5dd2 {
      top: 0;
      left: 0;
    }
    .pill_e5445c,
    .pill__1f388 {
      .item__58105:not([style*="height: 8px;"]) {
        height: 80% !important;
      }
    }
    .folderGroupBackground__48112 {
      left: calc(calc(var(--custom-guild-list-width) - var(--guildbar-folder-size)) / 2);
      bottom: calc(var(--guildbar-server-spacing) * -1);
    }
    .folderGuildsList__48112>:first-child {
      margin-top: 0;
    }
    .folderPreview__48112 {
      gap: calc(var(--guildbar-folder-size) / 24);
    }
    .folderPreviewGuildIcon__48112 {
      width: calc(50% - calc(var(--guildbar-folder-size) / 48));
      height: calc(50% - calc(var(--guildbar-folder-size) / 48));
    }
    .circleIconButton__5bc7e,
    .wrapper__6e9f8,
    .folderPreview__48112,
    .folderPreviewWrapper__48112,
    .folderPreviewWrapper__48112,
    .folderButton__48112,
    .folderButtonInner__48112 {
      width: 100%;
      height: unset;
      aspect-ratio: 1/1;
    }
    .circleIcon__5bc7e {
      width: 50%;
      height: 50%;
    }
    .folderButtonContent__48112 {
      transform: translateY(-50%);
    }
    &.isExpanded__48112 .folderButtonContent__48112 {
      transform: translateY(0);
    }
  }
  .folderGroup__48112 .stack_dbd263 .listItem__650eb,
  .tutorialContainer__1f388,
  .tutorialContainer__650eb,
  .tutorialContainer__650eb + .listItem__650eb,
  .scroller_ef3116 > .stack_dbd263 > .listItem__650eb {
    .svg_cc5dd2,
    .wrapper_cc5dd2 {
      width: var(--guildbar-server-size) !important;
      height: var(--guildbar-server-size) !important;

      .childWrapper__6e9f8 > svg,
      .svg_cc5dd2,
      .wrapper_cc5dd2,
      foreignObject {
        width: 100% !important;
        height: 100% !important;
      }
    }
    .childWrapper__6e9f8,
    .icon__6e9f8,
    .svg_cc5dd2 > foreignObject {
      width: 100%;
      height: 100%;
      x: -4;
      y: -4;
    }
    .childWrapper__6e9f8 {
      font-size: 120%;
      line-height: 100%;
    }
    .childWrapperNoHoverBg__6e9f8 {
      background-color: var(--back-server-no-img);
    }
    .wrapper_cc5dd2:hover .childWrapperNoHoverBg__6e9f8 {
      background-color: var(--back-server-no-img-hover);
    }
  }
  .folderGroup__48112 .stack_dbd263 .listItem__650eb {
    .childWrapperNoHoverBg__6e9f8 {
      background-color: var(--back-server-no-img-in-folder);
    }
    .wrapper_cc5dd2:hover .childWrapperNoHoverBg__6e9f8 {
      background-color: var(--back-server-no-img-hover-in-folder);
    }
  }
}
@media (max-width: 800px) {
  .guilds__5e434 {
    height: calc(100% - var(--guild-margin-bottom) - 54px);
  }
  .wrapper_e131a9,
  .container__37e49 {
    width: var(--custom-guild-list-width) !important;

    &:hover {
      width: fit-content !important;
    }
    .avatarWrapper__37e49 {
      padding: 0 !important;
    }
  }
}
@media (max-width: 400px) {
  .guilds__5e434 {
    position: fixed;
    height: calc(100vh - var(--custom-app-panels-height, 0) - 32px) !important;
    top: 32px;
    margin-top: 0 !important;
    background-color: var(--back-sidebar) !important;
    z-index: 101;
    width: 0 !important;

    .tutorialContainer__1f388 {
      width: 53px;
      top: 36px !important;
      z-index: 101;

      .listItem__650eb {
        width: 53px;
      }
    }
  }
  .guilds__5e434:has(~ .sidebarList__5e434:hover),
  .guilds__5e434:has(~ .sidebarList__5e434 .container__2637a:hover),
  .guilds__5e434:has(~ .sidebarList__5e434 .privateChannels_e6b769:hover),
  .guilds__5e434:hover {
    width: var(--custom-guild-list-width) !important;

    .tutorialContainer__1f388 {
      position: relative;
      top: 4px !important;
    }
  }
  .container__2637a,
  .privateChannels_e6b769 {
    left: var(--custom-guild-list-width);
    top: calc(32px + 48px) !important; /* title bar + chat header */
    height: calc(100% - 32px - 48px) !important;
    border-right: 0 !important;
  }
  .guilds__5e434 + .sidebarList__5e434 .container__2637a:hover,
  .guilds__5e434 + .sidebarList__5e434 .privateChannels_e6b769:hover {
    width: calc(100% - var(--custom-guild-list-width));
  }
}