/*Member List*/
.f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap,
.f75fb00fb7356cbe-content > .c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap,
#app-mount .ChannelDms-channelmembers-wrap,
.bd-transparency #app-mount aside.c8ffbb79449f399c-membersWrap {
  background-color: rgb(var(--back-memberlist), var(--back-memberlist-opacity));
}
._91a9d7f7e5248a56-container,
.c8ffbb79449f399c-container,
.c8ffbb79449f399c-members,
.c8ffbb79449f399c-members > div {
  background-color: transparent;

  ._5d473ecff348c314-member {
    margin: 0;
  }
}
.c8ffbb79449f399c-members {
  padding-left: 8px;

  .c8ffbb79449f399c-membersGroup {
    padding-left: 8px;
  }
}
@media (min-width: 801px) {
  .c8ffbb79449f399c-container {
    min-width: unset;
    max-width: unset;
    width: var(--memberlist-no-hover-width);
    min-height: 100%;
    transition: all var(--animation-duration-3);

    .c8ffbb79449f399c-members,
    .c8ffbb79449f399c-membersWrap {
      width: 100% !important;
    }
  }
  .c8ffbb79449f399c-container:hover {
    width: var(--memberlist-hover-width);
    min-width: unset;
  }
}
@media (max-width: 800px) {
  .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap,
  .f75fb00fb7356cbe-content > .c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap,
  #app-mount .ChannelDms-channelmembers-wrap {
    position: fixed;
    right: 0;
    overflow: hidden;
    height: calc(100% - 64px);
    width: var(--memberlist-hover-width);
    max-height: unset;
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    z-index: 1;
    transform: translateX(calc(100vw - var(--memberlist-no-hover-width)));
    transition: transform var(--animation-duration-5);
  }
  .f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap:hover,
  .f75fb00fb7356cbe-content > .c8ffbb79449f399c-container:hover .c8ffbb79449f399c-membersWrap,
  #app-mount .ChannelDms-channelmembers-wrap:hover {
    transform: translateX(0px);
  }
  .c8ffbb79449f399c-membersWrap:not(#dv-mount),
  .c8ffbb79449f399c-membersWrap:not(#dv-mount) > div {
    width: 100vw;
  }
  ._5d473ecff348c314-member {
    max-width: calc(100% - 16px);
  }
  .c8ffbb79449f399c-container {
    width: 0px;
  }
}