/*Message Stuff*/
#app-mount .scrollerContent__36d07 .message__5126c {
  transition: background-color var(--animation-duration-2);
}
#app-mount .scrollerContent__36d07 .message__5126c:hover {
  background-color: var(--message-hover);
}
/*Message Hover Buttons*/
.message__5126c:hover .buttons__5126c {
  opacity: 1;
  pointer-events: auto;
}
.buttons__5126c {
  transition: opacity var(--animation-duration-2);
}
.message__5126c .popoverReactionHoverBar_f84418 {
  background: var(--message-buttons-bg) !important;
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  box-shadow: unset;
}
@media (max-width: 800px) {
  /*Message Stuff*/
  .cozy_c19a55.wrapper_c19a55 .StatusEverywhereV2-Avatar,
  .cozy_c19a55.wrapper_c19a55 .avatar_c19a55 {
    transform: scale(0.75);
    left: 4px;
  }
  .avatarDecoration_c19a55 {
    transform: scale(0.75);
    left: 4px;
  }
  .cozy_c19a55.wrapper_c19a55 {
    padding-left: 50px;
  }
  /*Message Hover Buttons*/
  .buttons__5126c {
    transform: scale(0.75);
    transform-origin: right;
  }
}
/*Jump te present bar*/
#app-mount .jumpToPresentBar__0f481 {
  background-color: var(--jump-to-present-bar);
  backdrop-filter: blur(2px);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  min-height: unset;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--jump-to-present-bar-hover);
  }
  &::before {
    content: unset;
  }
}
/*Typing Status*/
#app-mount .chat_f75fb0 form.form_f75fb0 {
  .channelBottomBarArea_f75fb0:focus-within ~ .typing_b88801,
  .channelBottomBarArea_f75fb0:hover ~ .typing_b88801 {
    border-bottom: 0;
    padding-bottom: 1px;
  }
  .typing_b88801 {
    background-color: var(--back-color-boxes);
    bottom: 100%;
    padding-left: 10px;
    overflow: hidden;
    width: fit-content;
    display: -webkit-box;
    padding-right: 10px;
    padding-top: 0px;
    border-radius: var(--border-radius-xl);
    opacity: 1;
    text-overflow: ellipsis;
    z-index: 2;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--border-color-1), var(--border-opacity-1));
  }
}
