/*Message Stuff*/
#app-mount ._36d072eab2b2e737-scrollerContent ._5126c0cd07f243a0-message {
  transition: background-color var(--animation-duration-2);
}
#app-mount ._36d072eab2b2e737-scrollerContent ._5126c0cd07f243a0-message:hover {
  background-color: var(--message-hover);
}
/*Message Hover Buttons*/
._5126c0cd07f243a0-message:hover ._5126c0cd07f243a0-buttons {
  opacity: 1;
  pointer-events: auto;
}
._5126c0cd07f243a0-buttons {
  transition: opacity var(--animation-duration-2);
}
._5126c0cd07f243a0-message .popoverReactionHoverBar_f84418 {
  background: var(--message-buttons-bg) !important;
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  box-shadow: unset;
}
@media (max-width: 800px) {
  /*Message Stuff*/
  .c19a557985eb7793-cozy.c19a557985eb7793-wrapper .StatusEverywhereV2-Avatar,
  .c19a557985eb7793-cozy.c19a557985eb7793-wrapper .c19a557985eb7793-avatar {
    transform: scale(0.75);
    left: 4px;
  }
  .c19a557985eb7793-cozy.c19a557985eb7793-wrapper {
    padding-left: 50px;
  }
  /*Message Hover Buttons*/
  ._5126c0cd07f243a0-buttons {
    transform: scale(0.75);
    transform-origin: right;
  }
}
/*Jump te present bar*/
#app-mount ._0f481cbbd7530492-jumpToPresentBar {
  background-color: var(--jump-to-present-bar);
  backdrop-filter: blur(2px);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  min-height: unset;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--jump-to-present-bar-hover);
  }
  &::before {
    content: unset;
  }
}
/*Typing Status*/
#app-mount .f75fb00fb7356cbe-chat form.f75fb00fb7356cbe-form {
  .f75fb00fb7356cbe-channelBottomBarArea:focus-within ~ .b8880176888cc928-typing,
  .f75fb00fb7356cbe-channelBottomBarArea:hover ~ .b8880176888cc928-typing {
    border-bottom: 0;
    padding-bottom: 1px;
  }
  .b8880176888cc928-typing {
    background-color: var(--back-color-boxes);
    bottom: 100%;
    padding-left: 10px;
    overflow: hidden;
    width: fit-content;
    display: -webkit-box;
    padding-right: 10px;
    padding-top: 0px;
    border-radius: var(--border-radius-xl);
    opacity: 1;
    text-overflow: ellipsis;
    z-index: 2;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--border-color-1), var(--border-opacity-1));
  }
}