/*Thanks to davart154 for making this*/
.visual-refresh-chat-input {
  ._36d072eab2b2e737-scrollerSpacer._36d072eab2b2e737-scrollerSpacer {
    height: 30px;
  }
  ._0f481cbbd7530492-bottomBar._0f481cbbd7530492-bottomBar {
    bottom: 16px;
  }
  .f75fb00fb7356cbe-channelBottomBarArea.f75fb00fb7356cbe-channelBottomBarArea {
    margin: 0;
  }
  .f75fb00fb7356cbe-formWithLoadedChatInput:before {
    display: none;
  }
  ._740174f3d6a2c8fe-channelTextArea._740174f3d6a2c8fe-channelTextArea {
    display: grid;
    grid-template-areas:  "floatingBars floatingBars floatingBars floatingBars"
                          "stackedBars stackedBars stackedBars stackedBars"
                          "stickers stickers stickers stickers"
                          "stickerSep stickerSep stickerSep stickerSep"
                          "attachmentBar attachmentBar attachmentBar attachmentBar"
                          "accessoryLeft textBar accessoryRight sendButton";
    grid-template-columns: [start] min-content [textBar-start] 1fr [textBar-end] min-content [end];
  }
  ._5126c0cd07f243a0-messageListItem {._740174f3d6a2c8fe-channelTextArea._740174f3d6a2c8fe-channelTextArea {
    grid-template-areas:  "textBar accessoryRight sendButton"
                          "accessoryLeft accessoryLeft accessoryLeft";
    grid-template-columns: [start] 1fr [textBar-start] min-content [textBar-end] min-content [end];

    .accessoryBarLeft__74017.accessoryBarLeft__74017 {
      margin: 0;
      padding-left: var(--space-6);
      padding-right: var(--space-6);
      box-sizing: border-box;

      .bab7519355c8eed6-operations {
        padding: var(--space-6) var(--space-4);
        border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
      }
    }
  }
  }

  ._740174f3d6a2c8fe-floatingBars {
    grid-area: floatingBars;
  }
  ._740174f3d6a2c8fe-stackedBars {
    grid-area: stackedBars;
  }
  ._740174f3d6a2c8fe-scrollableContainer, .accessoryBar__74017.accessoryBar__74017 {
    display: contents;
  }
  .a4cf0b7f9c0b1603-stickerPreviews {
    grid-area: stickers;
  }
  .a4cf0b7f9c0b1603-stickerPreviewDivider {
    grid-area: stickerSep;
    margin-right: 16px;
  }
  .b77158512e0ab116-channelAttachmentArea {
    grid-area: attachmentBar;
  }

  .accessoryBarLeft__74017.accessoryBarLeft__74017 {
    grid-area: accessoryLeft;
    margin-left: 14px;
    margin-right: -12px;
    position: unset;
  }

  ._0923f156a0410684-attachButton._0923f156a0410684-attachButton {
    padding: 10px 16px;
    position: sticky;
    top: 0;
  }
  ._0923f156a0410684-attachButtonInner {
    height: 24px;
    > svg {
      width: 24px;
      height: 24px;
    }
  }
  ._1a58aeaaf7cc4963-wrapper, .ca5f52b68137f12b-wrapper {
    margin-right: 16px;
  }

  ._740174f3d6a2c8fe-inner {
    display: contents;
  }
  ._740174f3d6a2c8fe-textArea {
    grid-area: textBar;
    min-height: 54px;
    height: unset !important;
    max-height: 144px;
    overflow: hidden scroll;
    margin-right: 4px;
    padding-left: 12px;
  }
  ._5126c0cd07f243a0-messageListItem {
    ._5126c0cd07f243a0-channelTextArea {
      background-color: transparent;
      box-shadow: unset;
      border: 0;
      border-width: 1px;
      box-sizing: border-box;
      border-style: solid;
      border-color: transparent;
      background-color: transparent;
      transition: border-color var(--animation-duration-3), background-color var(--animation-duration-3);
      border-radius: var(--border-radius-m);

      ._740174f3d6a2c8fe-textArea {
        min-height: unset;
      }
      &:focus-within,
      &:hover {
        background-color: var(--channeltextarea-background);
        border-color: rgb(var(--border-color-1), var(--border-opacity-1));
      }
    }
  }
  ._1b31f471f0bb10ab-placeholder {
    padding-left: 12px !important;
  }
  ._740174f3d6a2c8fe-textArea::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-track {
    margin: 8px 0;
  }
  ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-thumb {
    background-color: var(--interactive-normal);
    border-radius: 2px;
    cursor: move;
  }

  .accessoryBarRight__74017.accessoryBarRight__74017 {
    grid-area: accessoryRight;
    width: fit-content;
    display: flex;
    margin-right: 12px;
  }

  ._24af7f4d0326ba4f-buttonWrapper > ._5eb9b3cc7c2b1ce8-lottieIcon, .buttonContents_e6e74f > ._5eb9b3cc7c2b1ce8-lottieIcon {
    width: 24px !important;
    height: 24px !important;
  }
  ._04eede68d145ae81-spriteContainer {
    --custom-emoji-sprite-size: 24px !important;
  }

  .rightAccessories__74017.rightAccessories__74017 {
    grid-area: sendButton;
    max-height: unset;
    &:empty {
      display: none;
    }
    .aa63abf63dbd9cce-buttonContainer {
      margin-right: 8px;
    }
  }
  .aa63abf63dbd9cce-separator.aa63abf63dbd9cce-separator {
    margin: 0;
  }

  .b8880176888cc928-base.b8880176888cc928-base {
    position: absolute;
    bottom: calc(var(--custom-chat-input-margin-bottom) * -1);
    left: 0;
    right: 0;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    overflow-y: hidden;
    color: var(--text-normal);
    margin: 0;
  }
  .activityInviteEducationLeftArrow_b88801.activityInviteEducationLeftArrow_b88801 {
    margin: 0 2px 0 24px;
    padding: 0;
    width: 15px;
    height: 15px;
    > path {
      d: path("m13.1 7.1-1.42 1.42-3.58-3.5899v9.1699h10v2h-12v-11.1699l-3.58 3.5899-1.42-1.42 6-6z");
      fill: currentColor;
    }
  }
  .b216994de061a9e2-cooldownWrapper {
    position: absolute;
    bottom: calc(var(--custom-chat-input-margin-bottom) * -1);
    right: 0;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    overflow-y: hidden;
    color: var(--text-normal);
    margin: 0;
  }
  .b216994de061a9e2-cooldownText {
    color: inherit !important;
  }

  .bab7519355c8eed6-operations {
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
  }
}