#app-mount ._5e434347c823b592-panels {
  display: block;
  overflow: visible !important;
  border: 0;
  border-radius: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  position: relative;
  border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  width: var(--sidebar-no-hover-width, 60px);
  transition: width var(--animation-duration-3, 0.5s);

  &:hover {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;

    ._37e49614b9f110a9-container {
      ._37e49614b9f110a9-nameTag {
        opacity: 1;
      }
      ._37e49614b9f110a9-avatarWrapper {
        margin-left: 0;
      }
    }
  }

  & > * {
    background-color: var(--back-user-area) !important;
  }
  & > *:hover {
    background-color: var(--back-user-area-hover) !important;
  }
  ._37e49614b9f110a9-container {
    padding: 10px;
    border-top: 1px solid transparent;
    border-radius: 0;
    height: 53px;
    box-sizing: border-box;

    &:hover {
      border: 0;
      border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    }
    ._44b0c28be7879b7b-avatarDecoration {
      top: -7px;
      left: -7px;
    }
    ._37e49614b9f110a9-avatarWrapper {
      background: transparent;
      padding: var(--space-6) var(--space-8);
      box-sizing: border-box;
      margin: 0;

      ._44b0c28be7879b7b-wrapper {
        width: 32px !important;
        height: 32px !important;

        ._44b0c28be7879b7b-mask {
          width: 40px;
          height: 40px;
        }
      }
      ._37e49614b9f110a9-nameTag {
        margin: 0;
      }
    }
  }
}
@media (max-width: 800px) {
  #app-mount div ._5e434347c823b592-panels ._37e49614b9f110a9-container:hover {
    border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    border-top-right-radius: var(--border-radius-xl);
    backdrop-filter: blur(2px);
  }
  ._5e434347c823b592-activityPanel {
    margin-bottom: 0;
    width: var(--custom-guild-list-width);
    box-sizing: border-box;

    &:hover {
      width: fit-content;
    }
  }
  .e131a99484292a19-wrapper {
    &:not(:hover) {
      width: var(--custom-guild-list-width);

      .e131a99484292a19-container {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        gap: 0;

        .e131a99484292a19-inner {
          width: 100%;
          ._06d6249a1f2584ac-rtcConnectionStatusWrapper > a {
            display: none;
          }
        }
        .e131a99484292a19-voiceButtonsContainer {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          button {
            margin: 0;
          }
        }
        .e131a99484292a19-connection {
          display: flex;
          flex-direction: column;
          justify-content: center;

          ._06d6249a1f2584ac-rtcConnectionStatusWrapper {
            padding: 0 5px;
          }
          ._06d6249a1f2584ac-labelWrapper {
            width: 100%;
            text-overflow: ellipsis;

            button,
            button * {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .e131a99484292a19-actionButtons {
          button {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #app-mount._51fd70792ee2e563-appMount ._5e434347c823b592-panels {
    width: fit-content !important;
  }
}