#app-mount ._960e4207cea8323e-layers>._960e4207cea8323e-layer:not(._960e4207cea8323e-baseLayer) {
  .a36dee84341ac9f5-tiers {
    .a36dee84341ac9f5-tier {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      .a36dee84341ac9f5-tierHeaderLocked {
        background: var(--back-color-boxes);
        border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      }
    }
  }
  ._3e7e2b8d60dda075-testimonialHeroContainer,
  .eae0ef2ab2653087-safetyChecklist,
  .b440119daa5af4d6-card,
  .d9161fe9b78d5bb9-upsellPreview,
  ._730694f5672c9601-card,
  ._8336162d3e89459e-card,
  .eafb9cc569d6dcbd-card,
  ._73000d97b1b29da5-upsellContainer,
  .ebafdde0cbd6bae3-card,
  .dc2e447a66129ac2-card,
  .d8f25bf4f76423e6-container,
  .dca174a2baed7ac1-container,
  .aa8da23faa27393c-selected ._959cbfbb20fb39e8-joinOptionContent,
  ._959cbfbb20fb39e8-joinOptions,
  ._926775445e7c239a-rules {
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  ._73000d97b1b29da5-upsellFooter {
    border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .d9161fe9b78d5bb9-upsellPreview,
  ._3e7e2b8d60dda075-testimonialHeroContainer,
  .d8f25bf4f76423e6-container,
  ._926775445e7c239a-rules,
  .aa8da23faa27393c-selected ._959cbfbb20fb39e8-joinOptionContent {
    background: var(--back-color-boxes);
  }
}
#app-mount .dca174a2baed7ac1-container {
  background-color: var(--back-color-boxes) !important;
  backdrop-filter: blur(2px);
}