#app-mount .layers__960e4>.layer__960e4:not(.baseLayer__960e4) {
  .tiers_a36dee {
    .tier_a36dee {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      .tierHeaderLocked_a36dee {
        background: var(--back-color-boxes);
        border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      }
    }
  }
  .testimonialHeroContainer__3e7e2,
  .safetyChecklist_eae0ef,
  .card_b44011,
  .upsellPreview_d9161f,
  .card__73069,
  .card__83361,
  .card_eafb9c,
  .upsellContainer__73000,
  .card_ebafdd,
  .card_dc2e44,
  .container_d8f25b,
  .container_dca174,
  .selected_aa8da2 .joinOptionContent__959cb,
  .joinOptions__959cb,
  .rules__92677 {
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .upsellFooter__73000 {
    border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .upsellPreview_d9161f,
  .testimonialHeroContainer__3e7e2,
  .container_d8f25b,
  .rules__92677,
  .selected_aa8da2 .joinOptionContent__959cb {
    background: var(--back-color-boxes);
  }
}
#app-mount .container_dca174 {
  background-color: var(--back-color-boxes) !important;
  backdrop-filter: blur(2px);
}