#app-mount .layers__960e4>.layer__960e4:not(.baseLayer__960e4) {
  .tiers_f15dca {
    .tier_f15dca {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      .tierHeaderLocked_f15dca {
        background: var(--back-color-boxes);
        border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      }
    }
  }
  .testimonialHeroContainer__3e7e2,
  .safetyChecklist_eae0ef,
  .card_b44011,
  .upsellPreview_d9161f,
  .card__73069,
  .card__83361,
  .card_eafb9c,
  .upsellContainer__4cfe2,
  .card_ebafdd,
  .card_dc2e44,
  .container_d8f25b,
  .container__86ab2,
  .selected_b3f026 .joinOptionContent__959cb,
  .joinOptions__959cb,
  .rules__92677 {
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .upsellFooter__4cfe2 {
    border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .upsellPreview_d9161f,
  .testimonialHeroContainer__3e7e2,
  .container_d8f25b,
  .rules__92677,
  .selected_b3f026 .joinOptionContent__959cb {
    background: var(--back-color-boxes);
  }
}