.c38106a3f0c3ca76-bar {
  border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  box-sizing: border-box;
  padding: 0;
}
.c38106a3f0c3ca76-bar:has(> #channelTabs-container)::after {
  display: none;
}
.c38106a3f0c3ca76-bar::after {
  content: var(--title-bar-content);
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--title-bar-color);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 13px;
  font-weight: bold;
}
.c38106a3f0c3ca76-title {
  path,
  ._4bd5201c86a2042b-defaultColor {
    color: var(--title-bar-color);
    fill: var(--title-bar-color);
  }
}
.c38106a3f0c3ca76-leading,
.c38106a3f0c3ca76-trailing {
  gap: 0;
}
@media (max-width: 800px) {
  .c38106a3f0c3ca76-bar::after {
    display: none;
  }
  .c38106a3f0c3ca76-bar {
    .c38106a3f0c3ca76-title {
      position: static;
      margin-left: 10px;
    }
  }
}