._5e434347c823b592-sidebar {
  /*Unread */
  ._908e20001ad67812-isUnread {
    border-color: transparent;
  }
  ._908e20001ad67812-unreadPillCapStroke {
    fill: transparent;
    color: transparent;
  }
  ._908e20001ad67812-divider._908e20001ad67812-isUnread ._908e20001ad67812-unreadPillCap {
    display: none;
  }
  ._908e20001ad67812-divider._908e20001ad67812-isUnread:after {
    margin-left: 30px;
    background: linear-gradient(
      to right,
      var(--unread-message-line) 50%,
      transparent
    );
  }
  ._908e20001ad67812-unreadPill {
    display: flex !important;
    color: var(--unread-message) !important;
  }
  .e5445cbd3ad226f2-pill {
    overflow: visible;

    ._581051df43c5ebb6-item {
      background-color: var(--unread-pill);
      animation-name: channel-unread-1;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }
  ._2ea32c412048f708-unread {
    width: 4px;
    top: 13px;
    left: -8px;
    margin-top: 0;
    height: 6px;
    background-color: var(--unread-pill);
    animation-name: channel-unread-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  ._581051df43c5ebb6-item {
    background-color: var(--unread-pill);
  }
}
@keyframes channel-unread-1 {
  0% {
    box-shadow: 0 0 0 0 var(--unread-pill-shadow);
  }
  35% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}