#app-mount {
  .gradientBackground__11664 {
    display: none;
  }
  /* Stages */
  ._722ffae0e1be2672-container {
    ._722ffae0e1be2672-sidebarVisible {
      margin: 0;
    }
    ._71eb2d6ae9535ae3-tileContainer {
      border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
    }
    ._664ffc673b75c994-container {
      border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-0);
    }
    .bfe55a0aaaf62375-videoControls {
      padding: 0;
      padding-bottom: 16px;
      
      .bfe55a0aaaf62375-controlSection.bfe55a0aaaf62375-topControls {
        transform: unset;
        opacity: 1;

        ._4783ab18e518acc0-participants {
          padding: 8px 16px;
        }
        ._4783ab18e518acc0-sidebarOpen {
          margin: 0;
        }
      }
      .bfe55a0aaaf62375-controlSection.bfe55a0aaaf62375-bottomControls {
        padding: 0 16px;
        width: 100%;
        box-sizing: border-box;
        transform: unset;
        opacity: 1;
      }
      .bfe55a0aaaf62375-gradientBottom {
        display: none;
      }
    }
  }
}