/**
 * @name         Alan Walker Theme
 * @description  dark theme with Alan Walker's logo as background, credit to DevilBro#4401 for settingsicons, credit to Nyria#3863 for userbuttons in the serverbar and spotifyControls
 * @author       lolpowerluke
 * @version      1.1.3
 * @source       https://github.com/lolpowerluke/discordtheme/blob/main/alanWalker.theme.css
 * @website      https://github.com/lolpowerluke
 * @invite       GwjrQVDNJ2
*/

@import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/main.css');
/*all variables here*/
:root {
  /*title bar*/
  --title-bar-color: rgb(116, 116, 116); /*change to --title-bar-color*/

  /*Theme Dependent Stuff*/
  --title-bar-content: "DISCORD (Alan Walker Theme)";
  --main-background: url('https://i.imgur.com/tt9snCk.png?1') center right no-repeat;
  --back-selected-dm-pic: url('https://i.imgur.com/tmY77W1.png') center left no-repeat;
  --home-button-background: url('https://i.imgur.com/PrJ5xwf.png');
  --back-pos-dm: -25px;
  --home-button-background-size: 45px;

  /*Other Stuff*/
  --crash-screen-image: url('https://i.imgur.com/z6YF9bI.png');

  /*USRBG*/
  --USRBG-popout-background: url('https://i.imgur.com/tt9snCk.png?1'); /*fallback background for if the user has no usrbg set*/

  /*borders*/
  --border-color-1: 116, 116, 116;
  --border-color-hover: 0, 0, 255;
  --border-opacity-1: 0.5;
  --border-opacity-hover: 0.8;

  /*boxes*/
  --back-color-boxes: rgba(73, 73, 73, 0.2);
  --back-color-boxes-hover: rgba(90, 90, 90, 0.4);
  --back-color-danger-boxes: rgba(255, 0, 0, 0.5);
  --back-color-danger-boxes-hover: rgba(255, 0, 0, 0.7);

  /*buttons*/
  --back-color-danger-button: red;
  --back-color-button: #008549fa;
  
  /*switches*/
  --switch-off: rgba(255, 0, 0, 0.5);
  --switch-on: rgba(0, 0, 255, 0.829);

  /*badges*/
  --back-color-number-badges: rgb(177, 179, 199);

  /*playing card border color*/
  --playing-card-border: rgb(88, 88, 88);
  --spotify-color: rgb(0, 255, 0);
  --separator: 77, 77, 77;

  --back-user-buttons: rgba(255, 255, 255, 0.116);
  --selected-dm-color: rgba(112, 112, 112, 0.658);

  /*unread pill*/
  --unread-pill: rgb(145, 145, 151);
  --unread-pill-shadow: rgb(255, 255, 255);

  /*plugin colors*/
  --permission-header: rgb(0, 0, 0);
  --permission-role-side: rgba(0, 0, 0, 0.575);
  --permission-perm-side: rgba(0, 0, 0, 0.678);
  --image-utils-back: black;
  --image-utils-border: rgb(59, 59, 59);

  /*status colors*/
  --online: rgb(0, 255, 0);
  --idle: rgb(255, 166, 0);
  --dnd: rgb(255, 0, 0);
  --offline: #747f8d;
  --streaming: #a068ff;

  /*discords integrated colors*/
  --interactive-normal: white;
  --interactive-active: white;
  --interactive-hover: white;
  --channels-default: white;
  --background-primary: rgba(0, 0, 0, 0.514);
  --background-secondary: rgba(35, 35, 39, 0.267);
  --background-secondary-alt: var(--back-color-boxes);
  --background-tertiary: rgb(1, 0, 5);
  --background-floating: rgb(63, 63, 63);
  --background-mentioned: rgba(255, 0, 0, 0.281);
  --info-warning-foreground: red;

  /*server folders*/
  --back-server-folder-icon: rgba(0, 17, 255, 0.397);
  --back-expanded-server-folder: rgba(4, 0, 255, 0.349);

  /*other stuff*/
  --channeltextarea-background: rgba(0, 10, 148, 0.425);
  --user-buttons-spacing: 8px;
  --back-color: rgb(0, 0, 0);
  --gr-dm-headers: linear-gradient(to right, transparent, rgb(83, 83, 83));
  --back-selected-dm: black;
  --text-link: #00ff15;
  --text-link-back: black;
  --text-focus: white;
  --back-account: black;
  --standard-account-height: 52px;
  --popout-header: rgba(0, 4, 255, 0.384);
  --popout-scroller: rgba(0, 4, 255, 0.247);
  --create-server: rgba(0, 0, 0, 0.911);
  --create-server-text-color: rgb(255, 255, 255);
  --create-server-choices: black;
  --create-server-choices-border: rgb(255, 0, 0);
  --create-server-footer-button: black;
  --create-server-footer-button-hover: rgba(255, 255, 255, 0.123);
  --upload-popout-footer: rgba(0, 0, 0, 0.644);
  --upload-popout-top: rgb(0, 0, 0);
  --upload-popout-seperator: rgb(255, 255, 255);
  --back-color-search-bar: rgba(0, 0, 255, 0.349);
  --screen-share-main: rgba(0, 0, 0, 0);
  --avatar-radius: 5px;
  --role-circle: 5px;
  --message-hover: rgba(95, 95, 95, 0.267);
  --typing-border: rgb(122, 122, 122);
  --border-zoom: rgb(121, 121, 121);

  /*menu*/
  --menu-item-hover-color: rgb(170, 170, 170);
  
  /*user popouts*/
  --big-user-popout: black;
  --big-user-popout-body: black;
  --big-user-popout-topsection: black;
  --big-user-popout-avatar: black;
  --user-popout: black;
  --user-popout-alt: rgba(0, 0, 255, 0.24);

  /*scroller (I think)*/
  --back-color-menu: black;

  /* message separator*/
  --message-separator-line: rgba(17, 0, 255, 0.5);
  --unread-message: rgb(255, 0, 0);
  --unread-message-line: rgb(255, 0, 0);

  /*emoji & gif*/
  --back-button-gifemoji-picker: rgba(0, 0, 255, 0.5);
  --popup-emoji-size: 180px;

  /*other stuff I tried to make work*/
  --scrollbar-auto-scrollbar-color-thumb: red;
  --scrollbar-auto-scrollbar-color-track: blue;

  /*Link Preview*/
  --linkpreview-background: transparent;

  /*Version*/
  --version-1-1-3: none;
  
  /*other*/
  --backdrop: hsl(0, 0%, 0%, 0.6);
  
  /*smallDMchannelList*/
  --channel-name-no-hover-margin: 15px; /*15px for hidding the name, 0px for showing the name*/
  --channel-name-no-hover-opacity: 0; /*0 for hiding the name, 1 for showing the name*/
  --siderbar-no-hover-width: 60px; /*60px for just the channelIcon, 80px for the 1st 2/3 letters of the channel names*/
}
