/*Originaly made by davart154 (github), slightly edited by me*/
.cf09d85aafe7e124-wrapperAudio.cf09d85aafe7e124-wrapperAudio {
  border: 0;
  border-radius: var(--border-radius-0);
  background-color: var(--background-secondary);
  height: 56px !important;
  padding: 12px;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 12px;
    width: 32px;
    height: 32px;
    transition: margin var(--animation-duration-1), height var(--animation-duration-1), width var(--animation-duration-1),  border-radius var(--animation-duration-1);
    background: var(--brand-500);
    border-radius: var(--border-radius-xxl);
  }

  >* {
    z-index: 1;
  }
  .cf09d85aafe7e124-videoButton {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    position: absolute;
    top: -30px;
    transition: var(--animation-duration-2);
  }
  .abf7060e6f2beabe-flex {
    background-color: var(--brand-500);
    border-radius: var(--radius-round);
    margin-left: 4px;
    margin-top: -34px;
    order: 2;
    transition: var(--animation-duration-2);
  }
  .b26b790fd1005393-horizontal {
    margin-left: 40px;
    margin-right: 12px;
    width: 127px;
    .b26b790fd1005393-mediaBarWrapper {
      box-shadow: unset;
      margin-top: 3px;
      height: 3px;
    }
  }
  .cf09d85aafe7e124-durationTimeWrapper {
    margin-left: -4px;
    margin-top: -10px;
    min-width: 57px;
    order: 1;
    transition: var(--animation-duration-2);
    span {
      font-family: var(--font-primary);
    }
  }
}
.cf09d85aafe7e124-wrapperAudio:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"]) {
  &:before {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: margin var(--animation-duration-1), height var(--animation-duration-1), width var(--animation-duration-1);
    border-radius: var(--border-radius-0);
  }
  .cf09d85aafe7e124-metadataDownload {
    color: var(--white);
  }
  .cf09d85aafe7e124-metadataSize {
    color: hsl(var(--white-500-hsl) / .8);
  }
  .cf09d85aafe7e124-videoButton, .abf7060e6f2beabe-flex {
    background-color: var(--white);
  }
  .cf09d85aafe7e124-controlIcon {
    color: var(--brand-500);
  }
  .b26b790fd1005393-mediaBarProgress, .b26b790fd1005393-mediaBarProgress:before, .b26b790fd1005393-mediaBarProgress:after {
    background-color: var(--white);
  }
  .b26b790fd1005393-mediaBarGrabber {
    background-color: var(--white);
  }
}
.cf09d85aafe7e124-wrapperAudio + ._06ab41fd2ef7af3f-hoverButtonGroup {
  right: unset;
  left: calc(100% - 12px);
}

.cf09d85aafe7e124-audioMetadata {
  margin-left: 36px;
  margin-top: -4px;
  &:before {
    display: none;
  }
}
.cf09d85aafe7e124-metadataDownload, .cf09d85aafe7e124-metadataSize, .cf09d85aafe7e124-controlIcon {
  transition: var(--animation-duration-2);
}
.cf09d85aafe7e124-audioMetadata .cf09d85aafe7e124-metadataDownload {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  height: unset;
  display: block;
}

.cf09d85aafe7e124-audioControls {
  background: unset;
  margin-top: 0;
  margin-bottom: -4px;
}
.cf09d85aafe7e124-controlIcon {
  opacity: .8;
}
.b26b790fd1005393-mediaBarProgress, .b26b790fd1005393-mediaBarProgress:before, .b26b790fd1005393-mediaBarProgress:after {
  transition: background-color var(--animation-duration-2);
}
.theme-light .cf09d85aafe7e124-wrapperAudio:not(:has([d="M6 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H6ZM15 4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-3Z"])) .cf09d85aafe7e124-durationTimeWrapper {
  color: #000;
}