/*Big User Popout*/
.focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 980px;
  background-color: var(--big-user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  height: 100%;
  min-height: 500px;
}
@media (max-height: 600px) {
  .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj {
    min-height: unset;
  }
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .topSection-13QKHs > header {
  display: flex;
  flex-direction: column;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .scrollerBase-_bVAAt {
  padding-right: 20px !important;
}
/*Backdrop*/
#app-mount .backdrop-2ByYRN {
  background: var(--backdrop) !important;
}
/*3 dots + Friendbutton*/
#app-mount .root-8LYsGj .relationshipButtons-3ByBpj {
  position: absolute;
  top: 192px;
  left: 80px;
}
/*Badges*/
#app-mount .root-8LYsGj .badgeList-2aoHPw {
  position: absolute;
  right: -745px;
  top: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
  padding: 0;
}
/*Profile Banner*/
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .profileBannerPremium-KD60EB,
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .profileBanner-1owKI5,
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .UserBackgrounds-banner-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 740px;
  height: 240px;
}
#app-mount .root-8LYsGj .UserBackgrounds-banner-arrow {
  background-color: rgba(0, 0, 0, 0.514);
}
#app-mount .root-8LYsGj .UserBackgrounds-banner-arrow.UserBackgrounds-banner-right {
  border-radius: 0px 8px 0px 8px;
}
#app-mount .root-8LYsGj .UserBackgrounds-banner-arrow.UserBackgrounds-banner-left {
  border-radius: 0px 0px 8px 0px;
}
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .topSection-13QKHs {
  background-color: var(--big-user-popout-topsection);
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .body-1Ukv50 {
  height: unset;
  margin-top: 240px;
  background-color:  var(--big-user-popout-body);
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  overflow-y: scroll ;
}
/*info/activity/server/friends*/
.focusLock-2tveLW[aria-label="User Profile Modal"] .tabBarContainer-sCZC4w {
  border-bottom: 0;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .tabBarContainer-sCZC4w .tabBar-2hXqzU {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .tabBarContainer-sCZC4w .tabBar-2hXqzU .tabBarItem-30Te4- {
  border: none;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .body-1Ukv50::-webkit-scrollbar {
  display: none;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB {
  height: 240px;
}
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .item-3XjbnG::before {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--text-normal);
  margin-right: 8px;
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=guild_roles-tab]:before {
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M182.3 52.08C354.6 52.08 462.29 52.08 505.36 52.08C519.87 52.08 530.49 65.77 526.88 79.82C515.3 124.89 485.04 242.71 472.8 290.37C470.56 299.08 462.72 305.16 453.73 305.16C417.54 305.16 327.06 305.16 182.3 305.16L182.3 52.08Z' id='a3OlRcMHb8'%3E%3C/path%3E%3Cpath d='M153.74 52.08C153.74 314.81 153.74 479.01 153.74 544.7C153.74 560.68 140.78 573.64 124.8 573.64C111.95 573.64 102.37 573.64 89.52 573.64C73.54 573.64 60.58 560.68 60.58 544.7C60.58 446.17 60.58 179.55 60.58 81.02C60.58 65.04 73.54 52.08 89.52 52.08C98.09 52.08 119.49 52.08 153.74 52.08Z' id='fyM7L9jGb'%3E%3C/path%3E%3Cpath d='M488.81 187.12L267.81 295.37C243.8 388.98 228.8 447.48 222.8 470.88C217.7 490.77 232.71 510.12 253.24 510.12C307.02 510.12 431.48 510.12 486.17 510.12C507.38 510.12 525.94 495.87 531.42 475.38C546.84 417.73 584.56 276.61 600.17 218.24C604.37 202.53 592.54 187.12 576.29 187.12C564.62 187.12 535.46 187.12 488.81 187.12Z' id='ivnsfZG5Q'%3E%3C/path%3E%3Cpath d='M148.98 52.08L190.46 52.08L190.46 80.64L148.98 80.64L148.98 52.08Z' id='ahEyYHPU0'%3E%3C/path%3E%3Cpath d='M137.41 276.6L199.31 276.6L199.31 305.16L137.41 305.16L137.41 276.6Z' id='e3CdZVzA8K'%3E%3C/path%3E%3Cpath d='M145.58 172.16L190.46 172.16L190.46 185.08L145.58 185.08L145.58 172.16Z' id='buKrUuywb'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a3OlRcMHb8' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23fyM7L9jGb' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23ivnsfZG5Q' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23ahEyYHPU0' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23e3CdZVzA8K' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23buKrUuywb' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M182.3 52.08C354.6 52.08 462.29 52.08 505.36 52.08C519.87 52.08 530.49 65.77 526.88 79.82C515.3 124.89 485.04 242.71 472.8 290.37C470.56 299.08 462.72 305.16 453.73 305.16C417.54 305.16 327.06 305.16 182.3 305.16L182.3 52.08Z' id='a3OlRcMHb8'%3E%3C/path%3E%3Cpath d='M153.74 52.08C153.74 314.81 153.74 479.01 153.74 544.7C153.74 560.68 140.78 573.64 124.8 573.64C111.95 573.64 102.37 573.64 89.52 573.64C73.54 573.64 60.58 560.68 60.58 544.7C60.58 446.17 60.58 179.55 60.58 81.02C60.58 65.04 73.54 52.08 89.52 52.08C98.09 52.08 119.49 52.08 153.74 52.08Z' id='fyM7L9jGb'%3E%3C/path%3E%3Cpath d='M488.81 187.12L267.81 295.37C243.8 388.98 228.8 447.48 222.8 470.88C217.7 490.77 232.71 510.12 253.24 510.12C307.02 510.12 431.48 510.12 486.17 510.12C507.38 510.12 525.94 495.87 531.42 475.38C546.84 417.73 584.56 276.61 600.17 218.24C604.37 202.53 592.54 187.12 576.29 187.12C564.62 187.12 535.46 187.12 488.81 187.12Z' id='ivnsfZG5Q'%3E%3C/path%3E%3Cpath d='M148.98 52.08L190.46 52.08L190.46 80.64L148.98 80.64L148.98 52.08Z' id='ahEyYHPU0'%3E%3C/path%3E%3Cpath d='M137.41 276.6L199.31 276.6L199.31 305.16L137.41 305.16L137.41 276.6Z' id='e3CdZVzA8K'%3E%3C/path%3E%3Cpath d='M145.58 172.16L190.46 172.16L190.46 185.08L145.58 185.08L145.58 172.16Z' id='buKrUuywb'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a3OlRcMHb8' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23fyM7L9jGb' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23ivnsfZG5Q' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23ahEyYHPU0' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23e3CdZVzA8K' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23buKrUuywb' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=user_info-tab]:before {
  -webkit-mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" /></svg>');
          mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" /></svg>');
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=blocked_users-tab]:before {
  -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M640 320C640 496.61 496.61 640 320 640C143.39 640 0 496.61 0 320C0 143.39 143.39 0 320 0C496.61 0 640 143.39 640 320Z' id='d27LJRXWBU'%3E%3C/path%3E%3CclipPath id='clipd1TVKpLuhd'%3E%3Cuse xlink:href='%23d27LJRXWBU' opacity='1'%3E%3C/use%3E%3C/clipPath%3E%3Cpath d='M125.38 78.53L563.43 516.57L538.99 541.01L100.94 102.97L125.38 78.53Z' id='a86gW8zc0'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg clip-path='url(%23clipd1TVKpLuhd)'%3E%3Cuse xlink:href='%23d27LJRXWBU' opacity='1' fill-opacity='0' stroke='%23ffffff' stroke-width='62' stroke-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a86gW8zc0' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='18' height='18'%3E%3Cdefs%3E%3Cpath d='M640 320C640 496.61 496.61 640 320 640C143.39 640 0 496.61 0 320C0 143.39 143.39 0 320 0C496.61 0 640 143.39 640 320Z' id='d27LJRXWBU'%3E%3C/path%3E%3CclipPath id='clipd1TVKpLuhd'%3E%3Cuse xlink:href='%23d27LJRXWBU' opacity='1'%3E%3C/use%3E%3C/clipPath%3E%3Cpath d='M125.38 78.53L563.43 516.57L538.99 541.01L100.94 102.97L125.38 78.53Z' id='a86gW8zc0'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg clip-path='url(%23clipd1TVKpLuhd)'%3E%3Cuse xlink:href='%23d27LJRXWBU' opacity='1' fill-opacity='0' stroke='%23ffffff' stroke-width='62' stroke-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a86gW8zc0' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=activity-tab]:before {
  -webkit-mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" /></svg>');
          mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" /></svg>');
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=guild_info-tab]:before,
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=mutual_guilds-tab]:before {
  -webkit-mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" /></svg>');
          mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" /></svg>');
}
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=friends-tab]:before,
#app-mount .root-8LYsGj .item-3XjbnG[aria-controls=mutual_friends-tab]:before {
  -webkit-mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" /></svg>');
          mask-image: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" /></svg>');
}
/*Note*/
#app-mount .input-2g-os5:hover,
#app-mount .input-2g-os5:focus {
  box-shadow: none;
  color: white;
  background: var(--back-color-boxes);
}
/*UserDetails*/
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .UserDetails-dates-wrapper {
  margin: 0;
}
#app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .nameTag-2Nlmsy {
  margin-top: 0;
}
/*Avatar*/
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB .avatar-3QF_VA {
  width: 210px !important;
  height: 210px !important;
  margin: 15px;
  border-radius: 20px;
  top: 0;
  left: 0;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB .avatar-3QF_VA rect {
  x: 110;
  y: 101;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB .avatar-3QF_VA > svg {
  width: 208px;
  height: 208px;
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB .avatarStack-3vfSFa .avatar-b5OQ1N {
  margin: 10px;
  width: 118px;
  height: 118px;
  border-radius: 10px;
  background-color: var(--big-user-popout-avatar);
}
.focusLock-2tveLW[aria-label="User Profile Modal"] .header-S26rhB .avatar-3QF_VA foreignObject {
  mask: none;
  border-radius: 20px;
  width: 138px;
  height: 138px;
  overflow: visible;
  y: -9;
}
.UserDetails-dates-wrapper {
  margin-top: 70px;
}
/*Connections*/
.connectedAccounts-1YaT2t {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}
.connectedAccount-1xKpli {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  transition: transform 0.1s;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.connectedAccount-1xKpli:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  margin-bottom: 2px;
}
#app-mount .root-8LYsGj .userInfoSection-2u2hir + .userInfoSection-2u2hir::before {
  content: "Connections";
  color: var(--text-normal);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}
.connectedAccountIcon-2vls0t {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountNameInner-t24B11 {
  margin-left: 13px;
}
[alt*="Facebook"] {
  background-color: #1da0f248;
}
[alt*="Twitch"] {
  background-color: #601bd852;
}
[alt*="YouTube"] {
  background-color: #d9252b49;
}
[alt*="Battle"] {
  background-color: #0098e446;
}
[alt*="GitHub"] {
  background-color: #ffffff34;
}
[alt*="Reddit"] {
  background-color: #fe44013d;
}
[alt*="Steam"] {
  background-color: #2e328485;
}
[alt*="Xbox"] {
  background-color: #1ed75f34;
}
[alt*="Spotify"] {
  background-color: #5dc21e42;
}
[alt*="League of Legends"] {
  background-color: #cea14638;
}
[alt*="Twitter"] {
  background-color: #39546e62;
}
/*Playing*/
.activityProfile-1712BN {
  margin: 0px 8px 15px 15px;
  padding: 10px;
  background: var(--back-color-boxes);
  border: 4px solid var(--playing-card-border);
  border-top: 0;
  border-bottom: 0;
  border-radius: 15px;
  box-shadow: none;
  top: 10px;
}
.buttonsWrapper-2ARRp1 {
  background-color: rgb(var(--back-user-buttons)) !important;
}
.button-TGAkj4 {
  background-color: var(--back-user-buttons);
  border-color: rgb(var(--border-color-1), var(--border-opacity-1)) !important;
  transition: 0.15s;
}
.button-TGAkj4:hover { 
  background-color: hsla(0,0%,100%,.1);
}
.button-TGAkj4:active {
  transform: scale(0.9);
}
/*USRBG*/
#app-mount .root-8LYsGj .body-1Ukv50 {
  background: var(--user-background) var(--big-user-popout-body);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.infoScroller-1QMpon {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.65);
}
.listScroller-entkMk {
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.65);
}
/*Small fixes realted to the screenWidth of the client*/
@media (max-width: 1040px) {
  #app-mount .root-8LYsGj  {
    width: 800px;
  }
  .connectedAccounts-1YaT2t {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .connectedAccount-1xKpli {
    margin: 0px;
    padding: 4px;
  }
  #app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .profileBannerPremium-KD60EB,
  #app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .profileBanner-1owKI5,
  #app-mount .focusLock-2tveLW[aria-label="User Profile Modal"] .root-8LYsGj .UserBackgrounds-banner-container {
    width: 560px;
  }
  .connectedAccountOpenIcon-1yfBsb {
    margin-right: 10px;
  }
  #app-mount .root-8LYsGj .badgeList-2aoHPw {
    right: -560px;
  }
}
