/*Big User Popout*/
.focusLock-Ns3yie .root-3QyAh1 {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 980px;
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  height: 100%;
}
.focusLock-Ns3yie .root-3QyAh1 .topSection-y3p-_D > header {
  display: flex;
  flex-direction: column;
}
/*Backdrop*/
#app-mount .backdrop-1wrmKB {
  background: var(--backdrop) !important;
}
/*3 dots + Friendbutton*/
#app-mount .root-3QyAh1 .relationshipButtons-pUQVkf {
  position: absolute;
  top: 192px;
  left: 80px;
}
/*Badges*/
#app-mount .root-3QyAh1 .badgeList-1R1WgZ {
  position: absolute;
  right: -745px;
  top: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
  padding: 0;
}
/*Profile Banner*/
#app-mount .focusLock-Ns3yie .root-3QyAh1 .profileBannerPremium-35utuo {
  width: 100%;
}
#app-mount .focusLock-Ns3yie .root-3QyAh1 .profileBanner-33-uE1,
#app-mount .focusLock-Ns3yie .root-3QyAh1 .UserBackgrounds-banner-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 740px;
  height: 240px;
}
#app-mount .root-3QyAh1 .UserBackgrounds-banner-arrow {
  background-color: rgba(0, 0, 0, 0.514);
}
#app-mount .root-3QyAh1 .UserBackgrounds-banner-arrow.UserBackgrounds-banner-right {
  border-radius: 0px 8px 0px 8px;
}
#app-mount .root-3QyAh1 .UserBackgrounds-banner-arrow.UserBackgrounds-banner-left {
  border-radius: 0px 0px 8px 0px;
}
#app-mount .focusLock-Ns3yie .topSection-y3p-_D {
  background-color: var(--user-popout);
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.focusLock-Ns3yie .root-3QyAh1 .body-r6_QPy {
  height: unset;
  margin-top: 240px;
  background-color:  var(--user-popout);
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*info/activity/server/friends*/
.tabBarContainer-37hZsr {
  border-bottom: 0;
}
.tabBarContainer-37hZsr .tabBar-3nvOPa {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.tabBarContainer-37hZsr .tabBar-3nvOPa .tabBarItem-3dfX8P {
  border: none;
}
.focusLock-Ns3yie .body-r6_QPy::-webkit-scrollbar {
  display: none;
}
.focusLock-Ns3yie .body-r6_QPy {
  overflow-y: scroll !important;
}
.focusLock-Ns3yie .header-4zuFdR {
  height: 240px;
}
/*Note*/
#app-mount .input-cIJ7To:hover,
#app-mount .input-cIJ7To:focus {
  box-shadow: none;
  color: white;
  background: var(--back-color-boxes);
}
/*UserDetails*/
#app-mount .focusLock-Ns3yie .UserDetails-dates-wrapper {
  margin: 0;
}
#app-mount .focusLock-Ns3yie .UserDetails-dates-wrapper .nameTag-ECvD8P {
  margin-top: 0;
}
/*Avatar*/
.focusLock-Ns3yie .avatar-AvHqJA {
  width: 210px !important;
  height: 210px !important;
  margin: 15px;
  border-radius: 20px;
  top: 0;
  left: 0;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.focusLock-Ns3yie .avatar-AvHqJA rect {
  x: 110;
  y: 101;
}
.focusLock-Ns3yie .avatar-AvHqJA > svg {
  width: 208px;
  height: 208px;
}
.focusLock-Ns3yie .avatarStack-2Dr8S9 .avatar-VxgULZ {
  margin: 10px;
  width: 118px;
  height: 118px;
  border-radius: 10px;
  background-color: var(--user-popout);
}
.focusLock-Ns3yie .avatar-AvHqJA foreignObject {
  mask: none;
  border-radius: 20px;
  width: 138px;
  height: 138px;
  overflow: visible;
  y: -9;
}
.UserDetails-dates-wrapper {
  margin-top: 70px;
}
/*Connections*/
.connectedAccount-2Jb-Z0 {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 49%;
  transition: transform 0.1s;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.connectedAccount-2Jb-Z0:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  margin-bottom: 2px;
}
#app-mount .root-3QyAh1 .userInfoSection-q_35fn + .userInfoSection-q_35fn::before {
  content: "Connections";
  color: var(--text-normal);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}
.connectedAccountIcon-3_EQqg {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountNameInner-2q3MVf {
  margin-left: 13px;
}
[alt*="Facebook"] {
  background-color: #1da0f248;
}
[alt*="Twitch"] {
  background-color: #601bd852;
}
[alt*="YouTube"] {
  background-color: #d9252b49;
}
[alt*="Battle"] {
  background-color: #0098e446;
}
[alt*="GitHub"] {
  background-color: #ffffff34;
}
[alt*="Reddit"] {
  background-color: #fe44013d;
}
[alt*="Steam"] {
  background-color: #2e328485;
}
[alt*="Xbox"] {
  background-color: #1ed75f34;
}
[alt*="Spotify"] {
  background-color: #5dc21e42;
}
[alt*="League of Legends"] {
  background-color: #cea14638;
}
[alt*="Twitter"] {
  background-color: #39546e62;
}
@media (max-width: 1040px) {
  #app-mount .root-3QyAh1  {
    width: 800px;
  }
  .connectedAccount-2Jb-Z0 {
    width: 90%;
  }
  #app-mount .focusLock-Ns3yie .root-3QyAh1 .UserBackgrounds-banner-container {
    width: 560px;
  }
  .connectedAccount-2Jb-Z0:first-of-type {
    margin-top: 20px;
  }
  .connectedAccountOpenIcon-E5wGF4 {
    margin-right: 10px;
  }
  #app-mount .root-3QyAh1 .badgeList-1R1WgZ {
    right: -560px;
  }
}