[role="dialog"]:not(.positionContainer_af5dbb):not([aria-labelledby]) {
	border-radius: 4px;
	background: linear-gradient(
		to top,
		var(--user-popout-gradient-bottom),
		var(--user-popout-gradient-top)
	);
}
.focusLock_f9a4c9[role="dialog"]:not([aria-labelledby]) {
	background: none;
}
.userProfileInnerThemedWithBanner-2624Yx {
	border-radius: 4px;
}
.userProfileOuterUnthemed-2b2rsv {
	padding: 5px;
	border-radius: 4px;
}
.bannerSVGWrapper-qc0szY {
	border-radius: 4px 4px 0 0;
}
.userProfileInnerThemedNonPremium-1gT-zY {
	position: relative;
	border-radius: 4px;
	background: var(--user-popout);
}

/*Big User Popout*/
/* .focusLock_f9a4c9 .root-2uUafN {
  width: 800px;
  height: fit-content;
  height: 100%;
  max-height: 1000px;
}
.focusLock_f9a4c9 .userProfileModalOuter-1FYL8T  {
  width: unset;
  height: fit-content;
}
.focusLock_f9a4c9 .userProfileInner-3F03PX {
  display: grid;
  grid-template-columns: 240px 1fr;
  max-height: 1000px;
  height: fit-content;
}
.focusLock_f9a4c9 .root-2uUafN .body-_QAKrE {
  flex: 1 1 100%;
}
.focusLock_f9a4c9 .root-2uUafN .topSection-1Khgkv {
  margin-bottom: 0;
  height: calc(100% + 200px);
} */
/*Backdrop*/
/* #app-mount .backdrop__1a911 {
  background: var(--backdrop) !important;
} */
/*3 dots + Friendbutton*/

/*Badges*/

/*Profile Banner*/
/* .focusLock_f9a4c9 .root-2uUafN header .bannerSVGWrapper-qc0szY {
  position: absolute;
  right: 4px;
  border-radius: 0 3px 0 0;
  width: 552px;
  min-width: unset !important;
  min-height: unset !important;
}
.roundedBanner-TdlJGa {
  border-radius: 0 3px 0 10px;
}
.focusLock_f9a4c9 .root-2uUafN header .bannerSVGWrapper-qc0szY foreignObject {
  mask: none;
}
.profileBanner-2zIsK7 {
  height: 195px;
} */
/*info/activity/server/friends*/

/*Note*/
/* #app-mount .note-3TX9O7 .input_f8bc55:hover,
#app-mount .note-3TX9O7 .input_f8bc55:focus {
  box-shadow: none;
  color: white;
  background: var(--back-color-boxes);
} */
/*Avatar*/
/* .focusLock_f9a4c9 .root-2uUafN .avatar-1YsFQ1 {
  top: 30px;
}
.focusLock_f9a4c9 .root-2uUafN .avatar-1YsFQ1 svg {
  width: 240px;
  height: 240px;
}
.focusLock_f9a4c9 .root-2uUafN .avatar-1YsFQ1 svg foreignObject {
  mask: none;
  border-radius: 20px;
}
.focusLock_f9a4c9 .root-2uUafN .avatar-1YsFQ1 svg circle {
  opacity: 1 !important;
} */
/*Connections*/
/* .connectedAccounts-1HaiEx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.userInfoSection-1gptv0+.userInfoSection-1gptv0 {
  padding-top: 5px;
  padding-bottom: 10px;
}
.connectedAccountContainer-2TWiXT {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  transition: transform 0.1s;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.topSection-1Khgkv + .overlayBackground-1KgwVi {
  top: 180px;
  max-height: calc(100% - 180px - 28px - 8px);
}
.connectedAccountContainer-2TWiXT:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  margin-bottom: 2px;
}
.connectedAccountsColumn-2LgTkZ+.connectedAccountsColumn-2LgTkZ {
  margin: 0;
}
.userInfoSection-2u2hir+.userInfoSection-2u2hir {
  border: 0;
}
.userInfoSection-2u2hir {
  padding: 0;
}
.userInfoSection-2u2hir.connectedAccounts-1HaiEx::before {
  content: "Connections";
  position: absolute;
  color: var(--text-normal);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-top: -15px;
  display: block;
}
.connectedAccountIcon-1FXG0p {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountsColumn-1I3naf {
  gap: 5px;
  width: 100%;
}
.connectedAccountsColumn-1I3naf+.connectedAccountsColumn-1I3naf {
  margin-left: 0;
}
.connectedAccountNameContainer-EXbBUQ {
  margin-left: 13px;
}
[alt*="Facebook"] {
  background-color: #1da0f248;
}
[alt*="Twitch"] {
  background-color: #601bd852;
}
[alt*="YouTube"] {
  background-color: #d9252b49;
}
[alt*="Battle"] {
  background-color: #0098e446;
}
[alt*="GitHub"] {
  background-color: #ffffff34;
}
[alt*="Reddit"] {
  background-color: #fe44013d;
}
[alt*="Steam"] {
  background-color: #2e328485;
}
[alt*="Xbox"] {
  background-color: #1ed75f34;
}
[alt*="Spotify"] {
  background-color: #5dc21e42;
}
[alt*="League of Legends"] {
  background-color: #cea14638;
}
[alt*="Twitter"] {
  background-color: #39546e62;
} */
/*Playing*/

/*USRBG*/
/* #app-mount .root-2uUafN .body-1Ukv50 {
  background: var(--user-background) var(--big-user-popout-body);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.infoScroller-1QMpon {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.65);
}
.listScroller_e4be58 {
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.65);
} */
/*Small fixes realted to the screenWidth of the client*/
/* @media (max-width: 1040px) {
  .focusLock_f9a4c9 .root-2uUafN {
    width: 800px;
    max-height: 800px;
  }
  .focusLock_f9a4c9 .root-2uUafN .body-_QAKrE {
    top: 0px;
  }
  .focusLock_f9a4c9 .root-2uUafN .overlayBackground-1KgwVi {
    height: calc(100% - 211px);
    top: 175px;
  }
  #app-mount .connectedAccounts-1HaiEx {
    grid-template-columns: 1fr;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 12px;
  }
  .connectedAccountContainer-2TWiXT {
    margin: 0px;
    padding: 10px;
  }
  .connectedAccountsColumn-1I3naf+.connectedAccountsColumn-1I3naf {
    margin-left: 0;
  }
} */
