/*Green buttons */
.tabBar_c2739c .item_c2739c[aria-controls="ADD_FRIEND-tab"],
.lookFilled-1Gx00P.colorGreen-29iAKY {
	border-radius: 5px;
}
.tabBar_c2739c .item_c2739c[aria-controls="ADD_FRIEND-tab"]:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: var(--back-color-button);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: transparent;
	border: 2px solid var(--back-color-button);
}
/*Red buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
	color: rgb(255, 255, 255);
	background-color: var(--back-color-danger-button);
	border-radius: 5px;
}
/*Blue buttons*/
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--back-color-boxes);
}
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--back-color-boxes-hover);
}
/*Home Button*/
.wrapper_f90abb.selected_f90abb .childWrapper_f90abb,
.wrapper_f90abb:hover .childWrapper_f90abb {
	background-color: transparent;
}
.childWrapper_f90abb > svg path {
	display: none;
}
.childWrapper_f90abb > svg {
	-webkit-mask: var(--home-button-background);
	-webkit-mask-size: var(--home-button-background-size);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--unread-pill);
}
/*Create Server And Explore Servers Buttons*/
.listItemWrapper_dfb2f8,
.listItemWrapper__968be {
	background-color: black;
	border: 1px solid rgb(var(--border-color-hover));
	border-radius: 30px;
}
.circleIconButton_db6521.selected_db6521,
.circleIconButton_d4e182.selected__7d836 {
	color: var(--unread-pill);
	background-color: transparent;
}
/*Mark As Read Button In Chat*/
.newMessagesBar_cf58b5 {
	background-color: var(--back-color-boxes);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-top: 0px;
}
/*Upload Button*/
.attachButtonInner_f298d4 svg {
	background-color: rgb(var(--border-color-1));
	border-radius: 50%;
}
.attachButtonInner_f298d4 svg[aria-hidden="false"] {
	border-radius: 15px 15px 7px 15px;
}
.attachButton_f298d4:hover .attachButtonPlus_f298d4,
.attachButtonPlus_f298d4 {
	fill: black;
}
