/*Green buttons */
.tabBar__73938 .item_e4ca95[aria-controls="ADD_FRIEND-tab"],
.lookFilled-1Gx00P.colorGreen-29iAKY {
	border-radius: 5px;
}
.tabBar__73938 .item_e4ca95[aria-controls="ADD_FRIEND-tab"]:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: var(--back-color-button);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: transparent;
	border: 2px solid var(--back-color-button);
}
/*Red buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
	color: rgb(255, 255, 255);
	background-color: var(--back-color-danger-button);
	border-radius: 5px;
}
/*Blue buttons*/
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--back-color-boxes);
}
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--back-color-boxes-hover);
}
/*Home Button*/
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c {
	background-color: transparent;
}
.homeIcon__00b1b path {
	display: none;
}
.homeIcon__00b1b {
	-webkit-mask: var(--home-button-background);
	-webkit-mask-size: var(--home-button-background-size);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--unread-pill);
}
/*Create Server And Explore Servers Buttons*/
.listItemWrapper__1f93b,
.listItemWrapper__4078f {
	background-color: black;
	border: 1px solid rgb(var(--border-color-hover));
	border-radius: 30px;
}
.circleIconButton_d8df29.selected__5250e,
.circleIconButton__78ef6.selected__50120 {
	color: var(--unread-pill);
	background-color: transparent;
}
/*Mark As Read Button In Chat*/
.newMessagesBar__8b6d7 {
	background-color: var(--back-color-boxes);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-top: 0px;
}
/*Upload Button*/
.attachButtonInner__3ce2b svg {
	background-color: rgb(var(--border-color-1));
	border-radius: 50%;
}
.attachButtonInner__3ce2b svg[aria-hidden="false"] {
	border-radius: 15px 15px 7px 15px;
}
.attachButton_b1db83:hover .attachButtonPlus_bf89ca,
.attachButtonPlus_bf89ca {
	fill: black;
}
