/*Green buttons */
.tabBar__73938 .item_e4ca95[aria-controls="ADD_FRIEND-tab"],
.lookFilled-1Gx00P.colorGreen-29iAKY {
	border-radius: 5px;
}
.tabBar__73938 .item_e4ca95[aria-controls="ADD_FRIEND-tab"]:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: var(--back-color-button);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: transparent;
	border: 2px solid var(--back-color-button);
}
/*Red buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
	color: rgb(255, 255, 255);
	background-color: var(--back-color-danger-button);
	border-radius: 5px;
}
/*Blue buttons*/
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--back-color-boxes);
}
.bd-addon-modal-footer .bd-button,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--back-color-boxes-hover);
}
/*Home Button*/
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
	background-color: transparent;
}
.homeIcon__560eb path {
	display: none;
}
.homeIcon__560eb {
	-webkit-mask: var(--home-button-background);
	-webkit-mask-size: var(--home-button-background-size);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--unread-pill);
}
/*Create Server And Explore Servers Buttons*/
.listItemWrapper__3d465,
.listItemWrapper__968be {
	background-color: black;
	border: 1px solid rgb(var(--border-color-hover));
	border-radius: 30px;
}
.circleIconButton__05cf2.selected_aded59,
.circleIconButton_d4e182.selected__7d836 {
	color: var(--unread-pill);
	background-color: transparent;
}
/*Mark As Read Button In Chat*/
.newMessagesBar__8b272 {
	background-color: var(--back-color-boxes);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-top: 0px;
}
/*Upload Button*/
.attachButtonInner__84c26 svg {
	background-color: rgb(var(--border-color-1));
	border-radius: 50%;
}
.attachButtonInner__84c26 svg[aria-hidden="false"] {
	border-radius: 15px 15px 7px 15px;
}
.attachButton__56f98:hover .attachButtonPlus_fd0021,
.attachButtonPlus_fd0021 {
	fill: black;
}
