.wrapper_faf5ab {
	margin-bottom: 0;
	border-radius: 0;
	padding: 16.5px 0;
}
.form_a7d72e {
	padding: 0;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	overflow: visible;
}
.channelTextArea_a7d72e {
	margin-bottom: 0;
	border-radius: 0;
}
.webkit__8d35a .buttons_d0696b {
	margin-right: 4px;
}
.base_d7ebeb {
	position: absolute;
	width: calc(100% - 16px);
	display: flex;
	justify-content: space-between;
	padding: 0 8px;
	box-sizing: border-box;
	top: -24px;
	left: 0;
	background: var(--bg-overlay-chat, var(--background-primary));
}
.base_d7ebeb > .cooldownWrapper_d7ebeb {
	margin: 0;
	position: static;
}
.scrollableContainer_d0696b {
	border-radius: 0;
}
.scrollableContainer_d0696b > .inner_d0696b {
	min-height: 54px;
	align-items: center;
}
@media (max-width: 700px) {
	.scrollableContainer_d0696b > .inner_d0696b {
		min-height: 48px;
	}
}
.attachWrapper_f298d4 {
	display: flex;
	position: static;
	align-items: center;
}
.attachedBars_d0696b {
	border-radius: 0;
}
.channelAppLauncher_df39bd {
  margin: 0px;
}
.channelAppLauncher_df39bd .button_df39bd {
  background: unset;
}
.channelAppLauncher_df39bd {
  height: 54px;
  box-sizing: border-box;
  margin-top: auto;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: transparent;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  transition: background .5s, border-color .5s;
}
.channelAppLauncher_df39bd .buttonContainer_df39bd .button_df39bd,
.channelAppLauncher_df39bd .buttonContainer_df39bd {
  margin-top: 0;
  width: 24px;
}
.channelAppLauncher_df39bd .buttonContainer_df39bd {
  margin-right: 11px;
}
.channelBottomBarArea_a7d72e:focus-within .channelAppLauncher_df39bd,
.channelBottomBarArea_a7d72e:hover .channelAppLauncher_df39bd {
  background-color: var(--channeltextarea-background);
  border-color: rgb(var(--border-color-1), var(--border-opacity-1));
}