/*positioning*/
.container-1ov-mD .embed-IeVjo6{
  display: inline-block;
}
.container-1ov-mD {
  display: flex ;
  flex-wrap: wrap ;
}

/*undefined Embeds*/
.embedWrapper-lXpS3L[aria-hidden="false"] {
  border-color: rgb(255, 123, 0);
  background-color: rgba(255, 166, 0, 0.212);
}
/*AniMixPlay*/
.embedWrapper-lXpS3L[style*="border-color: hsl(0, calc(var(--saturation-factor, 1) * 0%), 9.8%);"] {
  border-color: blue !important;
  background-color: rgba(0, 0, 255, 0.301) !important;
}
/*Reddit*/
.embedWrapper-lXpS3L[style*="border-color: hsl(0, calc(var(--saturation-factor, 1) * 0%), 100%);"] {
  background-color: rgba(255, 255, 255, 0.164);
}
/*Youtube */
.embedWrapper-lXpS3L[style*="border-color: hsl(0, calc(var(--saturation-factor, 1) * 100%), 50%);"] {
  max-width: unset !important;
  background-color: rgba(255, 0, 0, 0.26);
}
/*Betterdiscord */
.embedWrapper-lXpS3L[style*="border-color: hsl(216, calc(var(--saturation-factor, 1) * 53.8%), 49.2%);"] {
  background-color: rgba(0, 191, 255, 0.199);
}
/*Twitter*/
.embedWrapper-lXpS3L[style*="border-color: hsl(203, calc(var(--saturation-factor, 1) * 89.1%), 53.1%);"] {
  background-color: rgba(0, 153, 255, 0.288);
  max-width: unset !important;
}
/*Github*/
.embedWrapper-lXpS3L[style*="border-color: hsl(207, calc(var(--saturation-factor, 1) * 13%), 13.5%);"] {
  background-color: rgba(48, 49, 49, 0.356);
}
/*Embed With Purple-ish Color*/
.embedWrapper-lXpS3L[style*="border-color: hsl(242, calc(var(--saturation-factor, 1) * 25.3%), 48.8%);"] {
  background-color: rgba(158, 73, 214, 0.274);
}
/*Invite Embed*/
.theme-dark .guildIconImage-3qTk45 {
  background-color: transparent;
}
.wrapper-35wsBm {
  border: 1px solid rgb(var(--border-color-blue), var(--border-opacity-blue));
}
