/*Embed postioning*/
.b7e1cb0370c2dd0e-container > .directionRow__65900 {
  flex-direction: column;
  align-items: start;
}
/*fallback coloring*/
.embedWrapper_b7e1cb[aria-hidden="false"] {
  border-color: var(--border-subtle);
}
/*Embeds*/
:root {
  --embed-width: 500px;
}
._623de82e76ad7f82-embedFull {
  border-left: calc(4px + var(--embed-width)) solid transparent;
  background: var(--background-secondary);
}
._623de82e76ad7f82-grid {
  margin-left: calc(-1 * var(--embed-width));
  z-index: 1;
  width: var(--embed-width);
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
/*Invite Embed*/
#app-mount .d5f3cd116f175f35-guildIconImage {
  background-color: transparent;
}
.d5f3cd116f175f35-wrapper {
  border: 1px solid
    rgba(var(--border-color-hover), var(--border-opacity-hover));
}
/*Smaller download embeds*/
.b7e1cb0370c2dd0e-container .f4758a8d6346d18b-nonVisualMediaItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2px;
}
#app-mount .f4758a8d6346d18b-nonVisualMediaItemContainer .f4758a8d6346d18b-nonVisualMediaItem {
  flex: 1 0 200px;
  max-width: 300px;
  width: unset;
  margin-top: 0;
}
._0ccaee68b77c7469-fileWrapper.newMosaicStyle_b52bef {
  width: fit-content;
  padding: 0;
}
._0ccaee68b77c7469-fileWrapper + ._06ab41fd2ef7af3f-hoverButtonGroup {
  position: relative;
  top: 0;
  right: 0;
  opacity: 1;
  background-color: transparent;
  outline: 0;
  border-radius: var(--border-radius-xs);
}
._0ccaee68b77c7469-icon {
  margin-right: 4px;
}
._0ccaee68b77c7469-fileWrapper {
  background-color: transparent;
  border: unset;
}
._6c706db0523bd9a7-mosaicItem {
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--background-secondary);

  ._4d95d73152192cf9-container {
    max-width: unset;
  }
}
._4d95d73152192cf9-newMosaicStyle > * {
  border: 0;
  background-color: transparent;
}
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer {
  border-radius: var(--border-radius-xs);
}
._4d95d73152192cf9-textContainer pre code._4d95d73152192cf9-codeView {
  margin: 0;
}
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-footer {
  padding: 0 4px;
}
.f4758a8d6346d18b-visualMediaItemContainer,
.f4758a8d6346d18b-oneByOneGridSingle {
  border-radius: var(--border-radius-xs);
}
.f4758a8d6346d18b-oneByOneGrid {
  max-height: unset;
}
.af017ab847f75d02-imageWrapper {
  border-radius: var(--border-radius-0);
}
.f4758a8d6346d18b-lazyImg {
  max-width: 100% !important;
}