/*positioning*/
.container-2sjPya .embed-hKpSrO{
  display: inline-block;
}
.container-2sjPya {
  display: flex ;
  flex-wrap: wrap ;
}
.container-2sjPya .messageAttachment-CZp8Iv {
  flex-direction: column;
}
/*fallback coloring*/
.embedWrapper-1MtIDg[aria-hidden="false"] {
  border-color: rgba(255, 123, 0, 0.418);
}
/*Embeds*/
:root {
  --embed-width: 500px;
}
.embedFull-1HGV2S {
  border-left: calc(4px + var(--embed-width)) solid transparent;
  background: var(--background-secondary);
}
.grid-1aWVsE {
  margin-left: calc( -1 * var(--embed-width));
  z-index: 1;
  width:  var(--embed-width);
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
/*Invite Embed*/
#app-mount .guildIconImage-74OdmM {
  background-color: transparent;
}
.wrapper-1HIH0j {
  border: 1px solid rgb(var(--border-color-hover), var(--border-opacity-hover));
}
