.peopleColumn_c2739c {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .searchBar_e0840f {
    margin: 0;
    border-radius: var(--border-radius-0);
    padding: 5px 5px 0;
    height: 45px;

    .inner_c18ec9 {
      padding: 0;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-m);
      box-sizing: border-box;

      .input_c18ec9 {
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
        height: 100%;
      }
      .iconLayout_c18ec9 {
        margin: 0;
        height: 100%;
      }
    }
  }
  .sectionTitle_e0840f {
    position: sticky;
    width: 100%;
    top: 0;
  
    .title_a1cafe {
      padding: 0 5px;
    }
  }
  .peopleList_e0840f {
    margin: 0;
    padding: 0 5px !important;
    width: 100%;

    .peopleListItem_d51464 {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    }
  }
}
@media (max-width: 700px) {
  .peopleColumn_c2739c .peopleList_e0840f {
    .peopleListItem_d51464 {
      margin: -1px 0 0 0;
      padding: 0 12px;
      border-radius: var(--border-radius-0);
      background-color: var(--back-friendlist-friends);
    
      &:has(+ .peopleListItem_d51464) {
        border-bottom-color: transparent;
      }
      &:first-child {
        margin: 0;
        border-top-left-radius: var(--border-radius-m);
        border-top-right-radius: var(--border-radius-m);
      }
      &:last-child {
        border-bottom-left-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
      &:hover {
        background-color: var(--back-friendlist-friends-hover);
      }
    }
  }
}
@media (min-width: 701px)  {
  .peopleColumn_c2739c .peopleList_e0840f {
    padding: 10px !important;
    
    & > div {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      gap: 10px;
      flex-wrap: wrap;

      .peopleListItem_d51464 {
        flex: 1 0 var(--friendlist-friends-min-width);
        max-width: var(--friendlist-friends-max-width);
        border-radius: var(--border-radius-m);
        height: 140px !important;
        box-shadow: inset 0 0 10px rgb(var(--border-color-1), var(--border-opacity-1));
        transition: box-shadow 0.5s, border-color .5s, transform .5s;
        overflow: visible;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background-image: var(--user-background);
          background-color: var(--back-friendlist-friends);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          z-index: -1;
          filter: blur(2px);
        }
        .listItemContents_e05dae {
          width: 100%;
          padding: 10px;
          display: grid;
          grid-template-areas: 
          "usr ."
          "usr ."
          "usr btns";
          grid-template-columns: 1fr auto;
          grid-template-rows: 1fr 1fr 1fr;

          .userInfo_f3939d {
            grid-area: usr;
            height: 100%;
            display: grid;
            grid-template-rows: 2fr 1fr;
            gap: 10px;

            .avatar_f3939d {
              width: unset !important;
              height: 100% !important;
              margin: 0;

              .svg_c51b4e {
                height: 100%;

                foreignObject {
                  mask: unset;
                  border-radius: calc(var(--border-radius-m) / 2);
                  width: 100%;
                  height: 100%;
                  mask: url(https://i.imgur.com/8dNLS7D.png) -10px -10px/50px 50px luminance no-repeat;
                }
                rect {
                  x: 27;
                  y: 27;
                }
                rect[mask*="mobile"] {
                  width: 6px;
                  height: 9px;
                  x: 29;
                  y: 28;
                }
              }
            }
          }
          .actions_e05dae {
            grid-area: btns;
            margin: 0;
            gap: 5px;
            
            .actionButton_e01b91 {
              margin: 0;
              background-color: var(--back-color-boxes);
            }
          }
        }
        &:hover {
          background-color: var(--back-friendlist-friends-hover);
          transform: scale(1.02);
          box-shadow: inset 0 0 20px rgba(var(--border-color-hover), var(--border-opacity-hover));
          border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));

          .listItemContents_e05dae .actions_e05dae {
            .actionButton_e01b91 {
              background-color: var(--back-color-boxes-hover);
            }
          }
        }
      }
    }
  }
}