._133bf5eea8e33a34-peopleColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;

  ._5ec2fb8b5de26b21-searchBar {
    margin: 0;
    border-radius: var(--border-radius-0);
    padding: 5px 5px 0;
    height: 45px;
    border: 0;

    .inner_a45028 {
      padding: 0;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-m);
      box-sizing: border-box;

      .input_a45028 {
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
        height: 100%;
      }
      .iconLayout_a45028 {
        margin: 0;
        margin-right: 8px;
        height: 100%;
      }
    }
  }
  ._5ec2fb8b5de26b21-sectionTitle {
    width: 100%;
  
    ._1472a8142d02ea23-title {
      padding: 0 5px;
      margin: 0;
      box-sizing: border-box;
    }
  }
  ._5ec2fb8b5de26b21-peopleList {
    margin: 0;
    padding: 0 5px 5px 5px !important;
    overflow: hidden auto !important;
    width: 100%;

    .cc61794aab086a2e-peopleListItem {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      ._0a06ed6ea040aa1b-discriminator {
        display: none;
      }
      &:hover ._0a06ed6ea040aa1b-userInfo ._0a06ed6ea040aa1b-discriminator {
        display: block;
        visibility: visible;
      }
    }
  }
}
._133bf5eea8e33a34-peopleColumn ._5ec2fb8b5de26b21-peopleList {
  .cc61794aab086a2e-peopleListItem {
    margin: -1px 0 0 0;
    padding: 0 12px;
    border-radius: var(--border-radius-0);
    background-color: var(--back-friendlist-friends);
  
    &:has(+ .cc61794aab086a2e-peopleListItem) {
      border-bottom-color: transparent;
    }
    &:last-child {
      border-bottom-left-radius: var(--border-radius-m);
      border-bottom-right-radius: var(--border-radius-m);
    }
    &:hover {
      background-color: var(--back-friendlist-friends-hover);
    }
  }
  ._5ec2fb8b5de26b21-sectionTitle + .cc61794aab086a2e-peopleListItem {
    margin: 0;
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
  }
}
/*FriendList Top Buttons*/
#app-mount ._9293f6b2fc12398a-container {
  ._9293f6b2fc12398a-children {
    height: 100%;

    ._133bf5eea8e33a34-tabBar {
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      align-items: center;

      ._133bf5eea8e33a34-item  {
        margin: 0;
        margin-left: -1px;
        border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
        padding: 2px 8px;
        min-width: unset;
        min-height: unset;
        border-right-color: transparent;
        border-radius: var(--border-radius-0);

        &:hover {
          border-right-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
          border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
        }
        &:nth-last-child(1) {
          border-radius: var(--border-radius-0) var(--border-radius-xl) var(--border-radius-xl) var(--border-radius-0);
          border-right-color: rgb(var(--border-color-1), var(--border-opacity-1));
        }
        &:first-child {
          margin-left: 0;
          border-radius: var(--border-radius-xl) var(--border-radius-0) var(--border-radius-0) var(--border-radius-xl);
        }
        &:hover + ._133bf5eea8e33a34-item {
          border-left-color: transparent;
        }
      }
    }
  }
}