/*Friend List*/
.peopleList_d2f527 > div {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin: 5px 15px 0 15px;
}
.peopleListItem_dab480 .listItemContents_e97b28 .userInfo__83819 {
	grid-column: 1/2;
	grid-row: 1/4;
	display: grid;
	grid-template-rows: 1fr 42px;
	overflow: visible;
}
.peopleColumn__0c784 {
	display: grid;
	grid-template-rows: 40px 20px 1fr;
}
.peopleColumn__0c784 .title_c42cad {
	position: unset;
	width: fit-content;
	margin: 5px 20px;
}
.peopleColumn__0c784 .searchBar__310d8 {
	margin: 5px 10px;
}
#app-mount .peopleListItem_dab480 {
	transform: scale(1);
	transition: transform 0.5s;
}
#app-mount .peopleListItem_dab480:hover {
	transform: scale(1.04);
}
.peopleListItem_dab480 {
	flex: 1 1 300px;
	height: 140px !important;
	max-width: 600px;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 10px;
	margin: 0;
	padding: 0;
	background: var(--user-background);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	box-shadow: inset 0 0 10px
		rgb(var(--border-color-1), var(--border-opacity-1));
	transition: box-shadow 0.75s, border-color 1s;
}
#app-mount .peopleListItem_dab480 {
	overflow: hidden;
}
#app-mount .actionButton__2b4bb {
	background-color: rgba(0, 0, 0, 0.4);
}
.peopleListItem_dab480:hover {
	border: 1px solid rgb(var(--border-color-hover));
	margin: 0;
	padding: 0;
	background: var(--user-background);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	box-shadow: inset 0 0 20px rgb(var(--border-color-hover));
}
.peopleListItem_dab480:hover + .peopleListItem_dab480 {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.peopleListItem_dab480.active__6b8ff {
	padding: 0;
	margin: 0;
	border: 1px solid rgb(var(--border-color-hover));
	border-radius: 8px;
	background: var(--user-background);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.peopleListItem_dab480 .avatar__8986c {
	height: 80px !important;
	width: 80px !important;
	margin: 0;
	margin-left: 15px;
	margin-top: 10px;
}
.peopleListItem_dab480 .avatar__8986c svg {
	width: 80px;
	height: 80px;
}
.peopleListItem_dab480 .avatar__8986c svg foreignObject {
	width: 40px;
	height: 40px;
}
.peopleListItem_dab480 .avatar__8986c svg rect {
	width: 13px;
	height: 13px;
	x: 27;
	y: 27;
}
.peopleListItem_dab480 .avatar__8986c svg rect[width="10"][height="15"] {
	height: 19px;
	y: 21;
}
.peopleListItem_dab480 .text__88bbd {
	margin: 0;
	margin-left: 15px;
	white-space: normal;
	text-overflow: clip;
}
#app-mount .iconContainer_e2bbcd,
#app-mount .pd-mutualGuilds,
#app-mount .actionButton__2b4bb,
#app-mount .actions_bd37ed {
	inset: 0;
	margin: 0;
}
#app-mount .actions_bd37ed {
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-self: end;
	column-gap: 10px;
	margin: 0;
	grid-column: 2/3;
	grid-row: 3/4;
}
.peopleListItem_dab480 .subtext__72c72 {
	max-width: 100%;
	max-height: 50px;
	text-overflow: clip;
}
.peopleListItem_dab480 .listItemContents_e97b28 {
	display: grid;
	padding: 0;
	padding-right: 10px;
	box-sizing: unset;
	grid-template-rows: 40px 50px 40px;
	grid-template-columns: 1fr 160px;
	background-color: rgba(0, 0, 0, 0.295);
	backdrop-filter: blur(2px);
}
.peopleColumn__0c784 .ring-370dIp {
	display: none !important;
}
/*plugins*/
/*BetterFriendslist by devilbro*/
body #app-mount .mutualGuilds-s7F2aa {
	margin: 0;
	align-self: center;
	justify-self: end;
	grid-column: 2/3;
	grid-row: 1/2;
}
/*pinDMs by Bricklou*/
#app-mount .pd-mutualGuilds {
	margin: 0;
	align-self: center;
	justify-self: end;
	grid-column: 2/3;
	grid-row: 2/3;
}
.pd-mutualGuilds > div:first-child {
	margin-right: 0;
}
