/*Imports*/
  /*User Settings*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userSetting.css');
    @import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css'); /*Thanks to DevilBro for letting me use this*/
  /*Popouts*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/popouts.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userPopouts/bigUserPopout.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/userPopouts/smallUserPopout.css');
    @import url('https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css'); /*Thanks to Disease for creating this*/
  /*Embeds*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/embeds.css');
  /*Seperators*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/separators.css');
  /*Buttons*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/buttons.css');
  /*Scrollbar*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/scrollbar.css');
  /*Plugin compatibility*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/plugins.css');
  /*Server bar*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/serverList.css');
  /*Message bar*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/ConsistantChatbar.css'); /*Thanks to dablulite for creating this*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/ConsistantChatbar.css'); /*Thanks to dablulite for creating this*/
  /*Trivia*/
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/friendListPlayingCards.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/background.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/unreadPills.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/messages.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/forums.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/vocieCall.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/titleBar.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/serverChannels.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/panels.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/oldChatbar.css'); /* Thanks to davart154 for creating this */
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/streamerMode.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/dmSideUserPanel.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/codeblocks.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/guildUserButtons.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/memberList.css');
  @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/trivia/serverSettings.css');
  /*Other Stuff*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/version.css');
    @import url('https://lolpowerluke.github.io/smallDMchannelList/smallDMchannelList.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/friendList.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/statusPicker.css');
  /*Snippets*/
    @import url('https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css'); /*Thanks to Disease for creating this*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/audioFileRedesign.css'); /*Thanks to davart154 for creating this*/
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/audioFileRedesign.css'); /*Thanks to davart154 for creating this*/


/* OLD */
/*
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/plugins.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/popouts.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/embeds.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/separators.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/buttons.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/trivia.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/trivia/friendListPlayingCards.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/plugins.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/serverList.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/serverChannels.css');
    @import url('https://lolpowerluke.github.io/bd-themes/AlanWalkerTheme/old/statusPicker.css');