/*Member List (old)*/
.membersWrap-3NUR2t:not(#dv-mount),
.membersWrap-3NUR2t:not(#dv-mount) > div {
  min-width:60px!important;
  max-width:240px!important;
  width:60px;
  min-height: 100%;
  transition: width .5s;
}
.membersWrap-3NUR2t:hover:not(#dv-mount),
.membersWrap-3NUR2t:hover:not(#dv-mount) > div {
  width:240px;
}
/*Member List (with channelBanners enabled)*/
.container-2Oqvgx .headerAmount-_-7GrS {
  margin-left: -12px;
}
.container-NkLXgf {
  width: 240px;
}
.container-2Oqvgx {
  width: 60px;
  transition: width .5s;
}
.container-2Oqvgx:hover .membersWrap-3NUR2t:not(#dv-mount),
.container-2Oqvgx:hover .membersWrap-3NUR2t:not(#dv-mount) > div {
  width: 240px;
}
.container-2Oqvgx:hover {
  width: 240px;
}
.container-2Oqvgx .item-3XjbnG {
  border-radius: 0;
  margin: 0;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 0;
}
.container-2Oqvgx .item-3XjbnG:first-of-type {
  border-radius: 20px 0 0 20px;
}
.container-2Oqvgx .item-3XjbnG:last-of-type {
  border-radius: 0 20px 20px 0;
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.container-2Oqvgx .item-3XjbnG:hover {
  border-color: rgb(var(--border-color-hover));
  border-right: 1px solid rgb(var(--border-color-hover));
}
.container-2Oqvgx .item-3XjbnG:hover + .item-3XjbnG {
  border-left: 0;
}
.container-2Oqvgx:not(:hover) .RestoreDirectMessages-style-button,
.container-2Oqvgx:not(:hover) .RestoreDirectMessages-style-divider {
  display: none;
}
