/*Popouts */
.header-2-Imhb {
  background-color: var(--popout-header);
}
.messagesPopout-24nkyi {
  background-color: var(--popout-scroller);
}
.container-1CE3eW {
  background-color: var(--create-server);
}
/*Emoji & Gif */
.contentWrapper-SvZHNd {
  overflow: visible;
}
.nav-7UD0KD {
  background-color: var(--back-header-gifemoji);
  border-radius: 10px;
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  padding: 0px;
  transform: rotate(90deg);
  height: 70px;
  width: 395px;
  margin-left: -242px;
  margin-top: 194px;
}
.navItem-3Wp_oJ {
  transform: rotate(-90deg);
  margin-top: -17px;
  width: 70px;
}
.navItem-3Wp_oJ:not(:first-of-type) {
  margin-left: -25px;
}
.navList-2UtuhC {
  margin-top: 40px;
  width: fit-content;
}
.wrapper-2Gsate {
  background-color: var(--back-side-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-top: 2px;
}
.header-2k4I2o,
.header-1TOWci,
.header-8ilj5e {
  background-color: var(--back-search-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-bottom: 7px;
  padding: 1px 10px 5px 5px;
}
.categoryItemDefaultCategory-aBZ6nJ:hover {
  background: var(--back-color-boxes-hover);
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
  background: black;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.emojiPickerInExpressionPicker-3IzIcv .header-8ilj5e {
  padding-bottom: 5px;
}
.header-2k4I2o {
  padding: 5px 10px 5px 5px !important;
}
.bd-emote-menu,
.content-ySCtCx {
  margin-left: 0px !important;
}
.bd-emote-menu,
.content-ySCtCx,
.bodyWrapper-3G0FZZ {
  background-color: var(--back-body-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
}
.inspector-S2gM3e {
  background-color: var(--back-inspector-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 8px;
  width: auto;
}
.navButtonActive-1MkytQ {
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 0px;
  border-top: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.navButton-2gQCx- {
  width: 100%;
}
.layer-v9HyYc .contentWrapper-SvZHNd .wrapper-1rqM3x .wrapper-2Gsate {
  margin-top: 3px;
}
.layer-v9HyYc .wrapper-1rqM3x .wrapper-2Gsate {
  margin-top: -7px;
}
.listWrapper-hig339 .scroller-3gAZLs {
  background-color: var(--back-body-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
}
.searchBar-5di9mG {
  margin-top: 5px;
}
/*Changelog */
.focusLock-Ns3yie .scrollerBase-289Jih {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .root-1gCeng .content-1LAB8Z {
  background-color: black;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .header-1TKi98 {
  border-bottom: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .thin-1ybCId {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .footer-2gL1pp {
  border-top: 0px;
  background-color: var(--user-popout);
}
/*Create Server */
.container-1CE3eW .content-1LAB8Z,
.container-1CE3eW .flex-1xMQg5 {
  background: transparent !important;
}
.container-UC8Ug1 {
  background-color: var(--create-server-choices);
  border: 1px solid var(--create-server-choices-border);
}
.colorHeaderSecondary-3Sp3Ft,
.footerTitle-2CYZch,
.text-1FOLJS,
.title-3w8xhj {
  color: var(--create-server-text-color);
}
.footerButton-ayFTfX {
  background-color: var(--create-server-footer-button) !important;
}
.footerButton-ayFTfX:hover {
  background-color: var(--create-server-footer-button-hover) !important;
}
/*Upload Popout */
.footer-3mqk7D {
  background-color: var(--upload-popout-footer) !important;
}
.inner-3nWsbo {
  background-color: var(--upload-popout-top);
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
/*screen share modal*/
.modalSize-cqUaws .sourceScroller-Pk7YAM {
  background-color: transparent !important;
}
.modalSize-cqUaws .flex-1xMQg5 {
  background-color: var(--screen-share-main);
}
/*Delete message*/
.message-2qRu38 {
  background-color: var(--back-color-boxes) !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Edit Plugins*/
.theme-dark .modal-6GHvdM .tabBarContainer-1s1u-z {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Menu Popout*/
.menu-3sdvDG {
  animation: menu-open-animation 250ms ease;
  transform-origin: top;
}
@keyframes menu-open-animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.labelContainer-1BLJti,
.scroller-3BxosC {
    padding: 0;
}
.scroller-3BxosC {
  border: 1px solid red;
  border-radius: 5px;
  background-color: var(--scroller-color);
  padding-top: 4px;
  padding-bottom: 4px;
}
.labelContainer-1BLJti {
  min-height: 21px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: red;
}
.menu-3sdvDG .focused-3afm-j [aria-hidden="false"].icon-LYJorE {
  color: white;
}
.menu-3sdvDG .focused-3afm-j [aria-hidden="false"].icon-LYJorE {
  color: white;
}
.menu-3sdvDG .focused-3afm-j.colorDefault-2K3EoJ .checkbox-3s5GYZ {
  color: var(--user-popout);
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ {
  color: var(--back-color-boxes-hover);
}
[aria-hidden="false"].icon-LYJorE {
  color: red;
}
[aria-hidden="false"].icon-LYJorE path {
  background-color: black;
}
.check-1JyqgN {
  color: red !important;
  background-color: red !important;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: red;
}
/*Start Stage Popout*/
.illustration-3d7_Ms {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  width: auto;
}
.bulletItem-2v3LOS:first-child {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.bulletItem-2v3LOS:last-child {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.bulletItem-2v3LOS:nth-child(2) {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px;
}
.bulletItem-2v3LOS:nth-child(3) {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-top: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px;
}
.contentContainer-3MLVEY {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  padding-bottom: 16px;
  background-color: black;
}
.footerContainer-3XZ7Bg {
  margin-top: 0px;
}
.hint-3J_Cto {
  text-align: center;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--back-color-boxes-hover);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--back-color-boxes);
}
/*small popup*/
.tooltipPointer-3ZfirK {
  border-top-color: rgb(var(--border-color-blue)) !important;
}
.tooltipContent-bqVLWK {
  background-color: black;
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 5px;
}
/*toasts*/
.bd-toast {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  background: black;
}
.toast {
  background: black !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Search*/
.container-3ayLPN {
  background-color: var(--user-popout) !important;
  border: 1px solid rgb(var(--border-color-blue));
}
/*date picker*/
#app-mount .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--user-popout);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px solid var(--user-popout);
  border-right: 0px solid var(--user-popout);
  box-shadow: 0;
  transition: box-shadow 0.5s;
}
#app-mount .react-datepicker__month {
  border-radius: 0px;
}
#app-mount .react-datepicker__month .react-datepicker__week:last-of-type .react-datepicker__day {
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
#app-mount .react-datepicker__month .react-datepicker__week:last-of-type .react-datepicker__day:hover {
  border-bottom: 1px solid rgb(var(--border-color-blue));
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  border: 1px solid rgb(var(--border-color-blue));
  box-shadow: inset 0 0 10px rgb(var(--border-color-blue));
  background-color: var(--user-popout);
}
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type {
  border-radius: 0px;
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--keyboard-selected:hover,
#app-mount .react-datepicker__day--keyboard-selected {
  background-color: var(--user-popout-alt);
}
#app-mount .react-datepicker__day--outside-month {
  background-color: var(--user-popout);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover + .react-datepicker__day {
  border-left: 1px solid var(--user-popout);
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: rgb(var(--border-color-blue));
}
#app-mount .react-datepicker__day--disabled {
  background-color: var(--user-popout);
}
#app-mount .react-datepicker__header {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  width: 278px;
}
#app-mount .react-datepicker__navigation--previous {
  border-top: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 5px 0px 0px 0px;
  margin-top: 1px;
  margin-left: 1px;
}
#app-mount .react-datepicker__navigation--next {
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px 5px 0px 5px;
  margin-top: 1px;
  margin-right: 1px;
}
#app-mount .react-datepicker__week:hover + .react-datepicker__week .react-datepicker__day {
  border-top-color: var(--user-popout);
}
#app-mount  .react-datepicker__week:hover .react-datepicker__day {
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
#app-mount  .react-datepicker__week:hover .react-datepicker__day:hover {
  border-bottom-color: rgb(var(--border-color-blue));
}
.calendarPicker-2yf6Ci .react-datepicker__week:hover .react-datepicker__day.react-datepicker__day--selected:after {
  margin-bottom: -1px;
}
/*Pins (personal and public)*/
[aria-label="Pinned Messages"] .messagesPopoutWrap-1MQ1bW {
  width: 700px;
  max-height: 950px !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.layer-v9HyYc .popout-2iWAc- {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.layer-v9HyYc .header-ykumBX {
  background-color: var(--popout-header);
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.emptyPlaceholder-1zh-Eu {
  background-color: black;
}
/*Chat AutoComplete Popup*/
.wrapper-uf3cnO {
  background: rgb(0, 0, 0, 0);
}
#app-mount .autocomplete-1vrmpx {
  background: var(--user-popout);
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 8px;
}
.autocomplete-1vrmpx > div > .scroller-3gAZLs {
  border-radius: 8px;
  background-color: var(--user-popout);
  margin: 0;
}
#app-mount .autocomplete-1vrmpx .wrapper-2Gsate {
  margin-top: 0px;
  background-color: var(--user-popout);
  height: 100%;
  margin-bottom: -3px;
  border: 0;
  border-radius: 0px;
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));

}
.autocomplete-1vrmpx .wrapper-uf3cnO {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.autocomplete-1vrmpx .categoryHeader-O1zU94 {
  background-color: var(--user-popout);
}
.autocomplete-1vrmpx .autocompleteRow-2OthDa .selected-1Tbx07 {
  background-color: var(--back-color-boxes-hover);
}
.autocomplete-1vrmpx .wrapper-2siovq.selected-3xBBKs {
  background-color: var(--back-color-boxes-hover);
}
.autocomplete-1vrmpx .wrapper-2siovq.selected-3xBBKs:hover {
  background-color: var(--back-color-boxes);
}