/*Popouts */
.header-2-Imhb {
  background-color: var(--popout-header);
}
.messagesPopout-24nkyi {
  background-color: var(--popout-scroller);
}
.container-1CE3eW {
  background-color: var(--create-server);
}
/*Emoji & Gif */
.contentWrapper-SvZHNd {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  background: var(--user-popout);
  padding: 0;
  box-shadow: none;
}
.nav-7UD0KD {
  padding: 0;
  background: var(--user-popout);
  border-radius: 8px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.navList-2UtuhC {
  flex-direction: column;
  row-gap: 15px;
  margin-top: 15px;
}
.navItem-3Wp_oJ+.navItem-3Wp_oJ {
  margin: 0;
}
.navButton-2gQCx- {
  width: 100%;
}
#emoji-picker-tab-panel {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8px;
}
#app-mount .categoryList-2Kzf65 {
  position: relative;
  inset: 0;
  border-radius: 8px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.wrapper-1rqM3x .emojiPicker-3PwZFl {
  display: grid;
  grid-template-rows: 50px 1fr 48px;
  grid-template-columns: 1fr;
  background: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  height: calc(100% - 2px);
  border-radius: 8px;
}
.wrapper-1rqM3x .emojiPicker-3PwZFl > div {
  grid-column: unset;
  grid-row: unset;
}
.wrapper-1rqM3x .header-8ilj5e {
  padding: 8px 16px 8px 16px;
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.inspector-S2gM3e {
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.navButton-2gQCx- {
  transition: none;
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
  box-sizing: border-box;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background: var(--user-popout);
}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV .emojiSpriteImage-TcJnG8,
.emojiItem-14v6tW.emojiItemSelected-1aLkfV .image-1CmAz0 {
  margin-top: -1px;
  margin-left: -1px;
}
.navButtonActive-1MkytQ {
  background: var(--back-button-gifemoji-picker);
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0;
}
/*Emoji Popup*/
.emojiSection-3Fb9ix {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 8px;
}
.emojiSection-3Fb9ix .flex-1xMQg5.horizontal-1ae9ci,
.emojiSection-3Fb9ix.flex-1xMQg5.horizontal-1ae9ci {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}
.emojiSection-3Fb9ix .flex-1xMQg5.vertical-V37hAW {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.emojiSection-3Fb9ix .truncatingText-18osv_ {
  margin: 0;
}
#app-mount .emojiSection-3Fb9ix .assetWrapper-3GNt0z,
#app-mount .emojiSection-3Fb9ix .emoji {
  width: var(--popup-emoji-size, 180px);
  height: var(--popup-emoji-size, 180px);
  margin: auto;
}
.popoutContainer-1MXdqN.popoutContent-33P_eV {
  background-color: var(--user-popout);
}
.popoutContainer-1MXdqN.popoutContent-33P_eV .guildSection-1EoFKd {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background: var(--user-popout);
  border-radius: 8px;
  margin-top: 5px;
}
.popoutLoadingBackground-1dkDdT {
  -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='340' height='300' viewBox='0 0 500 500' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 4.6.0%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='matrix(2.36 0 0 2.36 177.55 157.08)' id='Mwy93CzrJmu4KliBMUfRf' %3E%3Cpath style='stroke: rgb(190,223,68); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -61.58088 -35.45433 C -61.58088 -49.88363 -49.88362 -61.58089 -35.454319999999996 -61.58089 L 35.45433 -61.58089 L 35.45433 -61.58089 C 49.88363 -61.58089 61.58089 -49.88363 61.58089 -35.45433 L 61.58089 35.454319999999996 L 61.58089 35.454319999999996 C 61.58089 49.88361999999999 49.88363 61.58087999999999 35.45433 61.58087999999999 L -35.454319999999996 61.58087999999999 L -35.454319999999996 61.58087999999999 C -49.88361999999999 61.58087999999999 -61.58087999999999 49.88361999999999 -61.58087999999999 35.454319999999996 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(0.71 0 0 1 177.55 344.85)' id='SDxzC0pjZBfKSsd7B5c8G' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -177.27272 -14.28787 C -177.27272 -17.69363 -173.38738999999998 -20.45454 -168.59458999999998 -20.45454 L 168.5946 -20.45454 L 168.5946 -20.45454 C 170.89618000000002 -20.45454 173.10350000000003 -19.804840000000002 174.73096 -18.64836 C 176.35842000000002 -17.491880000000002 177.27272000000002 -15.92337 177.27272000000002 -14.28786 L 177.27272000000002 14.28788 L 177.27272000000002 14.28788 C 177.27272000000002 17.69364 173.38739 20.454549999999998 168.59459 20.454549999999998 L -168.59459999999999 20.454549999999998 L -168.59459999999999 20.454549999999998 C -173.38739999999999 20.454549999999998 -177.27273 17.69364 -177.27273 14.287879999999998 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 177.55 401.4)' id='ewzL-IWv34pBEGYH5hBrF' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(-177.27, -20.45)' d='M 0 8.67813 C 0 3.8853299999999997 3.88533 0 8.67813 0 L 345.86732 0 L 345.86732 0 C 350.66012 0 354.54545 3.88533 354.54545 8.67813 L 354.54545 32.230959999999996 L 354.54545 32.230959999999996 C 354.54545 37.023759999999996 350.66012 40.90908999999999 345.86732 40.90908999999999 L 8.67813000000001 40.90908999999999 L 8.67813000000001 40.90908999999999 C 3.8853300000000104 40.90908999999999 1.0658141036401503e-14 37.02375999999999 1.0658141036401503e-14 32.230959999999996 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(0.57 0 0 1 177.55 455.6)' id='Gb2gJIhtiqZfWCCTOsNgj' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -177.27272 -15.5221 C -177.27272 -18.24621 -173.38738999999998 -20.45454 -168.59458999999998 -20.45454 L 168.5946 -20.45454 L 168.5946 -20.45454 C 173.3874 -20.45454 177.27273000000002 -18.24621 177.27273000000002 -15.522100000000002 L 177.27273000000002 15.522109999999998 L 177.27273000000002 15.522109999999998 C 177.27273000000002 18.246219999999997 173.3874 20.454549999999998 168.5946 20.454549999999998 L -168.59458999999998 20.454549999999998 L -168.59458999999998 20.454549999999998 C -173.38738999999998 20.454549999999998 -177.27272 18.246219999999997 -177.27272 15.522109999999998 z' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");
  mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='240' height='300' viewBox='0 0 500 500' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 4.6.0%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='matrix(2.36 0 0 2.36 177.55 157.08)' id='Mwy93CzrJmu4KliBMUfRf' %3E%3Cpath style='stroke: rgb(190,223,68); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -61.58088 -35.45433 C -61.58088 -49.88363 -49.88362 -61.58089 -35.454319999999996 -61.58089 L 35.45433 -61.58089 L 35.45433 -61.58089 C 49.88363 -61.58089 61.58089 -49.88363 61.58089 -35.45433 L 61.58089 35.454319999999996 L 61.58089 35.454319999999996 C 61.58089 49.88361999999999 49.88363 61.58087999999999 35.45433 61.58087999999999 L -35.454319999999996 61.58087999999999 L -35.454319999999996 61.58087999999999 C -49.88361999999999 61.58087999999999 -61.58087999999999 49.88361999999999 -61.58087999999999 35.454319999999996 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(0.71 0 0 1 177.55 344.85)' id='SDxzC0pjZBfKSsd7B5c8G' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -177.27272 -14.28787 C -177.27272 -17.69363 -173.38738999999998 -20.45454 -168.59458999999998 -20.45454 L 168.5946 -20.45454 L 168.5946 -20.45454 C 170.89618000000002 -20.45454 173.10350000000003 -19.804840000000002 174.73096 -18.64836 C 176.35842000000002 -17.491880000000002 177.27272000000002 -15.92337 177.27272000000002 -14.28786 L 177.27272000000002 14.28788 L 177.27272000000002 14.28788 C 177.27272000000002 17.69364 173.38739 20.454549999999998 168.59459 20.454549999999998 L -168.59459999999999 20.454549999999998 L -168.59459999999999 20.454549999999998 C -173.38739999999999 20.454549999999998 -177.27273 17.69364 -177.27273 14.287879999999998 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 177.55 401.4)' id='ewzL-IWv34pBEGYH5hBrF' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(-177.27, -20.45)' d='M 0 8.67813 C 0 3.8853299999999997 3.88533 0 8.67813 0 L 345.86732 0 L 345.86732 0 C 350.66012 0 354.54545 3.88533 354.54545 8.67813 L 354.54545 32.230959999999996 L 354.54545 32.230959999999996 C 354.54545 37.023759999999996 350.66012 40.90908999999999 345.86732 40.90908999999999 L 8.67813000000001 40.90908999999999 L 8.67813000000001 40.90908999999999 C 3.8853300000000104 40.90908999999999 1.0658141036401503e-14 37.02375999999999 1.0658141036401503e-14 32.230959999999996 z' stroke-linecap='round' /%3E%3C/g%3E%3Cg transform='matrix(0.57 0 0 1 177.55 455.6)' id='Gb2gJIhtiqZfWCCTOsNgj' %3E%3Cpath style='stroke: rgb(206,222,251); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' vector-effect='non-scaling-stroke' transform=' translate(0, 0)' d='M -177.27272 -15.5221 C -177.27272 -18.24621 -173.38738999999998 -20.45454 -168.59458999999998 -20.45454 L 168.5946 -20.45454 L 168.5946 -20.45454 C 173.3874 -20.45454 177.27273000000002 -18.24621 177.27273000000002 -15.522100000000002 L 177.27273000000002 15.522109999999998 L 177.27273000000002 15.522109999999998 C 177.27273000000002 18.246219999999997 173.3874 20.454549999999998 168.5946 20.454549999999998 L -168.59458999999998 20.454549999999998 L -168.59458999999998 20.454549999999998 C -173.38738999999998 20.454549999999998 -177.27272 18.246219999999997 -177.27272 15.522109999999998 z' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");;
  height: 300px;
}
.popoutContainer-1MXdqN {
  background-color: black;
}
.popoutLoadingForeground-2mZT61 {
  background-image: linear-gradient(90deg,rgb(0 4 255 / .5),rgb(2 1 45),rgb(0 4 255 / .5))
}
/*Changelog */
.focusLock-Ns3yie .scrollerBase-289Jih {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .root-1gCeng .content-1LAB8Z {
  background-color: black;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .header-1TKi98 {
  border-bottom: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .thin-1ybCId {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .footer-2gL1pp {
  border-top: 0px;
  background-color: var(--user-popout);
}
/*Create Server */
.container-1CE3eW .content-1LAB8Z,
.container-1CE3eW .flex-1xMQg5 {
  background: transparent !important;
}
.container-UC8Ug1 {
  background-color: var(--create-server-choices);
  border: 1px solid var(--create-server-choices-border);
}
.colorHeaderSecondary-3Sp3Ft,
.footerTitle-2CYZch,
.text-1FOLJS,
.title-3w8xhj {
  color: var(--create-server-text-color);
}
.footerButton-ayFTfX {
  background-color: var(--create-server-footer-button) !important;
}
.footerButton-ayFTfX:hover {
  background-color: var(--create-server-footer-button-hover) !important;
}
/*Upload Popout */
.footer-3mqk7D {
  background-color: var(--upload-popout-footer) !important;
}
.inner-3nWsbo {
  background-color: var(--upload-popout-top);
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
/*screen share modal*/
.modalSize-cqUaws .sourceScroller-Pk7YAM {
  background-color: transparent !important;
}
.modalSize-cqUaws .flex-1xMQg5 {
  background-color: var(--screen-share-main);
}
/*Delete message*/
.message-2qRu38 {
  background-color: var(--back-color-boxes) !important;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*Edit Plugins*/
.theme-dark .modal-6GHvdM .tabBarContainer-1s1u-z {
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*Menu Popout*/
.menu-3sdvDG {
  animation: menu-open-animation 250ms ease;
  transform-origin: top;
}
@keyframes menu-open-animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.labelContainer-1BLJti,
.scroller-3BxosC {
  padding: 0;
}
.scroller-3BxosC {
  border: 1px solid rgb(var(--border-color-1));
  border-radius: 5px;
  background-color: var(--back-color-menu, black);
  padding-top: 4px;
  padding-bottom: 4px;
}
.labelContainer-1BLJti {
  min-height: 21px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: var(--menu-item-hover-color);
}
.menu-3sdvDG .focused-3afm-j [aria-hidden="false"].icon-LYJorE {
  color: white;
}
.menu-3sdvDG .focused-3afm-j [aria-hidden="false"].icon-LYJorE {
  color: white;
}
.menu-3sdvDG .focused-3afm-j.colorDefault-2K3EoJ .checkbox-3s5GYZ {
  color: var(--user-popout);
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ {
  color: var(--back-color-boxes-hover);
}
[aria-hidden="false"].icon-LYJorE {
  color: var(--menu-item-hover-color);
}
[aria-hidden="false"].icon-LYJorE path {
  background-color: black;
}
.check-1JyqgN {
  color: var(--menu-item-hover-color) !important;
  background-color: var(--menu-item-hover-color) !important;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--menu-item-hover-color);
}
/*Start Stage Popout*/
.illustration-3d7_Ms {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px;
  width: auto;
}
.bulletItem-2v3LOS:first-child {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.bulletItem-2v3LOS:last-child {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.bulletItem-2v3LOS:nth-child(2) {
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0px;
}
.bulletItem-2v3LOS:nth-child(3) {
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0px;
}
.contentContainer-3MLVEY {
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  padding-bottom: 16px;
  background-color: black;
}
.footerContainer-3XZ7Bg {
  margin-top: 0px;
}
.hint-3J_Cto {
  text-align: center;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--back-color-boxes-hover);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--back-color-boxes);
}
/*small popup*/
.tooltipPointer-3ZfirK {
  border-top-color: rgb(var(--border-color-hover)) !important;
}
.tooltipContent-bqVLWK {
  background-color: black;
  border: 1px solid rgb(var(--border-color-hover));
  border-radius: 5px;
}
/*toasts*/
.bd-toast {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background: black;
}
.toast {
  background: black !important;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*Search*/
.container-3ayLPN {
  background-color: var(--user-popout) !important;
  border: 1px solid rgb(var(--border-color-hover));
}
/*date picker*/
#app-mount .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--user-popout);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px solid var(--user-popout);
  border-right: 0px solid var(--user-popout);
  box-shadow: 0;
  transition: box-shadow 0.5s;
}
#app-mount .react-datepicker__month {
  border-radius: 0px;
}
#app-mount .react-datepicker__month .react-datepicker__week:last-of-type .react-datepicker__day {
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .react-datepicker__month .react-datepicker__week:last-of-type .react-datepicker__day:hover {
  border-bottom: 1px solid rgb(var(--border-color-hover));
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  border: 1px solid rgb(var(--border-color-hover));
  box-shadow: inset 0 0 10px rgb(var(--border-color-hover));
  background-color: var(--user-popout);
}
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type {
  border-radius: 0px;
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--keyboard-selected:hover,
#app-mount .react-datepicker__day--keyboard-selected {
  background-color: var(--user-popout-alt);
}
#app-mount .react-datepicker__day--outside-month {
  background-color: var(--user-popout);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover + .react-datepicker__day {
  border-left: 1px solid var(--user-popout);
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: rgb(var(--border-color-hover));
}
#app-mount .react-datepicker__day--disabled {
  background-color: var(--user-popout);
}
#app-mount .react-datepicker__header {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  width: 278px;
}
#app-mount .react-datepicker__navigation--previous {
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 5px 0px 0px 0px;
  margin-top: 1px;
  margin-left: 1px;
}
#app-mount .react-datepicker__navigation--next {
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px 5px 0px 5px;
  margin-top: 1px;
  margin-right: 1px;
}
#app-mount .react-datepicker__week:hover + .react-datepicker__week .react-datepicker__day {
  border-top-color: var(--user-popout);
}
#app-mount  .react-datepicker__week:hover .react-datepicker__day {
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount  .react-datepicker__week:hover .react-datepicker__day:hover {
  border-bottom-color: rgb(var(--border-color-hover));
}
.calendarPicker-2yf6Ci .react-datepicker__week:hover .react-datepicker__day.react-datepicker__day--selected:after {
  margin-bottom: -1px;
}
/*Pins (personal and public)*/
[aria-label="Pinned Messages"] .messagesPopoutWrap-1MQ1bW {
  width: 700px;
  max-height: 950px !important;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.layer-v9HyYc .popout-2iWAc- {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.layer-v9HyYc .header-ykumBX {
  background-color: var(--popout-header);
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.emptyPlaceholder-1zh-Eu {
  background-color: black;
}
/*Chat AutoComplete Popup*/
.wrapper-uf3cnO {
  background: rgb(0, 0, 0, 0);
}
#app-mount .autocomplete-1vrmpx {
  background: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 8px;
}
.autocomplete-1vrmpx > div > .scroller-3gAZLs {
  border-radius: 8px;
  background-color: var(--user-popout);
  margin: 0;
}
#app-mount .autocomplete-1vrmpx .wrapper-2Gsate {
  margin-top: 0px;
  background-color: var(--user-popout);
  height: 100%;
  margin-bottom: -3px;
  border: 0;
  border-radius: 0px;
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));

}
.autocomplete-1vrmpx .wrapper-uf3cnO {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.autocomplete-1vrmpx .categoryHeader-O1zU94 {
  background-color: var(--user-popout);
}
.autocomplete-1vrmpx .autocompleteRow-2OthDa .selected-1Tbx07 {
  background-color: var(--back-color-boxes-hover);
}
.autocomplete-1vrmpx .wrapper-2siovq.selected-3xBBKs {
  background-color: var(--back-color-boxes-hover);
}
.autocomplete-1vrmpx .wrapper-2siovq.selected-3xBBKs:hover {
  background-color: var(--back-color-boxes);
}
/*activity cards on vc*/
.container-2dqNWc,
.popout-APcvZm {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.translate-2dAEQ6 .container-2dqNWc {
  background-color: black;
}
/*invite popout*/
[role="dialog"] .inviteSplash-40aHus {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-left: 0;
  height: 100%;
}
[role="dialog"] .contentWrapper-3WC1ID {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
[role="dialog"] .contentWrapper-3WC1ID .scroller-3__pG8::-webkit-scrollbar {
  display: none;
}
/*listbox popup*/
.lookFilled-22uAsw.select-2fjwPw:hover {
  background-color: rgb(12, 12, 12);
  border: 1px solid rgb(var(--border-color-hover));
}
.lookFilled-22uAsw.select-2fjwPw {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.popout-VcNcHB[role="listbox"] {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 5px;
}
/*Server popup (announcements)*/
#app-mount .guildPopout-3CgKqR {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .guildPopout-3CgKqR .footer-3OAEzG {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*Keyboard Combos popup*/
#app-mount .keyboardShortcutsModal-3piNz7 {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .keybindShortcut-1BD6Z1 span:active {
  box-shadow: inset 0 -2px 0 rgb(var(--border-color-hover), var(--border-opacity-1));
}
#app-mount .keybindShortcut-1BD6Z1 span {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-hover), var(--border-opacity-1));
  box-shadow: inset 0 -4px 0 rgb(var(--border-color-hover), var(--border-opacity-1));
}
/*BD-compat toast (not build in toasts)*/
body .bd-toasts .bd-toast {
  padding: 8px;
  margin-top: 5px;
  padding-left: 30px;
}
