._59d0d7075b521375-layerContainer {
  [role="dialog"] {
    ._49fc18ba07c5025f-rootWithShadow {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1)) !important;
      backdrop-filter: blur(2px);
      width: 500px;
      overflow: hidden;

      ._49fc18ba07c5025f-rootWithShadow {
        border: 0 !important;
        backdrop-filter: unset;
        width: 100%;
      }
    }
    .e8b59c4b335dd2fc-messagesPopoutWrap,
    ._957962c2bd49881b-recentMentionsPopout,
    .container__2692d,
    .fc561d3c125f6a2f-container,
    ._49fc18ba07c5025f-root {
      background-color: transparent;
      backdrop-filter: blur(2px);
      overflow: hidden;
      box-shadow: unset;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      &:has(.user-profile-modal) {
        border: 0;
      }
      .e8b59c4b335dd2fc-header {
        background-color: var(--popout-header);
        padding: 8px 8px;
      }
      .ab66419eae73260f-header,
      ._49fc18ba07c5025f-header {
        background-color: var(--popout-header);
        padding: 4px 8px;

        .ab66419eae73260f-headerTabs {
          margin: 0;
        }
      }
      ._2692d04af6567ec8-scroller,
      .d404a36e7b59cdcf-container,
      .e8b59c4b335dd2fc-messagesPopout,
      ._0f7115b4703f7b3a-container {
        background-color: var(--popout-body);
        padding-right: 0 !important;
        padding-bottom: 8px;

        ._427f0273a157ab7a-channel,
        & > div[role="list"],
        ._957962c2bd49881b-container {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 8px;

          ._35a7ecf3aba351b2-channelHeader {
            background-color: transparent;
            backdrop-filter: unset;
            filter: blur(0);
            padding: 8px 4px 8px 8px;
            height: fit-content;
          }
          ._1ccd1ba5cb2270c2-messages,
          .e8b59c4b335dd2fc-messageGroupWrapper {
            background-color: transparent;
            border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
            padding: 0;
            margin: 0;
          }
          ._1ccd1ba5cb2270c2-messageContainer,
          ._957962c2bd49881b-messageContainer {
            background-color: transparent;
            border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
            padding: 0;
            margin: 4px;
            margin-right: 0;
          }
          ._1ccd1ba5cb2270c2-messages,
          ._1ccd1ba5cb2270c2-messageContainer,
          ._957962c2bd49881b-messageContainer,
          .e8b59c4b335dd2fc-messageGroupWrapper {
            border-radius: var(--border-radius-m);

            .c19a557985eb7793-wrapper,
            ._957962c2bd49881b-message {
              padding: 1px 0 1px 52px;
              margin: 0;

              .c19a557985eb7793-messageContent {
                padding: 0;
                margin: 0;
              }
              .StatusEverywhereV2-Avatar,
              .c19a557985eb7793-avatar {
                left: 4px;
              }
            }
          }
        }
        ._6fddf2ee3574a18a-unread {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      ._49fc18ba07c5025f-content {
        background-color: var(--popout-body);
        padding: 4px 0 0 8px;
        padding-right: 0 !important;
        overflow: hidden !important;

        ._623de82e76ad7f82-embedVideo {
          margin: 0 auto;
        }
      }
      ._49fc18ba07c5025f-content:has(> ._8826425bb0684b12-card) {
        overflow: hidden scroll !important;
      }
      ._49fc18ba07c5025f-footer,
      .e8b59c4b335dd2fc-footer,
      .cba5926a3ea0ad97-footer {
        background-color: var(--popout-footer);
        border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        padding: 8px;
      }
    }
  }
  [role="menu"] {
    box-shadow: unset;
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    background-color: var(--back-color-menu);

    .c1e9c47c23f12ca3-scroller {
      padding: 3px 0 3px 4px;
      height: fit-content;
      height: calc(100% + 100px);
      max-height: calc(100vh - 32px);
      display: flex;
      flex-direction: column;
      gap: 2px;

      .c1e9c47c23f12ca3-item {
        padding: 2px 4px;
        min-height: unset;

        .c1e9c47c23f12ca3-caret,
        .c1e9c47c23f12ca3-iconContainer {
          width: 16px;
          height: 16px;
        }
      }
      .f563df886a7377be-wrapper {
        padding: 2px 0 2px 2px;

        .c1e9c47c23f12ca3-customItem {
          .f563df886a7377be-button {
            height: 33px;
          }
        }
      }
      .c1e9c47c23f12ca3-separator {
        margin: 0 4px;
      }
      & > [aria-hidden="true"]:last-child {
        display: none;
      }
    }
  }
}
.bd-toasts {
  width: 100vw !important;
  left: 0 !important;
}
/*Search*/
._55c999adcf6db265-container {
  background-color: var(--back-color-search-popup);
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  backdrop-filter: blur(2px);
}
/*Emoji & Gif */
._084343c4f11eaaab-positionContainer {
  height: 506px;
  ._084343c4f11eaaab-drawerSizingWrapper {
    .fed6d32841cc2da2-header,
    .fed6d32841cc2da2-container {
      background: transparent;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .fed6d32841cc2da2-content {
        background-color: var(--back-emoji-etc-picker);
        backdrop-filter: blur(2px);
        border-radius: var(--border-radius-xl);
        border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));

        .d02962a38047ac3c-container::-webkit-scrollbar-track {
          visibility: visible;
          background-color: rgba(var(--border-color-hover), var(--border-opacity-hover)) !important;
          border: 2px solid var(--back-emoji-etc-picker);
          border-radius: var(--border-radius-s);
          margin-block: 10px;
        }
        .d02962a38047ac3c-container::-webkit-scrollbar-thumb {
          visibility: visible;
        }
      }
      .abf7060e6f2beabe-justifyStart {
        background-color: var(--back-emoji-etc-picker);
        backdrop-filter: blur(2px);
        border-radius: var(--border-radius-xl);
        border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
        padding: 0;
      }
      
      .fed6d32841cc2da2-header {
        padding: 0;
        .searchBar_fed6d3 {
          border-radius: var(--border-radius-xl);
        }
      }
    }
    ._084343c4f11eaaab-contentWrapper {
      border: 0;
      padding: 0;
      background-color: unset;
      box-shadow: unset;
      border-radius: var(--border-radius-0);
      grid-row-gap: 5px;
      grid-template-rows: 36px 1fr;
  
      ._084343c4f11eaaab-nav {
        padding: 5px;
        background-color: var(--back-emoji-etc-picker);
        backdrop-filter: blur(2px);
        border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
        border-radius: var(--border-radius-xl);
      }
      .c0e32c5cffed3d9f-wrapper {
        display: grid;
        grid-template-columns: 48px 1fr;
        gap: 5px;
        max-height: 100%;
  
        .c0e32c5cffed3d9f-categoryList {
          position: relative;
          top: unset;
          bottom: unset;
          left: unset;
          right: unset;
          grid-row: 1/2;
          border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
          border-radius: var(--border-radius-xl);
          background: var(--back-emoji-etc-picker);
          height: 442px;

          .b9ee0c229bc0b6bb-unicodeShortcut {
            background-color: var(--back-emoji-etc-picker);
            backdrop-filter: blur(2px);
          }
        }
      }
      /*Stickers*/
      ._8ef02eea17068b73-wrapper {
        gap: 5px;

        ._8ef02eea17068b73-header,
        ._6c79861fd96f56b1-wrapper {
          background-color: var(--back-emoji-etc-picker);
          backdrop-filter: blur(2px);
          border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
          border-radius: var(--border-radius-xl);
        }
        ._6c79861fd96f56b1-wrapper {
          position: relative;
          top: unset;
          bottom: unset;
          left: unset;
          right: unset;
          height: 442px;
          grid-row: 1/3;
        }
        ._8ef02eea17068b73-header {
          padding: 0 2px 0 0;
          grid-column: 2/3;
  
          .container_fea832 {
            border-radius: var(--border-radius-xl);
  
            .inner_fea832 {
    
              &::-webkit-scrollbar {
                display: none;
              }
            }
          }
        }
        ._8ef02eea17068b73-listWrapper {
          height: 397px;
          box-sizing: border-box;

          .e94b8cb2ff7b5c8d-wrapper {
            gap: 5px;

            > * {
              background-color: var(--back-emoji-etc-picker);
              backdrop-filter: blur(2px);
              border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
              border-radius: var(--border-radius-xl);
            }
            .affa7e120767dd82-scroller {
              padding: 5px 0 5px 5px;

              &::-webkit-scrollbar-track {
                border: 2px solid var(--back-emoji-etc-picker);
                border-radius: var(--border-radius-s);
                margin-block: 8px;
              }
              .affa7e120767dd82-listItems {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5px;
                right: 0px !important;
                left: 0px !important;
                bottom: 0px !important;

                > div {
                  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
                  border-radius: var(--border-radius-xl);
                  box-sizing: border-box;
                  overflow: hidden;

                  .c6367b0f171ba6d7-row {
                    column-gap: 5px !important;
                    padding: 0 5px;
                    margin-bottom: 5px;
                  }
                  .c6367b0f171ba6d7-stickerInspected {
                    * {
                      mask: none;
                    }
                    .c6367b0f171ba6d7-inspectedIndicator {
                      background-color: var(--background-secondary-alt);
                    }
                  }
                  .e94b8cb2ff7b5c8d-packHeader {
                    border-radius: var(--border-radius-xl) var(--border-radius-xl) var(--border-radius-0) var(--border-radius-0);
                    background-color: var(--background-secondary-alt);
        
                    &:after {
                      display: none;
                    }

                    
                  }
                }
              }
            }
          }
        }
      }
      /*Emoji*/
      .c0e32c5cffed3d9f-emojiPicker {
        gap: 5px;
        grid-template-rows: 40px 1fr;
        grid-template-columns: 1fr;
        background: transparent;
  
        > * {
          background-color: var(--back-emoji-etc-picker);
          backdrop-filter: blur(2px);
          border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
          border-radius: var(--border-radius-xl);
        }
        .c0e32c5cffed3d9f-header {
          padding: 0 10px 0 0;
          grid-column: unset;
          grid-row: unset;
  
          .container_a45028 {
            border-radius: var(--border-radius-xl) var(--border-radius-s) var(--border-radius-s) var(--border-radius-xl);
            margin-right: 10px;
            border: 0;
  
            .inner_fea832 {
              border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
    
              &::-webkit-scrollbar {
                display: none;
              }
            }
          }
        }
        .c0e32c5cffed3d9f-bodyWrapper {
          padding: 5px 0px 5px 5px;
          grid-column: unset;
          grid-row: unset;
        }
        .aeaaeb2a573807f0-inspector {
          grid-column: unset;
          grid-row: unset;
        }
      }
      .c0e32c5cffed3d9f-emojiPickerHasTabWrapper {
        .affa7e120767dd82-scroller {
          &::-webkit-scrollbar-track {
            border: 2px solid var(--back-emoji-etc-picker);
            border-radius: var(--border-radius-s);
            margin-block: 5px;
          }
          .affa7e120767dd82-listItems {
            display: flex;
            flex-direction: column;
            gap: 5px;
      
            .c656aca9a3db31a9-categorySection {
              border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
              border-radius: var(--border-radius-xl);
              box-sizing: border-box;
              /* overflow: hidden; */
              padding: 0;

              .fc7141859aaa98b7-emojiListRow {
                padding: 0;
              }
              .c656aca9a3db31a9-header {
                border-radius: var(--border-radius-xl) var(--border-radius-xl) var(--border-radius-0) var(--border-radius-0);
                background-color: var(--background-secondary-alt);
    
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  ._740174f3d6a2c8fe-expressionPickerPositionLayer {
    left: 0;

    ._084343c4f11eaaab-drawerSizingWrapper {
      width: 100vw !important;
      max-width: unset;
      right: 0 !important;
    }
    ._084343c4f11eaaab-resizeHandle {
      display: none;
    }
    #emoji-picker-tab-panel {
      /* emoji picker */
      .c0e32c5cffed3d9f-categoryList {
        height: 100vw !important;
        transform: rotate(90deg) scaleY(-1);
        left: 100vw;
        right: unset;
        bottom: 48px;
        top: unset;
        transform-origin: bottom left;
        border-radius: var(--border-radius-0);
      }
      .emojiPickerInExpressionPicker-2nOwH8 .c0e32c5cffed3d9f-categoryList {
        top: unset !important;
      }
      ._6c79861fd96f56b1-wrapper .affa7e120767dd82-listItems > div,
      .b9ee0c229bc0b6bb-unicodeShortcut {
        transform: rotate(90deg) scaleY(-1);
      }
      .b9ee0c229bc0b6bb-categoryItemGuildCategory svg {
        width: 24px;
      }
      .b9ee0c229bc0b6bb-categoryItemGuildCategory {
        margin: 0 !important;
      }
      .c0e32c5cffed3d9f-emojiPicker .aeaaeb2a573807f0-inspector {
        display: none;
      }
      .c0e32c5cffed3d9f-categoryList .b9ee0c229bc0b6bb-guildCategorySeparator {
        display: none;
      }
      ._084343c4f11eaaab-drawerSizingWrapper,
      .emojiPickerInExpressionPicker-2nOwH8 {
        width: 250px !important;
      }
      .c0e32c5cffed3d9f-emojiPicker {
        grid-template-columns: 0 auto;
      }
    }
  }
}