/*Small Fixes*/
#app-mount .peopleListItem-2nzedh .avatarWrapper .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: 40px;
}
#app-mount .messagesWrapper-1sRNjr .contents-2mQqc9 .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: 40px;
}
#app-mount .focusLock-Ns3yie .avatarWrapper .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: 160px;
}
.userInfo-2zN2z8,
.peopleListItem-2nzedh {
  overflow: visible;
}
.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}
.pointerEvents-2zdfdO[width="30"] {
  width: 40px !important;
}
/*3 dots*/
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle {
  cy: -8;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cx: -8.5;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cx: -2.25;
}
#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cx: 4;
}
#app-mount .message-2qnXI6 .wrapper-3t9DeA .dots-3Bkt3k circle {
  cy: -10px;
}
#app-mount .message-2qnXI6 .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cx: -10.5;
}
#app-mount .message-2qnXI6 .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cx: -3.25px;
}
#app-mount .userPopout-xaxa6l .wrapper-3t9DeA .dots-3Bkt3k circle {
  cy: 3px;
}
#app-mount .userPopout-xaxa6l .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cx: -23.5;
}
#app-mount .userPopout-xaxa6l .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cx: -12.25px;
}
#app-mount .userPopout-xaxa6l .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cx: -1px;
}
#app-mount .focusLock-Ns3yie .wrapper-3t9DeA .dots-3Bkt3k circle {
  cy: 20px;
}
#app-mount .focusLock-Ns3yie .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cx: -23.5;
}
#app-mount .focusLock-Ns3yie .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cx: -7.25px;
}
#app-mount .focusLock-Ns3yie .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cx: 9px;
}
