/*Small Fixes*/
#app-mount .peopleListItem-u6dGxF .avatarWrapper .wrapper-1VLyxH foreignObject[mask*=mobile] {
  width: 40px;
}
#app-mount .messagesWrapper-RpOMA3 .contents-2MsGLg .wrapper-1VLyxH foreignObject[mask*=mobile] {
  width: 40px;
}
#app-mount .focusLock-2tveLW .avatarWrapper .wrapper-1VLyxH foreignObject[mask*=mobile] {
  width: 160px;
}
.userInfo-2WpsYG,
.peopleListItem-u6dGxF {
  overflow: visible;
}
.info-1sUqUG .colorMuted-20987_:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}
.pointerEvents-9SZWKj[width="30"] {
  width: 40px !important;
}
/*colors*/
#app-mount [data-status="online"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--online);
}
#app-mount [data-status="idle"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--idle);
}
#app-mount [data-status="dnd"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--dnd);
}
#app-mount [data-status="streaming"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--streaming);
}
#app-mount [data-status="offline"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--offline);
}
#app-mount [data-status="invisible"] .wrapper-1VLyxH > svg > rect {
  stroke: var(--offline);
}
/*3 dots*/
#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: -8;
}
#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -8.5;
}
#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -2.25;
}
#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
  cx: 4;
}
#app-mount .message-2CShn3 .wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: -10px;
}
#app-mount .message-2CShn3 .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -10.5;
}
#app-mount .message-2CShn3 .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -3.25px;
}
#app-mount .userPopout-2j1gM4 .wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: 3px;
}
#app-mount .userPopout-2j1gM4 .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -23.5;
}
#app-mount .userPopout-2j1gM4 .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -12.25px;
}
#app-mount .userPopout-2j1gM4 .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
  cx: -1px;
}
#app-mount .focusLock-2tveLW .wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: 20px;
}
#app-mount .focusLock-2tveLW .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -23.5;
}
#app-mount .focusLock-2tveLW .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -7.25px;
}
#app-mount .focusLock-2tveLW .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
  cx: 9px;
}
