#app-mount *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
#app-mount ._496769951eb140fe-search .public-DraftEditor-content::-webkit-scrollbar,
#app-mount .d125d22cdfd32cfe-none::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#app-mount ._506b39a96c2f8884-scrollbarGhost::-webkit-scrollbar,
#app-mount ._9293f6b2fc12398a-container ._9293f6b2fc12398a-children ._133bf5eea8e33a34-tabBar::-webkit-scrollbar,
#app-mount .f5f93a5c4078d63c-descriptionClamp::-webkit-scrollbar,
#app-mount ._506b39a96c2f8884-scrollbarGhostHairline::-webkit-scrollbar,
#app-mount .d125d22cdfd32cfe-thin::-webkit-scrollbar,
#app-mount ._99f8cc7ad4790ce9-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#app-mount ._740174f3d6a2c8fe-scrollableContainer > ._740174f3d6a2c8fe-inner::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#app-mount *::-webkit-scrollbar-track {
  background-color: transparent;
}
#app-mount *::-webkit-scrollbar-thumb {
  background-color: rgba(var(--border-color-1), var(--border-opacity-1));
  min-height: 40px;
  cursor: ns-resize;
}
#app-mount *::-webkit-scrollbar-thumb,
#app-mount *::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: var(--border-radius-m);
  visibility: visible;
}
#app-mount ._506b39a96c2f8884-scrollbarGhost::-webkit-scrollbar-thumb,
#app-mount ._506b39a96c2f8884-scrollbarGhost::-webkit-scrollbar-track,
#app-mount ._9293f6b2fc12398a-container ._9293f6b2fc12398a-children ._133bf5eea8e33a34-tabBar::-webkit-scrollbar-track,
#app-mount ._9293f6b2fc12398a-container ._9293f6b2fc12398a-children ._133bf5eea8e33a34-tabBar::-webkit-scrollbar-thumb,
#app-mount .f5f93a5c4078d63c-descriptionClamp::-webkit-scrollbar-track,
#app-mount .f5f93a5c4078d63c-descriptionClamp::-webkit-scrollbar-thumb,
#app-mount ._506b39a96c2f8884-scrollbarGhostHairline::-webkit-scrollbar-thumb,
#app-mount ._506b39a96c2f8884-scrollbarGhostHairline::-webkit-scrollbar-track,
#app-mount .d125d22cdfd32cfe-thin::-webkit-scrollbar-thumb,
#app-mount .d125d22cdfd32cfe-thin::-webkit-scrollbar-track,
#app-mount ._99f8cc7ad4790ce9-thin::-webkit-scrollbar-thumb,
#app-mount ._99f8cc7ad4790ce9-thin::-webkit-scrollbar-track {
  border: 2px solid transparent;
}
#app-mount *::-webkit-scrollbar-track {
  border-width: initial;
}
#app-mount ._506b39a96c2f8884-scrollbarGhost::-webkit-scrollbar-thumb,
#app-mount ._506b39a96c2f8884-scrollbarGhostHairline::-webkit-scrollbar-thumb,
#app-mount ._9293f6b2fc12398a-container ._9293f6b2fc12398a-children ._133bf5eea8e33a34-tabBar::-webkit-scrollbar-thumb {
  cursor: ew-resize;
}
@media (max-width: 400px) {
  #app-mount *::-webkit-scrollbar-thumb,
  #app-mount *::-webkit-scrollbar-track {
    border: 2px solid transparent;
  }
  #app-mount *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 750px) {
  #app-mount .c0bea05627c5dc35-inner::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #app-mount .c0bea05627c5dc35-inner::-webkit-scrollbar-thumb,
  #app-mount .c0bea05627c5dc35-inner::-webkit-scrollbar-track {
    border: 2px solid transparent;
  }
}