/*Unread */
.isUnread-3Ef-o9 {
  border-color: transparent;
}
.unreadPillCapStroke-7rkHbg {
  fill: transparent;
  color: transparent;
}
#app-mount .divider-JfaTT5.isUnread-3Ef-o9 .unreadPillCap-3_K2q2 {
  display: none
}
#app-mount .divider-JfaTT5.isUnread-3Ef-o9:after {
  margin-left: 30px;
  background: linear-gradient(to right, var(--unread-message-line) 50%, transparent);
}
.unreadPill-2HyYtt {
  display: flex !important;
  color: var(--unread-message) !important;
}
.pill-1z4sAY .item-2hkk8m {
  background-color: var(--unread-pill);
  animation-name: channel-unread-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.unread-2lAfLh {
  width: 8px;
  top: 52%;
  height: 6px;
  background-color: var(--unread-pill);
  animation-name: channel-unread-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes channel-unread-1 {
  0% {
    box-shadow: 0 0 0 0 var(--unread-pill-shadow);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.item-2hkk8m {
  background-color: var(--selected-pill);
}
/*Time Stamp Divider */
#app-mount .divider-JfaTT5.isUnread-3Ef-o9 span {
  display: none;
}
#app-mount .divider-JfaTT5 span {
  left: 0;
  right: unset;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  color: rgb(var(--separator));
}
#app-mount .divider-JfaTT5:after {
  content: "";
  position: relative;
  flex: 1 0 auto;
  margin-left: 5px;
  height: 1px;
  border: 1px;
  background: linear-gradient(to right, var(--message-separator-line) 50%, transparent);
}
/*Role Members*/
.divider-3573oO {
  border-top: 1px solid rgb(var(--separator));
}
/*Friend List*/
.peopleListItem-2nzedh:nth-child(2) {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px;
}
.peopleListItem-2nzedh:last-child {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 10px 10px;
}
.peopleListItem-2nzedh {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  border-radius: 0px;
  margin-right: 10px;
  margin-left: 15px;
  padding-right: 10px;
  padding-left: 15px;
  box-shadow: inset 0 0 10px rgb(var(--border-color), var(--border-opacity));
  transition: 
    box-shadow 0.75s, 
    border-color 1s;
}
.peopleListItem-2nzedh:nth-child(2):hover {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 10px 10px 0px 0px;
}
.peopleListItem-2nzedh:last-child:hover {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 0px 0px 10px 10px;
}
.peopleListItem-2nzedh:hover {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 0px;
  margin-right: 10px;
  margin-left: 15px;
  padding-right: 10px;
  padding-left: 15px;
  box-shadow: inset 0 0 20px rgb(var(--border-color-blue));
}
.peopleListItem-2nzedh.active-rhSpJJ {
  margin: 0px 10px 0px 15px;
  padding: 0px 10px 0px 15px;
}
.peopleListItem-2nzedh.active-rhSpJJ+.peopleListItem-2nzedh,
.peopleListItem-2nzedh:hover+.peopleListItem-2nzedh {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.peopleListItem-2nzedh:hover + .peopleListItem-2nzedh {
  border-top: 0px;
  border-bottom: 0px;
}
.peopleListItem-2nzedh:nth-last-child(2):hover+.peopleListItem-2nzedh {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
}
.peopleListItem-2nzedh:hover+.peopleListItem-2nzedh:hover {
  border: 1px solid rgb(var(--border-color-blue));
}
.peopleListItem-2nzedh:nth-child(2):last-child {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 10px;
}
.peopleListItem-2nzedh:nth-child(2):last-child:hover {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 10px;
}
.peopleListItem-2nzedh:nth-child(2).active-rhSpJJ {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 10px 10px 0px 0px;
}
.peopleListItem-2nzedh:last-child.active-rhSpJJ {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 0px 0px 10px 10px;
}
.peopleListItem-2nzedh.active-rhSpJJ {
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 0px;
}
.userInfo-2zN2z8 {
  overflow: hidden !important;
}
