/*Unread */
.isUnread_c2654d {
	border-color: transparent;
}
.unreadPillCapStroke_c2654d {
	fill: transparent;
	color: transparent;
}
#app-mount .divider_c2654d.isUnread_c2654d .unreadPillCap_c2654d {
	display: none;
}
#app-mount .divider_c2654d.isUnread_c2654d:after {
	margin-left: 30px;
	background: linear-gradient(
		to right,
		var(--unread-message-line) 50%,
		transparent
	);
}
.unreadPill_c2654d {
	display: flex !important;
	color: var(--unread-message) !important;
}
.pill-1z4sAY .item_c4cd66 {
	background-color: var(--unread-pill);
	animation-name: channel-unread-1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.unread_d8bfb3 {
	width: 8px;
	top: 13px;
	left: -8px;
	margin-top: 0;
	height: 6px;
	background-color: var(--unread-pill);
	animation-name: channel-unread-1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes channel-unread-1 {
	0% {
		box-shadow: 0 0 0 0 var(--unread-pill-shadow);
	}
	70% {
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.item_c4cd66 {
	background-color: var(--unread-pill);
}
/*Time Stamp Divider */
#app-mount .divider_c2654d {
	border: 0;
}
#app-mount .divider_c2654d.isUnread_c2654d span {
	display: none;
}
#app-mount .divider_c2654d span {
	left: 0;
	right: unset;
	background: transparent;
	display: flex;
	flex-flow: row wrap;
	color: rgb(var(--separator));
}
#app-mount .divider_c2654d:after {
	content: "";
	position: relative;
	flex: 1 0 auto;
	margin-left: 5px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgb(var(--separator)) 50%,
		transparent
	);
}
/*Role Members*/
.divider_b8ab18 {
	border-top: 1px solid rgb(var(--separator));
}
