/*Background Selected DM*/
/*DM-list*/
._972a0d22c8afa7f0-channel:hover {
  box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
  background-color: var(--back-selected-dm);
}
._972a0d22c8afa7f0-channel {
  box-shadow: 0px;
  transition: box-shadow var(--animation-duration-4), background-color var(--animation-duration-5);
  border-radius: var(--border-radius-xxl);
  background-color: transparent;
  overflow: hidden;

  ._972a0d22c8afa7f0-iconsContainer {
    padding-left: 0;
  }
}
.c9d15c8a962de3c8-icon {
  color: white;
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-link,
#app-mount ._972a0d22c8afa7f0-channel .bf202d63ad53e289-selected {
  background: var(--back-selected-dm-pic);
  background-color: transparent;
  background-size: cover;
  background-position: var(--back-pos-dm);

  ._2ea32c412048f708-name,
  ._20a53846fe2e8513-subText,
  ._20a53846fe2e8513-name {
    color: var(--dm-selected-color);
  }
}
#app-mount ._2ea32c412048f708-wrapper ._2ea32c412048f708-link,
#app-mount .bf202d63ad53e289-interactive {
  background-color: transparent;
}
#app-mount ._2ea32c412048f708-wrapper ._2ea32c412048f708-link,
#app-mount ._972a0d22c8afa7f0-dm .bf202d63ad53e289-interactive {
  
  ._2ea32c412048f708-name,
  ._20a53846fe2e8513-subText,
  ._20a53846fe2e8513-name {
    color: var(--dm-color);
  }
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-link,
#app-mount ._972a0d22c8afa7f0-dm .bf202d63ad53e289-interactive ._20a53846fe2e8513-highlighted {
  
  ._2ea32c412048f708-name,
  ._20a53846fe2e8513-subText,
  ._20a53846fe2e8513-name {
    color: var(--dm-unread-color);
  }
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeMuted ._2ea32c412048f708-link,
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-muted {
  background-color: transparent;
  
  ._2ea32c412048f708-icon,
  ._2ea32c412048f708-name,
  ._20a53846fe2e8513-subText,
  ._20a53846fe2e8513-name {
    color: var(--dm-muted-color);
  }
}
/*Server Channels*/
._5e434347c823b592-sidebarList {
  ._2637a2609f343032-container > ._629e4c86564a4ee7-scroller {
    overflow-y: overlay !important;
    scrollbar-gutter: stable;
    margin: 0;
  }
  ._2b1f52e43a8f1c02-numberBadge {
    background-color: var(--mentioned-badge) !important;
  }
  ._2ea32c412048f708-children {
    display: none;
  }
  .c69b6db0641110f6-containerDefault:hover {
    ._2ea32c412048f708-children {
      display: flex;
    }
  }
  &:not(:hover) {
    ._2b1f52e43a8f1c02-numberBadge {
      width: fit-content !important;
      height: 14px;
      min-width: unset;
      min-height: unset;
      padding: 0 5px !important;
      font-size: 10px;
    }
    li:not(._29444ba32c7fbeab-containerDefault) {
      ._2ea32c412048f708-linkBottom {
        .b0dfc2ed9c57037d-overflow {
          display: none;
        }
      }
    }
    li.c69b6db0641110f6-containerDefault {
      ._55bab3f0b2555838-draggable + ._55bab3f0b2555838-draggable {
        display: none;
      }
    }
    ._599fa27f4d2464c6-newChannel {
      position: absolute;
      padding: 0;
      right: -7px;
      font-size: 0;
      height: 14px;
      width: 14px;
      min-height: unset;
      min-width: unset;
      
      &::after {
        content: "N";
        inset: 0;
        position: absolute;
        font-size: 10px;
      }
    }
    ._2ea32c412048f708-children:has(> .c69b6db0641110f6-channelInfo) {
      display: flex;
      position: absolute;
      right: -16px;
  
      .c69b6db0641110f6-channelInfo {
        border: 0;
        margin: 0;
    
        ._260e1982cd52c5c3-wrapper {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr auto;
          height: fit-content;
          line-height: unset;

          & > * {
            width: fit-content;
            font-size: 9px;
            padding: 2px;

            &::after,
            &::before {
              display: none;
            }
          }
          ._260e1982cd52c5c3-users {
            border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
          }
        }
      }
    }
  }
  &:hover {
    ._2637a2609f343032-container .d125d22cdfd32cfe-content {
      .voiceChannelsButton__29444 {
        ._4bd5201c86a2042b-defaultColor {
          transform: translateX(0);
          opacity: 1;
        }
      }
      ._07f9193042954787-listCollapse {
        flex-wrap: nowrap;
      }
    }
  }
  ._2637a2609f343032-container .d125d22cdfd32cfe-content {
    padding: 0 0 0 8px;

    ._29444ba32c7fbeab-containerDefault {
      padding-top: calc(var(--custom-category-channel-space-before-category) / 2);

      ._29444ba32c7fbeab-wrapperCommon {
        padding: 0 5px;
      }
    }
    .c69b6db0641110f6-containerDefault {
      ._2ea32c412048f708-children > .c69b6db0641110f6-iconItem {
        display: none;
      }
      &:hover {
        ._2ea32c412048f708-children > .c69b6db0641110f6-iconItem {
          display: block;
        }
      }
    }
    & > div:not([style]):where(:not(._629e4c86564a4ee7-sectionDivider)),
    & > li:where(:not(._29444ba32c7fbeab-containerDefault, ._5b40bdd67543ba35-container)) {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-0);
      padding: 0;
      margin: -1px 0 0 0;
      transition: border-color var(--animation-duration-3), box-shadow var(--animation-duration-3);

      &:hover {
        border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
        box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
        border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
  
        & + li,
        & + div,
        & + div[style] + li,
        & + ._629e4c86564a4ee7-sectionDivider + li,
        & + ._629e4c86564a4ee7-sectionDivider + div[style] + li {
          border-top-color: transparent;
        }
      }
      ._0d0f9ddd12a3ace3-progressContainer {
        border-radius: 0;
      }
      .c3cd7d38925bcd00-list {
        padding: 0;
        width: 100%;

        ._07f9193042954787-voiceUser {
          margin: 0;
        }
      }
    }
    & > ._29444ba32c7fbeab-containerDefault + ._629e4c86564a4ee7-voiceUserSummary,
    & > div[style] + div:not(._29444ba32c7fbeab-containerDefault, .c69b6db0641110f6-containerDefault),
    & > div[style] + li:not(._29444ba32c7fbeab-containerDefault, .c69b6db0641110f6-containerDefault),
    & > ._29444ba32c7fbeab-containerDefault + li:not(._29444ba32c7fbeab-containerDefault) {
      border-top-left-radius: var(--border-radius-m);
      border-top-right-radius: var(--border-radius-m);
    }
    & > div:not([style]):where(:has(+ li:not([style]))),
    & > div:not([style]):where(:has(+ div:not([style]))),
    & > li:not(._29444ba32c7fbeab-containerDefault):where(:has(+ div:not([style], ._629e4c86564a4ee7-sectionDivider))),
    & > li:not(._29444ba32c7fbeab-containerDefault):where(:has(+ li:not(._29444ba32c7fbeab-containerDefault))) {
      border-bottom-color: transparent;
    }
    & > ._629e4c86564a4ee7-voiceUserSummary:has(+ ._29444ba32c7fbeab-containerDefault),
    & > li:not(._29444ba32c7fbeab-containerDefault):has(+ ._629e4c86564a4ee7-sectionDivider),
    & > div:not([style]):last-child,
    & > li:not(._29444ba32c7fbeab-containerDefault):last-child,
    & > li:not(._29444ba32c7fbeab-containerDefault):has(+ ._29444ba32c7fbeab-containerDefault) {
      border-bottom-left-radius: var(--border-radius-m);
      border-bottom-right-radius: var(--border-radius-m);
    }
    & > li:has(+ ._629e4c86564a4ee7-sectionDivider + [style] + .c69b6db0641110f6-containerDefault),
    & > li:not([class]):has(+ ._629e4c86564a4ee7-sectionDivider + [style]) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: transparent;
    }
    & > .c69b6db0641110f6-containerDefault:hover + ._5b40bdd67543ba35-container {
      li.c69b6db0641110f6-containerDefault:first-of-type {
        border-top-color: transparent;
      }
    }
  }
  .voiceChannelsButton__29444 {
    display: grid;
    grid-template-columns: 16px 1fr;
    margin: 0;
    gap: 8px;
    justify-content: flex-start;
    overflow: hidden;

    .voiceChannelsToggleIcon__29444 {
      width: 16px;
      height: 16px;
      margin: 0;
    }
    ._4bd5201c86a2042b-defaultColor {
      text-wrap: nowrap;
      transform: translateX(var(--channel-name-no-hover-margin, 15px));
      opacity: var(--channel-name-no-hover-opacity, 0);
      transition: transform var(--animation-duration-2), opacity var(--animation-duration-3);
    }
  }
  ._07f9193042954787-listCollapse {
    flex-wrap: nowrap;
  }
  ._5b40bdd67543ba35-container {
    &:hover {
      & + .c69b6db0641110f6-containerDefault {
        border-top-color: transparent;
      }
    }
    &:not(:hover) {
      li.c69b6db0641110f6-containerDefault:last-child {
        border-bottom-color: transparent;
      }
    }
    &:has(+ ._29444ba32c7fbeab-containerDefault) ul .c69b6db0641110f6-containerDefault:last-child {
      border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
      border-bottom-left-radius: var(--border-radius-m);
      border-bottom-right-radius: var(--border-radius-m);
    }
    &:has(+ .c69b6db0641110f6-containerDefault:hover) {
      li.c69b6db0641110f6-containerDefault:last-child {
        border-bottom-color: transparent;
      }
    }
    li.c69b6db0641110f6-containerDefault {
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-0);
      margin-top: -1px;
      transition: border-color var(--animation-duration-3), box-shadow var(--animation-duration-3);

      &::after {
        display: none;
      }
      &:has(+ .c69b6db0641110f6-containerDefault) {
        border-bottom-color: transparent;
      }
      &:hover {
        border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
        box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
        border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
  
        & + li,
        & + div {
          border-top-color: transparent;
        }
      }
    }
    ._5b40bdd67543ba35-spineBorder {
      left: 15px;
      bottom: 23px !important;
    }
    ._5b40bdd67543ba35-spine {
      left: 14px;
    }
    & + li.c69b6db0641110f6-containerDefault {
      border-radius: var(--border-radius-0);
    }
  }
  ._629e4c86564a4ee7-voiceUserSummary {
    padding: 0 8px;
  }
  .containerWithMargin_eff079,
    ._2ea32c412048f708-wrapper {
      margin: 0;
      padding: 0;
    }
  .containerWithMargin_eff079::after,
  ._629e4c86564a4ee7-sectionDivider,
  ._629e4c86564a4ee7-sectionDivider + div[style] {
    display: none;
  }
}
/* Channels & Roles tab */
._0b56311ebc6682e2-container,
._41ed70e52483df6d-pageBody {
  background: transparent !important;
}
._0b56311ebc6682e2-container {
  ._5d7c9a81ac5dd074-pageBody,
  .d125d22cdfd32cfe-content {
    padding: 0;
  }
  ._5d7c9a81ac5dd074-prompt,
  ._5d7c9a81ac5dd074-scroller,
  ._41ed70e52483df6d-pageBody {
    padding: 5px !important;
  }
  ._0b56311ebc6682e2-tabBar {
    margin: 0;
    padding-left: 32px;
    border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

    .aa8da23faa27393c-item {
      margin: 0;
      padding: 16px 0;
    }
  }
  ._5d7c9a81ac5dd074-pageBody > div:not([class]) {
    padding: 10px 0 0 10px;
  }
  ._41ed70e52483df6d-header {
    margin: 0;
  }
  ._5d7c9a81ac5dd074-prompt {
    gap: 5px;
    border-radius: var(--border-radius-m);

    ._5d7c9a81ac5dd074-promptOptions {
      gap: 5px;

      ._270d7a28db32b312-optionButtonWrapper {
        border-radius: var(--border-radius-m);
      }
    }
    ._5d7c9a81ac5dd074-promptTitle {
      padding: 5px 0 0 10px;
    }
    ._5d7c9a81ac5dd074-helpText {
      padding-left: 10px;
    }
  }
  ._270d7a28db32b312-optionButtonWrapper,
  ._5d7c9a81ac5dd074-prompt,
  .search__41ed7,
  .e4503acec53c64dd-channelRow {
    background: var(--channels-roles-options-bg);
    border-color: rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .e4503acec53c64dd-firstChannel {
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
  }
  .e4503acec53c64dd-lastChannel {
    border-bottom-left-radius: var(--border-radius-m);
    border-bottom-right-radius: var(--border-radius-m);
  }
  .e4503acec53c64dd-categoryRow {
    padding: 16px 10px 4px 10px;
  }
  .inner_a45028 {
    padding: 0;

    .input_a45028 {
      height: 100%;
      padding: 10px 12px;
    }
    .iconLayout_a45028 {
      padding: 10px 12px 10px 0;
      height: 100%;
      width: fit-content;
    }
  }
}
/* Members Tab */
._09a38002c6c2466d-mainTableContainer {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
.e8f197ff80df8bf4-paginationContainer,
.b4ec0b0549a3448a-table {
  border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}