/*Small Popout*/
.profileBanner-33-uE1 {
  border-radius: 10px 10px 0px 0px;
}
.userPopout-3XzG_A .date-YN6TCS,
.headerText-15Q25Z {
  color: white !important;
}
.userPopout-xaxa6l > :first-child {
  max-height: 1000px;
  height: unset;
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  background: var(--user-popout);
}
.userPopout-xaxa6l {
  background-color: black;
}
.bodyInnerWrapper-26fQXj {
  background: transparent;
}
.headerTop-3vNv-a {
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
}
.theme-dark .body-3HBlXn {
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 10px 10px;
}
.theme-dark .footer-3UKYOU {
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  padding: 0px;
  margin-top: 10px;
}
.protip-2urNh2 {
  height: 5px;
  margin-top: 3px;
  margin-bottom: -1px;
}
.footer-3UKYOU,
.theme-dark .body-3HBlXn,
.theme-dark .footer-1N3bR3 {
  background: var(--user-popout);
}
.footer-1fjuF6 .inputDefault-_djjkz {
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background: var(--user-popout-alt);
}
.note-3HfJZ5 .input-cIJ7To:focus {
  background-color: var(--user-popout-alt);
}
.input-cIJ7To {
  border: 0px;
  background-color: transparent;
}
.popoutBanner-19WKGg {
  border-radius: 10px 10px 0px 0px;
  width: auto;
}
.avatarWrapper-3r9PdD {
  border: 1px solid red;
  border-bottom: 0px;
}
.popoutNoteCounter-62U4Rh {
  position: absolute;
  top: -21px;
  left: 45px;
  height: 0px;
}
/*Message Box Input*/
.input-2_SIlA {
  border-radius: 10px;
}
/*Activity cards*/
.activityUserPopout-2yItg2 {
  border-radius: 5px;
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: #120fa0b7;
  border-bottom: 4px solid #1100ff;
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 11px;
  box-shadow: none;
  background: #120fa0b7;
}
/*Roles*/
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  border-width: 0px 0px 0px 3px;
  border-radius: 1px 3px 3px 1px;
  background: transparent;
}
.roleCircle-3xAZ1j {
  width: var(--role-circle) !important;
  height: var(--role-circle) !important;
}
.roleCircle-3xAZ1j::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}
/*Roles selector*/
.container-3XJ8ns {
  z-index: 1003;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  padding: 0;
  background-color: var(--user-popout);
}
.container-3XJ8ns .list-1xE9GQ {
  margin: 0;
  padding: 0;
}
.popoutRoleDot-1XPcoA { 
  width: 0;
}
.item-2J2GlB {
  margin: 5px;
  position: relative;
  z-index: 1;
}
.popoutRoleDot-1XPcoA:before {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
}
/*Fake Popout In Settings*/
.popoutBannerPremium-1n96gg,
.bannerNormal-22rPhb {
  border-radius: 10px 10px 0px 0px;
  width: auto;
}
.popoutInfo-pKbpvG {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 10px 10px;
}
.headerTop-3vNv-a {
  background-color: var(--background-floating);
}
.popoutInfo-pKbpvG {
  background-color: black;
}
.divider-ewBQKj {
  height: 0px;
}
.popoutInfo-pKbpvG .headerTop-3vNv-a {
  border: 0px;
}
.fakeActivityWrapper-2i1oU- {
  border-radius: 5px;
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: #120fa0b7;
  border-bottom: 4px solid #1100ff;
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 11px;
  box-shadow: none;
  background: #120fa0b7;
}
