/*Small Popout*/
.userPopout-2j1gM4 .profileBanner-1owKI5 {
  border-radius: 10px 10px 0px 0px;
}
.userPopout-3XzG_A .date-YN6TCS,
.headerText-15Q25Z {
  color: white !important;
}
.userPopout-2j1gM4 > :first-child {
  max-height: 1000px;
  height: unset;
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  background: var(--user-popout);
}
.userPopout-2j1gM4 {
  background-color: black;
}
.bodyInnerWrapper-2bQs1k {
  background: transparent;
}
.headerTop-3GPUSF {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0px;
}
#app-mount .body-2wLx-E {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0px 0px 10px 10px;
}
#app-mount .footer-3naVBw {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  border-radius: 10px;
  padding: 0px;
  margin-top: 10px;
}
.protip-2urNh2 {
  height: 5px;
  margin-top: 3px;
  margin-bottom: -1px;
}
.footer-3naVBw,
#app-mount .body-2wLx-E,
#app-mount .footer-1N3bR3 {
  background: var(--user-popout);
}
.footer-1fjuF6 .inputDefault-3FGxgL {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background: var(--user-popout-alt);
}
.note-3HfJZ5 .input-2g-os5:focus {
  background-color: var(--user-popout-alt);
}
.input-2g-os5 {
  border: 0px;
  background-color: transparent;
}
.popoutBanner-3cqRD9 {
  border-radius: 10px 10px 0px 0px;
  width: auto;
}
.avatarWrapper-eenWra {
  border: 1px solid rgb(var(--border-color-1));
  border-bottom: 0px;
}
.popoutNoteCounter-62U4Rh {
  position: absolute;
  top: -21px;
  left: 45px;
  height: 0px;
}
.userPopout-2j1gM4 .scrollerBase-_bVAAt {
  padding-right: 16px !important;
}
/*Message Box Input*/
.input-2z42oC {
  border-radius: 10px;
}
/*Activity cards*/
.activityUserPopout-2MzGCj {
  border-radius: 5px;
  margin: 0px 0 15px 0;
  padding: 10px;
  background: var(--back-color-boxes);
  border-bottom: 4px solid var(--playing-card-border);
  border-radius: 11px;
  box-shadow: none;
}
#app-mount .ShowAllActivities-wrapper-wrapper {
  border-radius: 5px;
  margin: 0px 0 15px 0;
  background: var(--back-color-boxes);
  border-bottom: 4px solid var(--playing-card-border);
  border-radius: 11px;
  box-shadow: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ShowAllActivities-wrapper-wrapper .activityUserPopout-2MzGCj {
  margin: 0;
  border: 0;
}
.ShowAllActivities-wrapper-wrapper .activityUserPopout-2MzGCj:only-child {
  background: unset;
  padding: 0;
}
#app-mount .ShowAllActivities-wrapper-wrapper .ShowAllActivities-wrapper-controls {
  border-radius: 11px;
  margin: 0;
  background-color: black;
}
/*Roles*/
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  border-width: 0px 0px 0px 3px;
  border-radius: 1px 3px 3px 1px;
  background: transparent;
  min-height: 22px;
}
#app-mount .userPopout-2j1gM4 .roleName-2ZJJYR {
  overflow: visible;
  white-space: pre-wrap;
}
.roleCircle-3K9O3d {
  width: var(--role-circle) !important;
  height: var(--role-circle) !important;
}
.roleCircle-3K9O3d::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}
.roleRemoveButton-17oXnT {
  position: static;
}
/*Roles selector*/
.container-2O1UgZ {
  z-index: 1003;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  padding: 0;
  background-color: var(--user-popout);
}
.container-2O1UgZ .list-1MBHYC {
  margin: 0;
  padding: 0;
}
.popoutRoleDot-2_Nt5g { 
  width: 0;
}
.item-1BCeuB {
  margin: 5px;
  position: relative;
  z-index: 1;
}
.popoutRoleDot-2_Nt5g:before {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
}
/*Fake Popout In Settings*/
.popoutBannerPremium-3i5EEI,
.bannerNormal-22rPhb {
  border-radius: 10px 10px 0px 0px;
}
.popoutInfo-pKbpvG {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0px 0px 10px 10px;
}
.headerTop-3GPUSF {
  background-color: var(--background-floating);
}
.profileBannerPreview-3mLIdO {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.avatarUploader-qEFQS2 {
  border-radius: 50px;
  border: 1px solid rgb(var(--border-color-1));
  border-bottom: 0px;
}
.profileBannerPreview-3mLIdO .headerTop-3GPUSF {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.popoutInfo-pKbpvG {
  background-color: black;
}
.divider-1wtgZ3 {
  height: 0px;
}
.popoutInfo-pKbpvG .headerTop-3GPUSF {
  border: 0px;
}
.fakeActivityLayout-2kcbMs {
  border-radius: 5px;
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: #120fa0b7;
  border-bottom: 4px solid #1100ff;
  border-radius: 11px;
  box-shadow: none;
  background: #120fa0b7;
}
/*Bot Invite Button*/
#app-mount .applicationInstallButton-taCWKH {
  background-color: var(--user-popout);
  margin-top: 15px;
  width: calc(100% - 12px);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*Badges*/
.profileBadges-2pItdR {
  background-color: var(--back-small-user-popout-badges);
  border-radius: 7px;
  padding: 3px;
}
.profileBadges-2pItdR .clickable-1knRMS {
  margin: 0;
}