/*Userbuttons In Side Panel*/
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 1;
  padding: 20px 0 10px 0;
  flex-direction: column;
  background: linear-gradient(transparent, var(--back-user-buttons) 15%);
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  margin: var(--user-buttons-spacing) auto 0 auto;
}
.content-3YMskv {
  height: 850px !important;
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
  pointer-events: none;
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  pointer-events: auto;
  border-radius: 50%;
}
/*Account Background*/
.activityPanel-28dQGo,
.container-1giJp5,
.container-6sXIoE,
.container-3baos1{
  background: var(--back-account);
  margin-bottom: 0;
}
/*Background*/
.theme-dark .perksModal-fSYqOq,
.pageContent-1xgXch,
.applicationStore-1pNvnv,
.container-3Mxszk,
.layer-3QrUeG[aria-label="USER_SETTINGS"],
.pageWrapper-1PgVDX,
.content-yTz4x3,
.tabBody-3YRQ8W {
    background: var(--main-background);
    background-color: var(--back-color) !important;
}
/*Background Selected DM*/
.selected-3LIHYU .content-1x5b-n,
a.selected-aXhQR6 .layout-2DM8Md {
  background: var(--back-selected-dm-pic);
  background-color: var(--back-selected-dm-color);
  background-size: cover;
  background-position: var(--back-pos-dm);
}
/*DM-list*/
.channel-2QD9_O:hover .layout-2DM8Md {
  box-shadow: inset 0 0 20px rgb(var(--border-color-blue));
  background-color: var(--back-selected-dm-color);
}
.channel-2QD9_O .layout-2DM8Md {
  box-shadow: 0px;
  transition: 
    box-shadow 0.75s,
    background-color 1s;
  border-radius: 50px;
  background-color: transparent;
}
.channel-2QD9_O {
  border-radius: 50px;
}
/*Playing Card In Friendlist*/
.wrapper-3D2qGf {
  background-color: var(--back-color-boxes);
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.theme-dark .outer-1AjyKL.active-1xchHY {
  background-color: var(--back-color-boxes);
}
.wrapper-3D2qGf:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
.section-2gLsgF {
  background-color: black;
}
.itemCard-v9viV7:first-of-type {
  margin-top: -8px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0px;
}
.itemCard-v9viV7 {
  margin-top: 0px;
  border-radius: 0px;
  border-bottom: 0px;
}
.itemCard-v9viV7:nth-last-of-type(2):not(:first-of-type) {
  border-radius: 0px;
  border-bottom: 0px;
}
.itemCard-v9viV7:nth-last-of-type(2) {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.itemCard-v9viV7:nth-last-of-type(2):first-of-type {
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0px;
}
.itemCard-v9viV7:hover + div[style*="height: 16px;"] {
  background-color: var(--back-color-boxes-hover);
}
.itemCard-v9viV7 + div[style*="height: 16px;"] {
  width: unset !important;
  background-color: var(--back-color-boxes);
  top: 0px !important;
  left: 0px !important;
  position: relative !important;
  --__adaptive-focus-color: rgba(255, 255, 255, 0);
  display: block;
  height: 8px !important;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-top: 0px;
}
.theme-dark .separator-XqIyoz,
.theme-dark .inset-3sAvek {
  background-color: transparent;
}
@media (max-width: 1200px) {
  .nowPlayingColumn-2sl4cE {
    display: block;
    min-width: unset;
  }
  .mutualGuilds-s7F2aa {
    flex: none;
  }
}
/*Search Bar*/
.search-36MZv- {
  order: 1;
}
.search-2oPWTC:hover {
  background-color: var(--back-color-search-bar);
  border-radius: 5px;
}
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.25s;
  background-color: var(--background-tertiary);
}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN {
  transform: scale(1.2);
  transition: 0.25s;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN {
  transform: scale(1);
  transition: 0.25s;
}
/*Member List*/
.membersWrap-2h-GB4:not(#dv-mount),.membersWrap-2h-GB4:not(#dv-mount) > div{
	min-width:60px!important;
	max-width:240px!important;
	width:60px;
  transition: width .5s;
}
.membersWrap-2h-GB4:hover:not(#dv-mount),.membersWrap-2h-GB4:hover:not(#dv-mount) > div{
	width:240px;
	transition: width .6s;
}
/*Title Bar*/
.wordmarkWindows-1v0lYD {
  display: none;
}
.wordmark-2iDDfm svg {
  color: var(--title-bar-content-color);
}
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
  content: var(--title-bar-content);
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--title-bar-content-color);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
}
.titleBar-AC4pGV .winButtonClose-1HsbF- {
  color: red;
}
.titleBar-AC4pGV .winButtonClose-1HsbF-:hover {
  background-color: red;
  color: blue;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"],
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]{
  color: blue;
}
/*Crash Screen*/
.image-3zK3Wt {
  background-image: var(--crash-screen-image) !important;
}
.flexWrapper-2EgxO2 .lookFilled-1Gx00P .contents-18-Yxp::after {
  content: " Last Respawn Point";
}
.note-450gs3 div {
  visibility: hidden;
  height: 0px;
}
.note-450gs3 {
  margin-top: -50px;
}
.title-3trS3_ {
  display: none;
}
.note-450gs3::before {
  content: "Your discord got obliberated by one of your plugins";
  margin-bottom: 10px;
}
.note-450gs3::after {
  content: "Press crtl + shift + i to track down which plugin caused this";
  margin-top: 10px;
}
/*Message Hover Color*/
.mouse-mode .message-2qnXI6:hover,
.mouse-mode .scrollerContent-WzeG7R .message-2qnXI6:hover {
  background-color: var(--message-hover);
}
/*Typing Status*/
#app-mount .chat-3bRxxu form .typing-2GQL18 {
  background-color: var(--back-color-boxes);
  bottom: 100%;
  padding-left: 10px;
  overflow: hidden;
  width: fit-content;
  display: -webkit-box;
  padding-right: 20px;
  padding-top: 0px;
  border-radius: 5px 5px 0 0;
  opacity: 1;
  text-overflow: ellipsis;
  z-index: 5;
  border-bottom: 1px solid var(--typing-border);
}
.typing-2GQL18 .cooldownWrapper-3joyFc {
  margin: 0;
}
/*Server Bar*/
.guilds-1SWlCJ {
  margin-bottom: 180px;
}
/*Text Area*/
.scrollableContainer-2NUZem {
  border-radius: 0px 10px 10px 0px;
}
.form-2fGMdU:before {
  background: transparent !important;
}
/*Stage Pannels*/
.container-S9SaVf:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
.contentContainer-1fklqj {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  background-color: var(--back-color-boxes) !important;
}
/*Small Number Badges*/
.UnreadCountBadges-badge-channelUnread,
.topPill-30KHOu .numberBadge-2s8kKX {
  background-color: var(--back-color-number-badges) !important;
}
/*Status Circle Top Of The DM*/
[aria-label="Online"] .mask-1qbNWk rect {
  fill: var(--online);
}
/*Usertag Always Shows On Hover*/
.peopleListItem-2nzedh:hover .userInfo-2zN2z8 .discriminator-22Okc1 {
  display: block;
  visibility: visible;
}
/*Friend List*/
.icon-15YQ1T {
  color: white;
}
a.selected-aXhQR6 .subText-1KtqkB,
a.selected-aXhQR6 .name-uJV0GL { 
  color: var(--selcted-dm-color);
}
/*Force Show Link*/
.anchor-3Z-8Bb:after {
  content:attr(href);
  display:flex;
  align-items:center;
  z-index:9999;
  background:var(--back-color-boxes);
  line-height:normal;
  font-weight:normal;
  font-size:12px;
  padding:3px 4px;
  padding-right:6px;
  position:fixed;
  bottom:2px;
  left:148px;
  opacity:0;
  transition:200ms ease;
  white-space:nowrap;
  border-top: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 5px 5px;
  pointer-events:none;
}
.anchor-3Z-8Bb:hover:after {
  opacity:1;
}
.base-gE7OpD {
  z-index:-1;
}
/*ServerFolders Expanded*/
.expandedFolderIconWrapper-Huv7rA::after {
  content: "";
  margin-left: -22px;
  background-image: var(--home-button-background);
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.expandedFolderIconWrapper-Huv7rA path {
  display: none;
}
.expandedFolderBackground-1cujaW {
  background-color: var(--server-folder-1);
}
.folder-1hbNCn[aria-expanded="true"] {
  background-color: var(--server-folder-2);
  border-radius: 24px;
}
/*Server Channels*/
.containerDefault-3tr_sE[draggable="true"] + .containerDefault--pIXnN .content-1x5b-n {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
}
.containerDefault--pIXnN .content-1x5b-n {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  border-radius: 0px;
  margin-top: -2px;
  box-shadow: 0;
  transition: 
    box-shadow 0.5s, 
    border-color 0.5s;
}
.content-3YMskv {
  height: fit-content !important;
}
.containerDefault-3tr_sE::before {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  margin-left: 8px;
  height: 8px;
  top: -1px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 8px 8px;
}
.content-3YMskv :nth-of-type(2).containerDefault-3tr_sE::before {
  display: none;
}
.containerDefault--pIXnN:hover .content-1x5b-n {
  border-color: rgb(var(--border-color-blue)) !important;
  border-bottom: 1px solid rgb(var(--border-color-blue)) !important;
  box-shadow: inset 0 0 10px rgb(var(--border-color-blue));
}
.containerDefault--pIXnN:hover + .containerDefault--pIXnN .content-1x5b-n {
  border-top: 0px;
}
.containerDefault--pIXnN:hover + .containerDefault-3tr_sE::before {
  border-top: 0px;
  height: 9px;
}
.containerDefault--pIXnN:hover + .containerDefault-3tr_sE {
  margin-top: -1px;
}
.containerDefault--pIXnN:nth-child(3) .content-1x5b-n {
  border-radius: 8px 8px 0px 0px;
}
.containerDefault-3tr_sE + .containerDefault-3tr_sE::before {
  display: none;
}
[id="channels"] .content-3YMskv .ring-13rgEW::after {
  content: "";
  position: absolute;
  width: calc(100% - 18px);
  margin-left: 8px;
  height: 8px;
  bottom: -8px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 8px 8px;
}
[id="channels"] .content-3YMskv  .ring-13rgEW {
  display: block;
  height: 0px !important;
  border-radius: 0px;
  position: relative;
  margin-top: -55px;
  top: 56px !important;
  width: 100% !important;
  left: 0px !important;
  --__adaptive-focus-color: transparant !important;
}
.containerDefault--pIXnN:last-of-type::after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  margin-left: 8px;
  height: 8px;
  bottom: -9px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px 0px 8px 8px;
}
.containerDefault--pIXnN:hover::after {
  border-top: 0px;
  margin-bottom: 1px;
}
.containerDefault-3tr_sE + .ring-13rgEW::after {
  display: none;
}
.containerDefault--pIXnN:hover + .ring-13rgEW {
  margin-top: -56px;
}
.containerDefault--pIXnN:hover + .ring-13rgEW::after {
  border-top: 0px;
}
.containerDefault--pIXnN .list-2luk8a {
  width: calc(100% - 16px);
  margin-top: -1px;
  padding-left: 0px;
  margin-left: 8px;
  padding-right: 6px;
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.content-1Wq3SX {
  width: calc(100% + 5px);
}
.content-1Wq3SX .ownerIcon-2NH9FM {
  margin-right: 9px;
}
.containerDefault--pIXnN:hover .list-2luk8a :first-child.draggable-2E_4tJ {
  margin-top: -1px;
}
.containerDefault--pIXnN:hover .list-2luk8a {
  border-color: rgb(var(--border-color-blue));
  border-bottom: 1px solid rgb(var(--border-color-blue));
}
.containerDefault-3tr_sE::before,
.containerDefault--pIXnN:last-of-type::after {
  margin-right: 8px;
  width: calc(100% - 18px);
}
.containerDefault--pIXnN .content-1x5b-n {
  margin-right: 8px;
}
.CollapsibleThreads-Collapser-collapser + .container-3JKcAb .containerDefault--pIXnN:last-of-type::after {
  display: none;
}
.container-3JKcAb .containerDefault--pIXnN .content-1x5b-n {
  margin-left: 8px;
}
.sidebar-2K8pFh .CollapsibleThreads-Collapser-collapser:hover {
  border-color: rgb(var(--border-color-blue));
  border-bottom: 1px solid rgb(var(--border-color-blue));
  box-shadow: inset 0 0 20px rgb(var(--border-color-blue));
}
.sidebar-2K8pFh .CollapsibleThreads-Collapser-collapser {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: -1px;
  margin-bottom: 1px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  box-shadow: 0px;
  transition: 
    box-shadow 0.5s, 
    border-color 0.5s;
}
.containerDefault--pIXnN:hover + .CollapsibleThreads-Collapser-collapser {
  border-top: 0px;
}
.sidebar-2K8pFh .CollapsibleThreads-Collapser-collapser:hover + .container-3JKcAb .containerDefault--pIXnN .content-1x5b-n {
  border-top: 0px;
}
.container-3JKcAb:hover + .containerDefault--pIXnN .content-1x5b-n {
  border-top: 0px;
}
.container-3JKcAb:hover .containerDefault--pIXnN .content-1x5b-n {
  border-color: rgb(var(--border-color-blue));
  border-bottom: 1px solid rgb(var(--border-color-blue));
}
.spine--Wla_O {
  display: none;
}
.CollapsibleThreads-Collapser-collapser:hover + .containerDefault--pIXnN .content-1x5b-n {
  border-top: 0px;
}
.sidebar-2K8pFh .CollapsibleThreads-Collapser-collapser:hover + .containerDefault-3tr_sE::before {
  border-top: 0px;
  margin-top: -1px;
}
.sidebar-2K8pFh .CollapsibleThreads-Collapser-collapser:hover + .containerDefault-3tr_sE {
  margin-top: -1px;
}
.voiceUserSummary-2X_2vp {
  border-radius: 8px 8px 0px 0px;
  padding: 0px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  box-shadow: 0px;
  transition: 
    box-shadow 0.5s, 
    border-color 0.5s;
}
.voiceUserSummary-2X_2vp:hover {
  border: 1px solid rgb(var(--border-color-blue));
  box-shadow: inset 0 0 10px rgb(var(--border-color-blue));
}
.sidebar-2K8pFh .icon-1tDorc {
  margin-left: 10px;
}
.voiceUserSummary-2X_2vp + .containerDefault-3tr_sE::before {
  border-top: 0px;
  margin-top: 1px;
}
/*Crown and color*/
#app-mount [data-user-id="398131626695196672"] .wrapper-3t9DeA::before {
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  color: white;
  top: -6px;
  left: -5px;
  position: absolute;
  background-image: url(https://i.imgur.com/Zofg5Ra.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#app-mount .focusLock-Ns3yie [data-user-id="398131626695196672"] .wrapper-3t9DeA::before {
  transform: rotate(-90deg);
  top: 45px;
  left: -25px;
  width: 25px;
  height: 25px;
}
[data-user-id="398131626695196672"] .username-1A8OIy span,
[data-user-id="398131626695196672"] .messageContent-2qWWxC span:not(.timestamp-3ZCmNB) {
  color: blue;
}
/*scrollbar*/
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--border-color-blue), var(--border-opacity-blue)) !important;
}
::-webkit-scrollbar-track {
  background-color: rgb(var(--border-color-blue), var(--border-opacity))!important;
}
.userPopout-xaxa6l .scrollerBase-289Jih::-webkit-scrollbar,
.focusLock-Ns3yie .small-3iVZYw .scrollerBase-289Jih::-webkit-scrollbar,
.changeLogModal-ny_dHC .scrollerBase-289Jih::-webkit-scrollbar,
[aria-label="USER_SETTINGS"] .sidebarRegionScroller-3MXcoP::-webkit-scrollbar,
.privateChannels-1nO12o .scroller-1JbKMe::-webkit-scrollbar,
.peopleList-3c4jOR::-webkit-scrollbar,
.nowPlayingColumn-2sl4cE .scroller-2ZPeAD::-webkit-scrollbar,
.membersWrap-2h-GB4 .members-1998pB::-webkit-scrollbar,
.scrollableContainer-2NUZem::-webkit-scrollbar,
.sidebar-2K8pFh .container-3w7J-x .scroller-RmtA4e::-webkit-scrollbar {
  display: none;
}
/*CodeBlocks Scroller (lenght)*/
.message-2qnXI6 .scrollbarGhostHairline-1mSOM1 {
  max-width: 45vw;
  overflow-x: scroll;
  white-space: pre !important;
}
/*chat header transparant*/
.theme-dark .children-19S4PO:after {
  display: none;
}
.chatContent-a9vAAp {
  margin-top: -45px;
}
.newMessagesBar-265mhP {
  margin-top: 45px;
}
.container-1r6BKw.themed-ANHk51 {
  backdrop-filter: blur(1px);
  pointer-events: none;
}
.container-1r6BKw.themed-ANHk51 div {
  pointer-events: auto;
}
/*Stickers and boost status*/
.tier-2pEkRl {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
#app-mount .tiers-3eUU7I .tierHeaderLocked-3S508x {
  background: transparent;
}
.tierHeaderContent-3t3DoO {
  background: var(--back-color-boxes);
}
#app-mount .tiers-3eUU7I .tierBody-3aUxuc {
  background-color: transparent;
}
/*Update notice plugins*/
.colorInfo-2URYW5 {
  background: var(--back-color-boxes);
}
/*Nitro Gift Scroller Issue*/
.small-3iVZYw {
  max-height: unset;
}
/*Older Messages Bar*/
.jumpToPresentBar-G1R9s6 {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  min-height: unset;
  height: 15px;
  margin-bottom: 8px;
}
.jumpToPresentBar-G1R9s6 .barButtonBase-2uLO1z {
  margin-top: 7px;
}
/*FriendList Top Buttons*/
.topPill-30KHOu .item-PXvHYJ:not([aria-controls="add_friend-tab"]) {
  margin: 0;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 0px;
  border-radius: 0px;
}
#app-mount .topPill-30KHOu .item-PXvHYJ:not([aria-controls="add_friend-tab"]):hover {
  border-right: 1px solid;
  border-color: rgb(var(--border-color-blue));
}
.topPill-30KHOu .item-PXvHYJ:not([aria-controls="add_friend-tab"]):nth-last-child(2) {
  border-radius: 0px 20px 20px 0px;
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.topPill-30KHOu .item-PXvHYJ:not([aria-controls="add_friend-tab"]):first-child {
  border-radius: 20px 0px 0px 20px;
}
.topPill-30KHOu .item-PXvHYJ:not([aria-controls="add_friend-tab"]):hover + .item-PXvHYJ:not([aria-controls="add_friend-tab"]) {
  border-left: 0px;
}