@supports (grid-template-columns:subgrid) and (white-space-collapse:collapse) {
  ._5e434347c823b592-base {
    display: grid;
    grid-template-areas: 
      "titleBar titleBar titleBar"
      "guildsList channelsList notice"
      "guildsList channelsList page";
  }
}
#app-mount ._160d8e55254637e5-app {
  .f75fb00fb7356cbe-chat {
    border: 0;
    
    ._36d072eab2b2e737-chatTypingGradientAtBottom,
    ._36d072eab2b2e737-chatGradient {
      display: none;
    }
  }
  ._5e434347c823b592-sidebarList {
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

    ._99e7cad8d4c55236-scroller {
      margin-bottom: 0;
    }
  }
  ._5e434347c823b592-sidebarResizeHandle:active + ._5e434347c823b592-panels,
  ._5e434347c823b592-sidebarResizeHandle:hover + ._5e434347c823b592-panels,
  ._5e434347c823b592-sidebarList:hover ~ ._5e434347c823b592-panels {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
  }
  ._5e434347c823b592-sidebar._5e434347c823b592-hidden {
    display: none;
  }
  ._5e434347c823b592-sidebar {
    display: grid;
    grid-template-areas: 
        "guildsList channelsList"
        "guildsList panels";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    width: fit-content !important;

    ._5e434347c823b592-sidebarList {
      backdrop-filter: unset;
      border-radius: 0;
    
      ._2637a2609f343032-container {
        padding: 0;
      }
      .e6b7699ce8339e1c-searchBar {
        width: 100%;
        border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    
        button {
          min-width: unset;
          padding: 2px 10px;
        }
      }
    }
  }
  ._133bf5eea8e33a34-container {
    border: 0;
  
    ._9293f6b2fc12398a-container {
      border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    }
  }
  .cb9592ad77576717-wrapper {
    .cb9592ad77576717-callContainer {
      border-top: 0;
      border-radius: 0;
    }
  }
  ._9293f6b2fc12398a-container,
  .f75fb00fb7356cbe-subtitleContainer {
    ._9293f6b2fc12398a-children {
      ._488b1a4248d1b790-akaBadge,
      ._488b1a4248d1b790-nicknames,
      ._4bd5201c86a2042b-defaultColor {
        color: var(--chat-header-name-color);
      }
    }
  }
}
@media (max-width: 800px) {
  #app-mount ._160d8e55254637e5-app {
    --custom-guild-list-width: 54px;
    --guild-margin-bottom: var(--custom-app-panels-height);
  }
}
._5e434347c823b592-sidebar:after {
  display: none;
}
@media (max-width: 400px) {
  ._9293f6b2fc12398a-container {
    padding: 8px;
    padding-left: calc(8px + var(--custom-guild-list-width));
  }
  .f75fb00fb7356cbe-subtitleContainer {
    ._9293f6b2fc12398a-toolbar {
      display: none;
    }
  }
}
/*Chat search bar*/
._496769951eb140fe-search {
  order: 1;
  margin: 0;

  ._974928fe84ca9647-search {
    ._974928fe84ca9647-searchBar {
      width: 27px;
      padding: 2px 0;
      transition: var(--animation-duration-2) all;
      background-color: transparent;
      border-radius: var(--border-radius-m);
      border: 1px solid transparent;

      .DraftEditor-root {
        padding: 0;
      }
    }
    ._974928fe84ca9647-icon {
      width: 27px;
    }
    ._0c4c409e1915aba4-iconContainer {
      transform: scale(1.2);
      transition: var(--animation-duration-2);
    }
    ._974928fe84ca9647-searchBar {
      background: transparent;
    }
    .public-DraftEditorPlaceholder-root,
    .DraftEditor-root .public-DraftEditor-content {
      padding: 0;
    }
  }
  ._974928fe84ca9647-open,
  &:hover {
    ._974928fe84ca9647-searchBar {
      width: 244px;
      padding: 2px 0 2px 8px;
      border-color: rgba(var(--border-color-1), var(--border-opacity-1));
    }
    ._0c4c409e1915aba4-iconContainer {
      transform: scale(1);
    }
  }
  ._974928fe84ca9647-open {
    ._974928fe84ca9647-searchBar {
      background-color: var(--back-color-search-bar);
    }
  }
}
/*chat header*/
._9293f6b2fc12398a-container {
  border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
._9293f6b2fc12398a-titleWrapper {
  text-overflow: ellipsis;
  min-width: 0;
  overflow: hidden;
  white-space: no-wrap;
}
._9293f6b2fc12398a-children:after {
  display: none;
}
[aria-hidden="true"] {
  min-width: unset !important;
}
/* Chat sidebar (profile and search) */
.user-profile-sidebar {
  .c0bea05627c5dc35-overlay {
    background-color: transparent;
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    box-sizing: border-box;
  }
}
.f3b986a284a18c78-searchHeader,
._02a39cb2980ceaaf-searchResult,
.a9e7064fdee8e9b0-searchResultsWrap {
  border-color: rgba(var(--border-color-1), var(--border-opacity-1));
}