/*Full window*/
.container_a4d4d9 {
	background: linear-gradient(
		to bottom,
		rgba(var(--back-gradient-top), var(--back-gradient-opacity)) 80%,
		rgba(var(--back-gradient-bottom), var(--back-gradient-opacity))
	);
}
#app-mount .container_c2739c {
	background-color: transparent;
}
.container_bf550a,
.nowPlayingColumn_c2739c {
	background: none;
}
/*Chat*/
.chat_a7d72e {
	background: none;
}
/*channel- and server- bar*/
.scroller_c47fa9,
.scroller_fea3ef,
.wrapper_fea3ef,
#app-mount .content_a7d72e,
.privateChannels_f0963d {
	background-color: transparent !important;
}
#app-mount .panels_a4d4d9 > .container_b2ca13 > .flex_bba380 {
	background: none;
}
.panels_a4d4d9 .container_b2ca13:hover {
	background-color: black;
}
/*Userbuttons In Side Panel*/
@media (min-width: 700px) {
	.panels_a4d4d9 > .container_b2ca13 > .flex_bba380 {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 72px;
		z-index: 1;
		padding: 20px 0 10px 0;
		flex-direction: column;
		background: linear-gradient(transparent, var(--back-user-buttons) 15%);
	}
	.panels_a4d4d9 > .container_b2ca13 > .flex_bba380 > .button_f67531 {
		margin: var(--user-buttons-spacing) auto 0 auto;
	}
	.panels_a4d4d9 > .container_b2ca13 > .flex_bba380 {
		pointer-events: none;
	}
	.panels_a4d4d9 > .container_b2ca13 > .flex_bba380 > .button_f67531 {
		pointer-events: auto;
		border-radius: 50%;
	}
}
@media (max-width: 700px) {
	.panels_a4d4d9 > .container_b2ca13 > .flex_bba380 {
		column-gap: 2px;
	}
	#app-mount
		.panels_a4d4d9
		> .container_b2ca13
		> .flex_bba380
		> .button_f67531 {
		border-radius: 0px;
		background-color: var(--back-user-buttons-700);
	}
	#app-mount
		.panels_a4d4d9
		> .container_b2ca13
		> .flex_bba380
		> .button_f67531:hover {
		background-color: var(--back-user-buttons-hover-700);
	}
	#app-mount
		.panels_a4d4d9
		> .container_b2ca13
		> .flex_bba380
		> .button_f67531:first-child {
		border-radius: 16px 0px 0px 16px;
	}
	#app-mount
		.panels_a4d4d9
		> .container_b2ca13
		> .flex_bba380
		> .button_f67531:last-child {
		border-radius: 0px 16px 16px 0px;
	}
}
.content-2a4AW9 {
	height: 850px !important;
}
/*Account Background*/
.panels_a4d4d9,
.activityPanel_a4d4d9,
.container_adcaac,
.container-6sXIoE,
.container_b2ca13 {
	background: var(--back-account);
	margin-bottom: 0;
}
/*Background*/
#app-mount .perksModal-fSYqOq,
.pageContent-1xgXch,
.applicationStore_cecc86,
.container-36u7Lw,
.layer_d4b6c5 [aria-label="USER_SETTINGS"],
.pageWrapper_a3a4ce,
.content_a7d72e,
.tabBody_c2739c {
	background: var(--main-background);
}
/*DM-list*/
.channel_c91bad:hover {
	box-shadow: inset 0 0 10px rgb(var(--border-color-hover));
	background-color: var(--back-selected-dm);
}
.channel_c91bad {
	box-shadow: 0px;
	transition: box-shadow 0.75s, background-color 1s;
	border-radius: 50px;
	background-color: transparent;
	overflow: hidden;
}
.channel_c91bad {
	border-radius: 50px;
}
/*Playing Cards In Friendlist*/
.container_bf550a .scroller_bf550a {
	margin: 0;
}
.wrapper_cd82a7 {
	background-color: var(--back-color-boxes);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .outer_c0f6a6.active_c0f6a6 {
	background-color: var(--back-color-boxes);
}
.wrapper_cd82a7:hover {
	background-color: var(--back-color-boxes-hover) !important;
}
.section_cd82a7 {
	background-color: black;
}
.itemCard_f02fcf:first-of-type {
	margin-top: -8px;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 0px;
}
.itemCard_f02fcf {
	margin-top: 0px;
	border-radius: 0px;
	border-bottom: 0px;
}
.itemCard_f02fcf:nth-last-of-type(2):not(:first-of-type) {
	border-radius: 0px;
	border-bottom: 0px;
}
.itemCard_f02fcf:nth-last-of-type(2) {
	border-radius: 0px 0px 8px 8px;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.itemCard_f02fcf:nth-last-of-type(2):first-of-type {
	border-radius: 8px 8px 0px 0px;
	border-bottom: 0px;
}
.itemCard_f02fcf:hover + div[style*="height"] {
	background-color: var(--back-color-boxes-hover);
}
.itemCard_f02fcf + div[style*="height"] {
	width: unset;
	background-color: var(--back-color-boxes);
	top: 0px;
	left: 0px;
	position: relative !important;
	--__adaptive-focus-color: rgba(255, 255, 255, 0);
	display: block;
	height: 8px !important;
	border-radius: 0px 0px 8px 8px;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-top: 0px;
}
#app-mount .separator_cd82a7,
#app-mount .inset_c0f6a6 {
	background-color: transparent;
}
@media (min-width: 700px) {
	.nowPlayingColumn_c2739c {
		width: 360px;
		min-width: 360px;
		max-width: 360px;
	}
}
@media (max-width: 700px) {
	.tabBody_c2739c {
		display: grid;
		grid-template-rows: 70% 30%;
		border-left: 1px solid
			rgb(var(--border-color-1), var(--border-opacity-1));
	}
	#app-mount .nowPlayingColumn_c2739c {
		width: 100%;
		max-width: unset;
	}
	#app-mount .nowPlayingColumn_c2739c .scroller_bf550a {
		border-left: 0;
		border-top: 1px solid
			rgb(var(--border-color-1), var(--border-opacity-1));
	}
	#app-mount .nowPlayingColumn_c2739c .scroller_bf550a > h2 {
		position: fixed;
		z-index: 1;
		width: calc(100% - 10px);
		text-align: center;
		background-color: black;
		margin: 7px 5px 0 5px;
		padding: 5px;
		box-sizing: border-box;
		border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
		border-radius: 50px;
	}
	#app-mount .nowPlayingColumn_c2739c .scroller_bf550a > h2 + * {
		margin-top: 50px;
	}
	.nowPlayingColumn_c2739c .header_bf550a {
		align-self: center;
	}
	.nowPlayingColumn_c2739c .scroller_bf550a {
		display: flex;
		flex-direction: column;
		padding-top: 0;
		padding-left: 10px;
		padding-right: 10px !important;
		padding-bottom: 10px;
	}
}
@media (max-width: 1200px) {
	.nowPlayingColumn_c2739c {
		display: block;
		transition: width 0.5s, max-width 0.5s, min-width 0.5s;
		min-width: 200px;
		max-width: 200px;
		width: 200px;
	}
	.nowPlayingColumn_c2739c:hover {
		width: 360px;
		min-width: 360px;
		max-width: 360px;
	}
}
/*Search Bar*/
.search_ff5f90 {
	order: 1;
}
.search_a46bef:hover {
	background-color: var(--back-color-search-bar);
	border-radius: 5px;
}
#app-mount .search_a46bef.open_a46bef .searchBar_a46bef {
	background-color: var(--back-color-search-bar);
}
.search_a46bef:not(.open_a46bef) .searchBar_a46bef {
	width: 27px;
	transition: 0.25s;
	background-color: transparent;
}
.search_a46bef:not(.open_a46bef):hover .searchBar_a46bef {
	width: 240px;
	transition: 0.25s;
	background-color: var(--background-tertiary);
}
.search_a46bef:not(.open_a46bef) .iconContainer_effbe2 {
	transform: scale(1.2);
	transition: 0.25s;
}
.search_a46bef:not(.open_a46bef):hover .iconContainer_effbe2 {
	transform: scale(1);
	transition: 0.25s;
}
#app-mount .search_a46bef .searchBar_a46bef {
	background: transparent;
}
/*Title Bar*/
.wordmarkWindows_a934d8 {
	display: none;
}
.wordmark_a934d8 svg {
	color: var(--title-bar-color);
}
.titleBar_a934d8:not(.typeMacOS_a934d8)::after {
	content: var(--title-bar-content);
	position: absolute;
	top: 5px;
	left: 10px;
	color: var(--title-bar-color);
	display: block;
	height: 16px;
	width: fit-content;
	pointer-events: none;
	font-size: 14px;
	font-weight: bold;
}
.titleBar_a934d8 .winButtonClose_a934d8 {
	color: red;
}
.titleBar_a934d8 .winButtonClose_a934d8:hover {
	background-color: red;
	color: var(--title-bar-color);
}
.winButtonMinMax_a934d8[aria-label="Minimize"],
.winButtonMinMax_a934d8[aria-label="Maximize"] {
	color: var(--title-bar-color);
}
#app-mount .dev-title-button {
	color: var(--title-bar-color);
}
/*Crash Screen*/
.image_b06619 {
	background-image: var(--crash-screen-image) !important;
}
.flexWrapper_b06619 .lookFilled-1Gx00P .contents-18-Yxp::after {
	content: " Last Respawn Point";
}
.note_b06619 div {
	visibility: hidden;
	height: 0px;
}
.note_b06619 {
	margin-top: -50px;
}
.title_b06619 {
	display: none;
}
.note_b06619::before {
	content: "Your discord got obliberated by one of your plugins";
	margin-bottom: 10px;
}
.note_b06619::after {
	content: "Press crtl + shift + i to track down which plugin caused this";
	margin-top: 10px;
}
/*Message Stuff*/
#app-mount .scrollerContent_e2e187 .message_d5deea {
	transition: background-color 0.3s;
}
#app-mount .scrollerContent_e2e187 .message_d5deea:hover {
	background-color: var(--message-hover);
}
@media (max-width: 700px) {
	.cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa {
		transform: scale(0.75);
	}
	.cozy_ec86aa.wrapper_ec86aa {
		padding-left: 64px;
	}
}
/*Message Hover Buttons*/
.message_d5deea:hover .buttons_d5deea {
	opacity: 1;
	pointer-events: auto;
}
.buttons_d5deea {
	transition: opacity 0.3s;
}
@media (max-width: 700px) {
	.buttons_d5deea {
		transform: scale(0.75);
		transform-origin: right;
	}
}
/*Typing Status*/
#app-mount .chat_f57fdc form .typing_d7ebeb,
#app-mount .chat_a7d72e form .typing_d7ebeb {
	background-color: var(--back-color-boxes);
	bottom: 100%;
	padding-left: 10px;
	overflow: hidden;
	width: fit-content;
	display: -webkit-box;
	padding-right: 10px;
	padding-top: 0px;
	border-radius: 20px;
	opacity: 1;
	text-overflow: ellipsis;
	z-index: 2;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(var(--border-color-1), var(--border-opacity-1));
	border-bottom: 0;
}
#app-mount .chat_f57fdc form .typing_d7ebeb::after,
#app-mount .chat_a7d72e form .typing_d7ebeb::after {
	content: "";
	position: absolute;
	inset: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-radius: 20px;
	pointer-events: none;
	transition: border-bottom-color 0.5s ease;
}
#app-mount .messagesWrapper_e2e187 + .form_a7d72e:not(:hover):not(:focus-within) > .channelTextArea_a7d72e + .typing_d7ebeb::after,
#app-mount .messagesWrapper_e2e187 + .form_a7d72e:not(:hover):not(:focus-within) > [aria-controls*="popout_"] + .typing_d7ebeb::after {
	border-bottom-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .chat_f57fdc form .typing_d7ebeb:hover::after,
#app-mount .chat_a7d72e form .typing_d7ebeb:hover::after {
	border-bottom-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .messagesWrapper_e2e187 + .form_a7d72e:focus-within > [aria-controls*="popout_"] + .typing_d7ebeb::after {
	border-bottom-color: black;
}
.typing_d7ebeb .cooldownWrapper_d7ebeb {
	margin: 0;
}
.jumpToPresentBar_cf58b5 .barButtonMain_cf58b5 {
  width: fit-content;
  flex: 0 0 auto;
}
.jumpToPresentBar_cf58b5 .barButtonAlt_cf58b5 svg {
  margin-top: 1px;
}
/*Server Bar*/
@media (min-width: 700px) {
	.guilds_a4d4d9 {
		margin-bottom: 180px;
	}
}
@media (max-width: 700px) {
	.guilds_a4d4d9 {
		width: 56px;
		margin-bottom: 55px;
	}
	.guilds_a4d4d9 .wrapper_fd07a3 {
		height: calc(56px * 0.625);
	}
	.guilds_a4d4d9 .wrapper_fd07a3 span {
		max-height: calc(56px * 0.375);
	}
	.guilds_a4d4d9 div[style*="height: 56px"],
	.guilds_a4d4d9 [role="group"] {
		height: auto !important;
	}
	.guilds_a4d4d9 .listItem-GuPuDH,
	.guilds_a4d4d9 [class*="unreadMentionsIndicator"],
	.guilds_a4d4d9 .wrapper-3Njo_c {
		width: 100%;
	}
	.guilds_a4d4d9 .wrapper-28eC3z,
	.guilds_a4d4d9 [class*="guildsError-"],
	.guilds_a4d4d9 svg[width="48"] {
		width: calc(56px * 0.625);
		height: calc(56px * 0.625);
	}
	.guilds_a4d4d9 .wrapper-3Njo_c > span {
		left: calc(56px * 0.175);
		width: calc(56px * 0.625);
	}
	.guilds_a4d4d9 #bd-pub-button {
		height: calc(56px * 0.375);
		line-height: calc(56px * 0.375);
		font-size: 10px;
	}
	.listItem_c96c45 {
		width: 56px;
	}
	.expandedFolderBackground_bc7085 {
		left: calc(56px * 0.2);
		width: calc(56px * 0.625);
	}
	.wrapper_c5f96a {
		width: 35px;
		height: unset;
		aspect-ratio: 1;
	}
}
/*Text Area*/
.scrollableContainer_d0696b .divider_fc5f50 {
	display: none;
}
.scrollableContainer_d0696b .divider_fc5f50::after {
	display: none;
}
.messagesWrapper_e2e187 {
	margin-bottom: 8px;
}
.messagesWrapper_e2e187 .scrollerSpacer_e2e187 {
	height: 22px;
}
html #app-mount .scrollableContainer_d0696b {
	background: transparent;
}
.channelAttachmentArea-1wlgJV {
	background-color: var(--channeltextarea-background);
	overflow: hidden;
}
.scrollableContainer_d0696b > .channelAttachmentArea_e8c527 {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 8px;
	overflow: hidden;
	margin: 0;
	margin-bottom: 5px;
	max-height: 246px;
	background-color: var(--user-popout);
}
.channelTextArea_a7d72e .buttons_d0696b {
	margin-right: 4px;
}
.scrollableContainer_d0696b,
.channelTextArea_a7d72e {
	background: none;
	border-radius: unset;
}
.inner_d0696b {
	border-width: 1px 0 1px 0;
  box-sizing: border-box;
	border-style: solid;
	border-color: transparent;
	background-color: transparent;
	transition: border-color 0.5s, background-color 0.5s;
	border-radius: 0;
}
.inner_d0696b:focus-within,
.inner_d0696b:hover {
	background-color: var(--channeltextarea-background);
	border-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
.upload_df1eaf {
	background: var(--user-popout);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.upload_df1eaf .image-2dAEjD {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 4px;
}
.wrapper_ef319f {
	background-color: var(--user-popout);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.form_a7d72e:before {
	display: none;
}
@media (max-width: 700px) {
	.form_a7d72e {
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*Stage Pannels*/
.container-S9SaVf:hover {
	background-color: var(--back-color-boxes-hover) !important;
}
.contentContainer-1fklqj {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 10px;
	background-color: var(--back-color-boxes) !important;
}
/*Small Number Badges*/
.UnreadCountBadges-badge-channelUnread,
.topPill-3DJJNV .numberBadge__40d6f {
	background-color: var(--back-color-number-badges) !important;
}
#app-mount .numberBadge__40d6f:nth-last-child(2) {
	background-color: var(--back-color-number-badges);
}
.numberBadge__40d6f:nth-last-child(3) {
	background-color: red !important;
}
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be {
	overflow: hidden;
}
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8
	.UnreadCountBadges-badge-unread,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8
	.lowerBadge-3WTshO,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be
	.UnreadCountBadges-badge-unread,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be
	.lowerBadge-3WTshO {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8
	.lowerBadge-3WTshO
	.numberBadge__40d6f,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8
	.UnreadCountBadges-badge-unread
	.numberBadge__40d6f,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be
	.lowerBadge-3WTshO
	.numberBadge__40d6f,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be
	.UnreadCountBadges-badge-unread
	.numberBadge__40d6f {
	height: 12px;
	width: 100% !important;
	font-size: 9px;
	min-width: unset;
	min-height: unset;
}
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer_f9623d
	.listItemWrapper_dfb2f8
	.lowerBadge-3WTshO
	.numberBadge__40d6f,
.guilds_a4d4d9
	> ul
	> .scrollerBase-_bVAAt
	> .tutorialContainer-2sGCg9
	.listItemWrapper__968be
	.lowerBadge-3WTshO
	.numberBadge__40d6f {
	margin-top: 38px;
}
/*blue ping on hover*/
.listItem__39e63:hover .numberBadge__40d6f {
	background-color: blue !important;
}
/*Status Circle Top Of The DM*/
[aria-label="Online"] .mask-2Me5HY rect {
	fill: var(--online);
}
/*Usertag Always Shows On Hover*/
.peopleListItem_d51464:hover .userInfo_f3939d .discriminator_f3939d {
	display: block;
	visibility: visible;
}
.discriminator_f3939d {
	display: none;
}
/*Friend List*/
.icon_ad923e {
	color: white;
}
.selected_f5eb4b .subText_f9647d,
.selected_f5eb4b .name_f9647d {
	color: var(--selected-dm-color);
}
/*Force Show Link*/
#app-mount .anchor-1MIwyf::after {
	left: 148px;
}
[href*="/"]::after {
	content: attr(href);
	display: flex;
	align-items: center;
	z-index: 9999;
	background: var(--back-color-boxes);
	line-height: normal;
	font-weight: normal;
	font-size: 12px;
	padding: 3px 4px;
	padding-right: 6px;
	position: fixed;
	bottom: 2px;
	left: 328px;
	opacity: 0;
	transition: 200ms ease;
	white-space: nowrap;
	border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 0px 0px 5px 5px;
	pointer-events: none;
	color: var(--text-link);
}
[href*="/"]:hover::after {
	opacity: 1;
}
#app-mount [aria-label="USER_SETTINGS"] .anchor-1MIwyf::after {
	left: 254px;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-bottom: 0;
	border-left: 0;
	border-radius: 0 10px 0 0;
	padding-top: 5px;
	padding-bottom: 0;
}
#app-mount .userPopout-2j1gM4 .anchor-1MIwyf::after {
	left: 0;
	max-width: calc(100% - 11px);
	white-space: pre-wrap;
}
#app-mount .focusLock-2tveLW .anchor-1MIwyf::after {
	left: 0;
	border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 0 10px 0 0;
	padding-top: 5px;
	padding-bottom: 0;
}
#app-mount .anchor-1MIwyf.embedMedia_ad0b71::after {
	left: 0;
	bottom: 0;
	width: 100%;
	white-space: pre-wrap;
	background: rgba(0, 0, 0, 0.7);
}
/*ServerFolders Expanded*/
.expandedFolderIconWrapper_bc7085::after {
	content: "";
	margin-left: -22px;
	background-image: var(--home-button-background);
	background-size: 40px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}
.folderIconWrapper_bc7085 path {
	display: none;
}
.expandedFolderBackground_bc7085 {
	background-color: var(--back-expanded-server-folder);
}
@media (max-width: 700px) {
	.expandedFolderBackground_bc7085 {
		bottom: -2px;
	}
}
.folder_bc7085[aria-expanded="true"] {
	background-color: var(--back-expanded-server-folder-icon);
	border-radius: 24px;
}
/*scrollbar*/
::-webkit-scrollbar-thumb {
	background-color: rgb(
		var(--border-color-hover),
		var(--border-opacity-hover)
	) !important;
}
::-webkit-scrollbar-track {
	background-color: rgb(
		var(--border-color-hover),
		var(--border-opacity-1)
	) !important;
}
.scrollerBase-_bVAAt {
	padding-right: 4px !important;
}
.thin_eed6a8::-webkit-scrollbar-track {
	background-color: transparent !important;
}
.form_acae5d .modalContent_acae5d::-webkit-scrollbar,
div:not(.messagesWrapper_e2e187) > .scrollerBase-_bVAAt::-webkit-scrollbar,
[aria-label="USER_SETTINGS"] .sidebarRegionScroller_c25c6d::-webkit-scrollbar,
.privateChannels_f0963d .scroller_c47fa9::-webkit-scrollbar,
.peopleList_e0840f::-webkit-scrollbar,
.nowPlayingColumn_c2739c .scroller_bf550a::-webkit-scrollbar,
.membersWrap_cbd271 .members_cbd271::-webkit-scrollbar,
.scrollableContainer_d0696b::-webkit-scrollbar,
.sidebar_a4d4d9 .container_ee69e0 .scroller_c43953::-webkit-scrollbar {
	display: none;
}
/*CodeBlocks Scroller (lenght)*/
.scrollbarGhostHairline_c858ce {
	max-width: unset;
	overflow-x: scroll;
	white-space: pre !important;
}
/*chat header transparant*/
#app-mount .children_e44302:after {
	display: none;
}
#app-mount .chatContent_a7d72e {
	margin-top: -45px;
	background: transparent;
}
.container_c2668b {
	margin-top: 45px;
}
.messagesWrapper_e2e187 .scroller_e2e187::-webkit-scrollbar-track {
	margin-top: 45px;
}
#app-mount
	.wrapper_d880dc
	~ .content_a7d72e
	.chatContent_a7d72e
	.scroller_e2e187::-webkit-scrollbar-track,
#app-mount .wrapper_d880dc ~ .content_a7d72e .chatContent_a7d72e {
	margin-top: 0;
}
.newMessagesBar_cf58b5 {
	margin-top: 45px;
}
#app-mount
	.wrapper_d880dc
	~ .content_a7d72e
	.chatContent_a7d72e
	.newMessagesBar_cf58b5 {
	margin-top: 0;
}
.container_e44302.themed_e44302 {
	backdrop-filter: blur(1px);
	pointer-events: none;
}
.container_e44302.themed_e44302 div * {
	pointer-events: auto;
}
/*Stickers and boost status*/
.tier_da77bd {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .tiers_da77bd .tierHeaderLocked_da77bd {
	background: transparent;
}
.tierHeaderContent_da77bd {
	background: var(--back-color-boxes);
}
#app-mount .tiers_da77bd .tierBody_da77bd {
	background-color: transparent;
}
/*Update notice plugins*/
.colorInfo__680aa {
	background: var(--back-color-boxes);
}
/*Nitro Gift Scroller Issue*/
.small-23Atuv {
	max-height: unset;
}
/*Older Messages Bar*/
.jumpToPresentBar_cf58b5 {
	background-color: var(--user-popout);
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	min-height: unset;
	height: 15px;
  width: fit-content;
  margin: 0 auto -9px auto;
}
#app-mount .jumpToPresentBar_cf58b5:active {
  margin-bottom: -9px;
}
.jumpToPresentBar_cf58b5 .barButtonBase_cf58b5 {
	margin-top: 7px;
}
/*FriendList Top Buttons*/
.container_e44302 .children_e44302 .tabBar_c2739c {
	overflow-y: hidden;
	overflow-x: auto;
	align-items: center;
}
.container_e44302 .children_e44302 .tabBar_c2739c,
.container_e44302 .children_e44302 {
	height: 100%;
}
.container_e44302 .children_e44302 .tabBar_c2739c::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.container_e44302 .children_e44302 .tabBar_c2739c::-webkit-scrollbar-track,
.container_e44302 .children_e44302 .tabBar_c2739c::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border-radius: 7.5px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}
.container_e44302 .children_e44302 .tabBar_c2739c::-webkit-scrollbar-track {
	border-width: initial;
	border: 2px solid transparent;
}
.container_e44302 .children_e44302 .tabBar_c2739c::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: move;
}
.container_c2739c .topPill-3DJJNV .item-3XjbnG {
	margin: 0;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-right: 0px;
	border-radius: 0px;
}
#app-mount .container_c2739c .topPill-3DJJNV .item-3XjbnG:hover {
	border-right: 1px solid;
	border-color: rgb(var(--border-color-hover));
}
.container_c2739c .topPill-3DJJNV .item-3XjbnG:nth-last-child(1) {
	border-radius: 0px 20px 20px 0px;
	border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.container_c2739c .topPill-3DJJNV .item-3XjbnG:first-child {
	border-radius: 20px 0px 0px 20px;
}
.container_c2739c .topPill-3DJJNV .item-3XjbnG:hover + .item-3XjbnG {
	border-left: 0px;
}
/*Call Container*/
#app-mount .wrapper_d880dc {
	background-color: var(--user-popout);
	border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*About Me*/
.clamped-2ZePhX {
	-webkit-line-clamp: 190;
	max-height: 112px;
	overflow-x: hidden;
	overflow-y: auto;
}
.clamped-2ZePhX::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.clamped-2ZePhX::-webkit-scrollbar-track,
.clamped-2ZePhX::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border-radius: 7.5px;
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}
.clamped-2ZePhX::-webkit-scrollbar-track {
	border-width: initial;
	border: 2px solid transparent;
}
.clamped-2ZePhX::-webkit-scrollbar-thumb {
	border: 2px solid transparent;
	border-radius: 4px;
	cursor: move;
}
/*Multi Uploads*/
.channelAttachmentArea-1wlgJV {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
}
.channelAttachmentArea-1wlgJV::-webkit-scrollbar {
	width: 13px;
}
/*Status Colors*/
[data-status="online"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Online"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Online"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Online"] .mask_c51b4e > svg > rect,
[aria-label*="Online"] .mask-2Me5HY > svg > rect {
	fill: var(--online);
}
[data-status="idle"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Idle"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Idle"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Idle"] .mask_c51b4e > svg > rect,
[aria-label*="Idle"] .mask-2Me5HY > svg > rect {
	fill: var(--idle);
}
[data-status="dnd"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Do Not Disturb"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Do Not Disturb"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Do Not Disturb"] .mask_c51b4e > svg > rect,
[aria-label*="Do Not Disturb"] .mask-2Me5HY > svg > rect {
	fill: var(--dnd);
}
[data-status="offline"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Offline"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Offline"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Offline"] .mask_c51b4e > svg > rect,
[aria-label*="Offline"] .mask-2Me5HY > svg > rect {
	fill: var(--offline);
}
[data-status="invisible"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Invisible"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Invisible"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Invisible"] .mask_c51b4e > svg > rect,
[aria-label*="Invisible"] .mask-2Me5HY > svg > rect {
	fill: var(--offline);
}
[data-status="streaming"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Streaming"] .mask_c51b4e > foreignObject + rect,
[aria-label*="Streaming"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Streaming"] .mask_c51b4e > svg > rect,
[aria-label*="Streaming"] .mask-2Me5HY > svg > rect {
	fill: var(--streaming);
}
/*Discord Nitro Feature Animations*/
.featureGrid-SSlfD0 .feature-2IUcBI {
	z-index: 0;
	transition: transform 0.5s;
}
.featureGrid-SSlfD0 .feature-2IUcBI:hover {
	z-index: 1;
	transform: scale(1.2);
	transition-delay: 0.2s;
}
/*Member List*/
.content_a7d72e > .membersWrap_cbd271,
.content_a7d72e > .container_cbd271 .membersWrap_cbd271,
#app-mount .ChannelDms-channelmembers-wrap {
	background-color: rgba(0, 0, 0, 0.9);
}
.members_cbd271,
.members_cbd271 > div {
	background-color: transparent;
}
@media (min-width: 700px) {
	.container_cbd271,
	.membersWrap_cbd271:not(#dv-mount),
	.membersWrap_cbd271:not(#dv-mount) > div {
		min-width: 60px !important;
		max-width: 240px !important;
		width: 60px;
		min-height: 100%;
		transition: all 0.5s;
	}
	.container_cbd271:hover,
	.membersWrap_cbd271:hover:not(#dv-mount),
	.membersWrap_cbd271:hover:not(#dv-mount) > div {
		width: 240px;
		min-width: 240px !important;
	}
}
@media (max-width: 700px) {
	.content_a7d72e > .membersWrap_cbd271,
	.content_a7d72e > .container_cbd271 .membersWrap_cbd271,
	#app-mount .ChannelDms-channelmembers-wrap {
		position: fixed;
		right: 0;
		overflow: hidden;
		height: calc(100% - 64px);
		width: 240px;
		max-height: unset;
		box-shadow: var(--elevation-stroke), var(--elevation-high);
		z-index: 1;
		transform: translateX(calc(100vw - 60px));
		transition: transform 1s;
	}
	.content_a7d72e > .membersWrap_cbd271:hover,
	.content_a7d72e > .container_cbd271:hover .membersWrap_cbd271,
	#app-mount .ChannelDms-channelmembers-wrap:hover {
		transform: translateX(0px);
	}
	.membersWrap_cbd271:not(#dv-mount),
	.membersWrap_cbd271:not(#dv-mount) > div {
		width: 100vw;
	}
	.member_a31c43 {
		max-width: calc(100% - 16px);
	}
	.container_cbd271 {
		width: 0px;
	}
}
/*DM/Channel list*/
@media (max-width: 700px) {
	#app-mount .sidebar_a4d4d9 > .privateChannels_f0963d,
	#app-mount .sidebar_a4d4d9 > .container_ee69e0 {
		background-color: var(--back-sidebar);
	}
	#app-mount .sidebar_a4d4d9 > .privateChannels_f0963d {
		border-left: 1px solid
			rgb(var(--border-color-1), var(--border-opacity-1));
	}
	#app-mount
		.wrapper_fea3ef:hover
		+ .base_a4d4d9
		> .content_a4d4d9
		> .sidebar_a4d4d9
		> .privateChannels_f0963d,
	#app-mount .sidebar_a4d4d9 > .privateChannels_f0963d:hover {
		border-right: 1px solid
			rgb(var(--border-color-1), var(--border-opacity-1));
	}
}
@media (min-width: 700px) {
	.sidebar_a4d4d9 {
		background: none;
		border-right: 1px solid
			rgb(var(--border-color-1), var(--border-opacity-1));
	}
}
/*Home tab*/
.background_c54132.title_a7d72e {
	background: var(--background-primary);
}
/*Forums*/
.theme-dark .container-3wLKDe {
	background-color: transparent;
}
.chatContent_a7d72e .container_b385c8 {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-top: 0;
	border-radius: 0 0 10px 10px;
	padding: 5px;
	right: 17px;
	top: 43px;
	margin: 0;
}
.container_e44302.themed_e44302 {
	border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.tags-3s41VI .pill_c993da {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	background-color: transparent;
}
.tags-3s41VI .pill_c993da.clickable_c993da:not(.disabled_c993da):hover {
	background-color: var(--background-secondary-alt);
	border: 1px solid
		rgb(var(--border-color-hover), var(--border-opacity-hover));
}
.row-uezxzk:not(.headerRow-1MKoR-) .container-2qVG6q {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*User profile (DM sidebar)*/
aside.profilePanel-2PWEok .overlayBackground-1KgwVi {
	border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
aside.profilePanel-2PWEok .userPanelInnerThemed-2xZFjl {
	background: linear-gradient(
		to bottom,
		var(--back-gradient-top) 80%,
		var(--back-gradient-bottom)
	);
}
aside.profilePanel-2PWEok .buttonColor-XIRMbp {
	border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
.theme-dark .profileColors-3Y0XaR {
	background: none;
}
/*Call Buttons (only visible while in call)*/
@media (max-width: 800px) {
	.wrapper_d880dc
		.bottomControls_dd069c
		.wrapper_b6e2f9
		.controlButton_b6e2f9 {
		margin: 0;
		transform: scale(0.8);
	}
	.wrapper_d880dc .bottomControls_dd069c {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.wrapper_d880dc .bottomControls_dd069c .flex_bba380:first-child {
		grid-row: 1 / 2;
	}
	.wrapper_d880dc .bottomControls_dd069c .flex_bba380:nth-child(2) {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}
	.wrapper_d880dc
		.bottomControls_dd069c
		> .flex_bba380:first-of-type
		> .flex_bba380:first-of-type {
		margin: 0;
	}
	.wrapper_d880dc .bottomControls_dd069c > .flex_bba380:first-of-type {
		gap: 5px;
	}
	.wrapper_d880dc .bottomControls_dd069c .leftDivider_d8c748,
	.wrapper_d880dc .bottomControls_dd069c .actionBarButton_c2e612,
	.wrapper_d880dc .bottomControls_dd069c .leftTrayIcon_d880dc {
		margin-right: 0;
	}
}
/*Furoms*/
.container_a6d69a {
  background-color: transparent;
}
.container_a6d69a .container_a57509 {
  background-color: transparent;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.container_a6d69a .container_a57509:hover {
  background-color: transparent;
  border: 1px solid rgb(var(--border-color-hover), var(--border-opacity-hover));
}
.card_a6d69a {
  padding: 0px;
  justify-content: flex-start;
}
.card_a6d69a .header_a57509 {
  margin: 0;
  padding: 3px 12px 10px;
  background-color: var(--back-color-forum-posts-hover);
}
#app-mount .card_a6d69a .imageWrapper__178ee,
.card_a6d69a .postBody_a57509 .contentPreview_a57509,
.card_a6d69a .bodyMediaFrame_a57509,
.card_a6d69a .bodyMedia_a57509,
.card_a6d69a .postBody_a57509 {
  width: 100% !important;
  margin: 0;
  border: 0;
}
#app-mount .card_a6d69a .postBody_a57509 .tags_f451cd > div {
  border-radius: 20px;
}
.card_a6d69a .postBody_a57509 {
  height: calc(100% - 68px - 34px);
  overflow: hidden;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .card_a6d69a .postBody_a57509 * {
  border-radius: 0;
}
.card_a6d69a .bodyMedia_a57509 {
  overflow: visible;
}
.card_a6d69a .bodyMediaFrame_a57509 {
  height: fit-content !important;
}
.card_a6d69a .postBody_a57509 > div,
.card_a6d69a .postBody_a57509 .contentPreview_a57509 {
  height: 100% !important;
}
.card_a6d69a .footer_a57509 {
  position: absolute;
  bottom: 0;
  padding: 4px 3px 4px 10px;
  background-color: var(--back-color-forum-posts-hover);
}
#app-mount .card_a6d69a .imageWrapper__178ee .clickableWrapper__2d2ea img {
  background-color: var(--back-color-forum-posts);
}
.updateReactionButton_d331f1 {
  background-color: rgba(51, 51, 51, 0.61);
  margin: 0;
}
.card_a6d69a .postBody_a57509 .textContentFooter_a57509 {
  background: linear-gradient(to top,rgba(49, 49, 49, 0.75),rgba(49, 49, 49, 0.75) 40px,rgba(0, 0, 0, 0));
}
/*Minimal Mode Animations*/
/* return transition */
/* 400 */
.cozy_ec86aa .repliedMessage_ec86aa:before,
.contents_ec86aa img,
.iconContainer_e62b38,
#app-mount,
.sidebar_a4d4d9,
.container_ee69e0,
.container_e44302,
.guilds_a4d4d9,
.guilds_a4d4d9 div,
.guilds_a4d4d9 svg {
  -webkit-transition: height .5s ease, width .5s ease;
  transition: height .5s ease, width .5s ease;
}
.cozy_ec86aa.wrapper_ec86aa {
  -webkit-transition: padding-left .5s ease;
  transition: padding-left .5s ease;
}
@media (min-width: 400px) {
  .cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa {
    transform: scale(1);
    width: 40px;
    height: 40px;
  }
  .buttons_d5deea {
    transform: scale(1);
    transform-origin: right;
  }
}
@media (max-width: 300px) {
  .toolbar_e44302 {
    display: none;
  }
  .wrapper_fea3ef {
    width: 0 !important;
  }
  html.platform-osx #app-mount .base_a4d4d9 {
    top: 0 !important;
  }
  html.platform-osx .children_e44302 {
    left: 56px;
  }
  .base_a4d4d9 {
    border-radius: 0 !important;
  }
}
@media (max-width: 400px) {
  .cozy_ec86aa .repliedMessage_ec86aa:before,
  .contents_ec86aa img,
  .iconContainer_e62b38 {
    transition: .5s ease;
  }
  .cozy_ec86aa .repliedMessage_ec86aa:before {
    --gutter: -1px;
  }
  .contents_ec86aa img {
    left: 1px;
  }
  .topic_bf3bbb.expandable_bf3bbb,
  .toolbar_e44302>[aria-label="Threads"],
  .buttonContainer_d0696b:not(#sendAudioButtons):not(.send-button) .button_dd4f85[aria-label]:not(.apateEncryptionKeyButton) .button_cecf00:not(.stickerButton_d0696b) {
    display: none;
  }
  .bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  /* pin icon */
  .iconContainer_e62b38 {
    width: 32px !important;
  }
  /* emoji picker */
  .categoryList_c6ee36 {
    height: 107% !important;
    transform: rotate(90deg) scaleY(-1);
    left: 375px;
    right: unset;
    bottom: -1px;
    transform-origin: bottom right;
    border-radius: 0;
  }
  .emojiPickerInExpressionPicker-2nOwH8 .categoryList_c6ee36 {
    top: unset !important;
  }
  #emoji-picker-tab-panel .wrapper_dc0b29 .listItems_dcade6>div,
  #emoji-picker-tab-panel .unicodeShortcut_dfa278 {
    transform: rotate(90deg) scaleY(-1);
  }
  .categoryItemGuildCategory_dfa278 svg {
    width: 24px;
  }
  .categoryItemGuildCategory_dfa278 {
    margin: 0 !important;
  }
  .emojiPicker_c6ee36 .inspector_c3120f {
    display: none;
  }
  .categoryList_c6ee36 .guildCategorySeparator_dfa278 {
    display: none;
  }
  .drawerSizingWrapper_af5dbb,
  .emojiPickerInExpressionPicker-2nOwH8 {
    width: 250px !important;
  }
  #emoji-picker-tab-panel .emojiPicker_c6ee36 {
    grid-template-columns: 0 auto;
  }
}
@media (max-width: 700px) {
  /* transition */
  #app-mount,
  .container_e44302 {
    transition: .5s ease;
  }
  .guilds_a4d4d9,
  .guilds_a4d4d9 div,
  .guilds_a4d4d9 svg {
    transition: height .5s ease, width .5s ease;
  }
  /* transparency */
  .children_e44302::after,
  .form_a7d72e::before,
  .scroller_f4e139::-webkit-scrollbar,
  .protip_f4e139.inline_dcc874,
  .divider_e44302,
  .note_f14193 {
    display: none;
  }
  /* toolbar */
  .toolbar_e44302>[aria-label="Hide Member List"],
  .toolbar_e44302>[aria-label="Show Member List"],
  .toolbar_e44302>[aria-label="Pinned Messages"] {
    order: 1;
  }
  .toolbar_e44302>[aria-label="Notification Settings"],
  .toolbar_e44302>[aria-label="Add Friends to DM"],
  .toolbar_e44302>[href="https://support.discord.com"] {
    display: none;
  }
  .iconWrapper_e44302>svg {
    width: 18px;
  }
  .layer-2aCOJ3 {
    max-width: 80%;
  }
  .messagesPopoutWrap_ac90a2 {
    max-width: 100%;
  }
  .browser_f542fc {
    min-height: fit-content;
    min-width: unset;
    width: 100%;
    margin-left: 100px;
  }
  /* inbox */
  .toolbar_e44302>[aria-label="Inbox"] {
    right: 16px !important;
    position: fixed !important;
    width: 0 !important;
    padding: 0 !important;
    pointer-events: none !important;
  }
  .toolbar_e44302>[aria-label="Inbox"]>*,
  .toolbar_e44302>[aria-label="Inbox"]::before {
    display: none !important;
  }
  .recentMentionsPopout_ddb5b4 {
    width: 70vw;
    min-width: 100%;
    max-height: 80vh;
  }
  /* search bar */
  .searchBar_a46bef {
    width: 28px !important;
    background-color: transparent;
  }
  .chat_a7d72e .search_ff5f90 .searchBar_a46bef:hover,
  .chat_a7d72e .search_ff5f90 .search_a46bef.focused_a46bef .searchBar_a46bef,
  .chat_a7d72e .search_ff5f90 .search_a46bef.open_a46bef .searchBar_a46bef {
    background-color: var(--background-tertiary);
    min-width: 100px !important;
    width: fit-content !important;
  }
  .full-motion .searchBar_a46bef {
    transition: background-color .25s ease, width .25s ease;
  }
  /* search results */
  .searchResultsWrap_c2b47d {
    position: absolute;
    top: 4px;
    right: 16px;
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: var(--elevation-high);
    z-index: 2;
  }
  .searchBar_a46bef .clear_effbe2::before {
    position: fixed;
    content: '';
    width: 90%;
    height: 80%;
    top: var(--header-height);
    left: 56px;
  }
  .container_de9d09 {
    position: sticky;
    bottom: 0;
    background-color: var(--background-secondary);
    z-index: 1;
  }
  /* username */
  .cozy_ec86aa .contents_ec86aa .header_ec86aa {
    display: flex;
  }
  .cozy_ec86aa .headerText_ec86aa {
    min-width: 0;
    white-space: nowrap;
  }
  .cozy_ec86aa .username_ec86aa {
    display: block;
    text-overflow: ellipsis;
  }
  .cozy_ec86aa .timestampInline_ec86aa {
    white-space: nowrap;
  }
  .message_d5deea {
    padding-right: 0px !important;
  }
  .stickerButton_d0696b,
  .buttons_d0696b>.button_dd4f85:not(.BD-TeX-plugin-button)> :not(.translateButton-DhP9x8) {
    display: none;
  }
  /* chat */
  .scroller_e2e187::-webkit-scrollbar {
    width: 12px;
  }
  .embedWrapper_b558d0>img:not(.embedGalleryImageElement_ad0b71),
  .embedWrapper_b558d0>.imageWrapper__178ee img,
  .embedWrapper_b558d0>.grid_ad0b71>.imageWrapper__178ee img {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100%;
  }
  /* channel */
  html:not(.platform-osx) .base_a4d4d9 {
    border-radius: 8px 0 0 0;
  }
  .sidebar_a4d4d9 .header_fd6364>*,
  .sidebar_a4d4d9 .unreadBottom__6be9f>div {
    overflow: hidden;
  }
  .sidebar_a4d4d9 .header_fd6364 {
    padding: 0 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .wrapper_fea3ef:hover+.base_a4d4d9 .sidebar_a4d4d9 .header_fd6364,
  .sidebar_a4d4d9 .container_ee69e0:hover .header_fd6364,
  .sidebar_a4d4d9 .container_ee69e0:active .header_fd6364 {
    padding: 0 16px;
    transition: .5s ease;
  }
  /* memberlist */
  .members_cbd271 {
    height: auto;
    max-height: 100vh;
  }
  /* quick switcher */
  .quickswitcher_f4e139 {
    padding-top: var(--header-height);
    width: 100%;
  }
  .container_f4e139 {
    width: none;
    max-width: 100%;
  }
  /* nitro stuck warning */
  .applicationStore_cecc86 .premiumContainer__11813::before {
    content: "Welcome to Nitro Purgatory! To get out, press Ctrl + K and search for a friend.";
    display: block;
    position: absolute;
    top: calc(var(--header-height) + 20px);
    left: 15px;
    width: 80%;
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #f04747;
    font-weight: 500;
    z-index: 999;
  }
  /* settings */
  #app-mount .layer_d4b6c5 ~.layer_d4b6c5  {
    --settingsmodalwidth: 100%;
    --settingsmodalheight: 100%;
  }
  .sidebarRegion_c25c6d {
    position: fixed;
    height: 100%;
    z-index: 2;
  }
  .sidebarRegion_c25c6d:hover {
    box-shadow: var(--elevation-high);
  }
  #app-mount .layer_d4b6c5 ~.layer_d4b6c5  .sidebar_c25c6d {
    max-width: 56px !important;
    min-width: 56px;
    padding: 60px 6px 60px 15px !important;
    transition: .5s ease;
  }
  #app-mount .layer_d4b6c5 ~.layer_d4b6c5  .sidebar_c25c6d:hover {
    min-width: 213px;
    box-shadow: var(--elevation-high);
  }
  #app-mount .layer_d4b6c5 ~.layer_d4b6c5  .header-2Kx1US {
    max-width: unset !important;
  }
  .contentRegion_c25c6d {
    padding-left: calc(56px + 8px) !important;
  }
  .contentColumn_c25c6d,
  .customColumn_c25c6d {
    min-width: unset;
    width: 0;
  }
  .contentColumnDefault_c25c6d {
    position: relative;
    padding: 60px 20px 80px !important;
  }
  .header-1zd7se {
    padding-top: var(--header-height);
  }
  .toolsContainer_c25c6d {
    position: fixed;
    right: 0;
    top: calc(var(--header-height) - 2px);
    padding: 0;
    margin: 0 !important;
  }
  .contentRegionScroller_c25c6d::-webkit-scrollbar {
    width: 12px;
  }
  .contentRegionScroller_c25c6d::-webkit-scrollbar-track {
    display: none;
  }
  .focusLock-2tveLW,
  .root_f9a4c9 {
    height: fit-content;
    max-height: calc(100vh - 22px);
    max-width: 100vw;
    overflow: visible;
  }
  .imageWrapper__178ee + .operations_ed9386 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .imageWrapper__178ee + .operations_ed9386 .downloadLink_aa8ea9:nth-child(1),
  .imageWrapper__178ee + .operations_ed9386 .downloadLink_aa8ea9:nth-child(3) {
    border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
  .imageWrapper__178ee + .operations_ed9386 .downloadLink_aa8ea9:nth-child(4n+1) {
    border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
  .imageWrapper__178ee + .operations_ed9386 .downloadLink_aa8ea9 {
    top: 0;
    text-align: center;
    line-height: 20px;
  }
  .imageWrapper__178ee + .operations_ed9386 .downloadLink_aa8ea9:not(.anchor-1MIwyf) {
    display: none;
  }
  .fullscreenOnMobile_f9a4c9 {
    position: relative;
  }
  #bd-editor-controls {
    z-index: 1;
  }
  /* accountProfile */
  .userInfo_b69b77 .sizeSmall-wU2dO- {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, .3);
  }
  .userInfo_b69b77 .sizeSmall-wU2dO-:hover {
    background-color: rgba(0, 0, 0, .6);
  }
  .userInfo_b69b77 .sizeSmall-wU2dO-::after {
    content: '';
    height: 18px;
    width: 18px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z" ></path></svg>');
  }
  .userInfo_b69b77 .contents-3ca1mk {
    display: none;
  }
  /* profile customization */
  .profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    position: absolute;
    margin: 0;
  }
  .profileCustomizationSection-2OOT4p .divider-ogkn3u,
  .customizationSection_b3a5c2:last-child>.colorStandard-21JIj7,
  .customizationSection_b3a5c2.profileColorSection-2BQBEp>:first-child,
  .customizationSection_b3a5c2:first-child,
  .customizationSection_b3a5c2:nth-child(3) {
    display: none;
  }
  /* color */
  .customizationSection_b3a5c2 .buttonsContainer-3rygH4 {
    margin: 0;
  }
  .customizationSection_b3a5c2.profileColorSection-2BQBEp {
    padding: 5px 0 0 141px;
  }
  .customizationSection_b3a5c2 .colorSwatch-3KbHGH {
    z-index: 1;
  }
  /* aboutMe */
  .customizationSection_b3a5c2:last-child .channelTextArea_d0696b {
    top: 177px;
    width: 300px;
    z-index: 1;
  }
  .customizationSection_b3a5c2:last-child .slateTextArea_e52116 {
    padding: 0 0 0 15px;
    font-size: 14px;
    line-height: 18px;
    height: fit-content;
  }
  .customizationSection_b3a5c2:last-child .bioTextArea_ccf27d {
    opacity: 0;
    height: fit-content;
    background-color: var(--background-tertiary);
  }
  .customizationSection_b3a5c2:last-child .bioTextArea_ccf27d:focus-within,
  .customizationSection_b3a5c2:last-child .bioTextArea_ccf27d:hover {
    opacity: 1;
  }
  /* scrollbar */
  .customizationSection_b3a5c2:last-child .bioTextArea_ccf27d::-webkit-scrollbar {
    width: 6px;
  }
  /* emoji */
  .customizationSection_b3a5c2:last-child .buttons_d0696b {
    position: absolute;
    right: 0;
  }
  /* dracula */
  .layers_d4b6c5>.layer_d4b6c5 :nth-child(2) {
    --width2: 100%;
    --height2: 100%;
  }
}
@media (max-height: 500px) {
  .channelTextArea_d0696b {
    display: none;
  }

  .chatContent_a7d72e:hover .channelTextArea_d0696b {
    display: block;
  }
}
/*MinimalMode*/
@media (max-width: 700px) {
  .container-2Oqvgx {
    width: auto;
  }
  .tabs-1RhQha {
    padding: 10px 6px;
    display: block;
    height: fit-content;
    max-height: none;
  }
  /* Fixes overflow for unread bars */
  .unreadBottom__6be9f > .bar_c10249 {
    font-size: 10px;
  }
  .container_b2ca13 {
    height: 45px;
  }
  /* Header container heights */
  .container_e44302,
  .header_fd6364,
  .searchBar_f0963d {
    height: var(--header-height);
  }
  .libraryHeader_cb9493::before {
    top: var(--header-height);
  }
  /* Settings */
  .sidebarRegion_c25c6d {
    flex: 0;
  }
  .contentColumn_c25c6d,
  .customColumn_c25c6d {
    flex-grow: 1;
    max-width: 100%;
  }
  .customScroller_c25c6d > div,
  .sidebarScrollable_e9196a + .content_e9196a {
    max-width: unset;
  }
  .bd-addon-list .bd-addon-card {
    margin-bottom: 10px;
  }
  .bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
  @keyframes slide-out-enable {
    0% {
      pointer-events: none;
    }
    100% {
      pointer-events: all;
    }
  }
  @media (max-width: 1200px) {
    .peopleColumn_c2739c {
      margin-right: 0;
    }
  }
  .nowPlayingColumn_c2739c .nowPlayingScroller__5cd67 {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    transition: 250ms cubic-bezier(0.52, 0, 0.74, 0);
  }
  .nowPlayingColumn_c2739c:hover .nowPlayingScroller__5cd67 {
    opacity: 1;
    transform: none;
  }
  .nowPlayingColumn_c2739c:hover .itemCard_f02fcf {
    animation: slide-out-enable 450ms linear forwards;
  }
  /* Context menus (status picker) */
  .item-1OdjEX {
    min-height: 18px;
  }
  .styleFixed-2_NfVL {
    width: calc(var(--sidebar-width) - 20px);
  }
  .description_e0f739 {
    display: none;
  }
  /* Tooltips */
  .tooltip-14MtrL {
    border-radius: 4px;
  }
  .tooltipContent-Nejnvh {
    padding: 4px 8px;
    font-size: 13px;
  }
  .sidebar_a4d4d9 .content-2a4AW9 > .channel_c91bad:nth-of-type(3) {
    display: none;
  }
  /* Compatibility for MembersList */
  #MemberCount {
    width: auto !important;
    margin-top: 0 !important;
  }
  #MemberCount .membersGroup_cbd271 {
    height: auto;
  }
}
/*Streamer mode*/
.notice__5fd4c.colorStreamerMode_cb7f84 {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 5px 5px 5px 7px;
  line-height: 24px;
  height: 34px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  font-size: 0;
  border-radius: 5px;
  color: transparent;
  transform-origin: right;
  transition:
    transform var(--stream-mode-hover-duration),
    border-radius var(--stream-mode-hover-duration),
    font-size var(--stream-mode-hover-duration),
    color var(--stream-mode-hover-duration);
}
.notice__5fd4c.colorStreamerMode_cb7f84:hover {
  font-size: 14px;
  border-radius: 5px;
  color: white;
  transition-delay: var(--stream-mode-hover-delay);
}
.notice__5fd4c.colorStreamerMode_cb7f84 .button__33db6 {
  top: 0;
  margin: 0;
  padding: 0 3px;
  margin-left: 0px;
  transform-origin: right;
  transition: 
    margin-left var(--stream-mode-hover-duration),
    transform var(--stream-mode-hover-duration);
}
.notice__5fd4c.colorStreamerMode_cb7f84:hover .button__33db6 {
  transform: scaleX(1);
  margin-left: 5px;
  transition-delay: var(--stream-mode-hover-delay);
}
.notice__5fd4c.colorStreamerMode_cb7f84 .closeButton__90904 {
  position: static;
  order: 1;
  width: 22px;
  height: 22px;
  margin-top: 1px;
  justify-content: flex-end;
}
.notice__5fd4c.colorStreamerMode_cb7f84 .closeButton__90904 {
  width: 22px;
  height: 22px;
}