/*Full window*/
.container-1eFtFS {
  background: linear-gradient(to bottom, rgba(var(--back-gradient-top), var(--back-gradient-opacity)) 80%, rgba(var(--back-gradient-bottom), var(--back-gradient-opacity)));
}
#app-mount .container-2cd8Mz {
  background-color: transparent;
}
.container-1oAagU,
.nowPlayingColumn-1eCBCN {
  background: none;
}
/*Chat*/
.chat-9g_3Xj {
  background: none;
}
/*channel- and server- bar*/
.scroller-WSmht3,
.scroller-3X7KbA,
.wrapper-1_HaEi,
#app-mount .content-1jQy2l,
.privateChannels-oVe7HL {
  background-color: transparent !important;
}
#app-mount .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF {
  background: none;
}
.panels-3wFtMD .container-1CH86i:hover {
  background-color: black;
}
/*Userbuttons In Side Panel*/
@media (min-width:700px) {
  .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 72px;
    z-index: 1;
    padding: 20px 0 10px 0;
    flex-direction: column;
    background: linear-gradient(transparent, var(--back-user-buttons) 15%);
  }
  .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur {
    margin: var(--user-buttons-spacing) auto 0 auto;
  }
  .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF {
    pointer-events: none;
  }
  .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur {
    pointer-events: auto;
    border-radius: 50%;
  }
}
@media (max-width: 700px) {
  .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF {
    column-gap: 2px;
  }
  #app-mount .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur {
    border-radius: 0px;
    background-color: var(--back-user-buttons-700);
  }
  #app-mount .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur:hover {
    background-color: var(--back-user-buttons-hover-700);
  }
  #app-mount .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur:first-child {
    border-radius: 16px 0px 0px 16px;
  }
  #app-mount .panels-3wFtMD > .container-1CH86i > .flex-2S1XBF > .button-12Fmur:last-child {
    border-radius: 0px 16px 16px 0px;
  }
}
.content-2a4AW9 {
  height: 850px !important;
}
/*Account Background*/
.panels-3wFtMD,
.activityPanel-9icbyU,
.container-1zzFcN,
.container-6sXIoE,
.container-YkUktl{
  background: var(--back-account);
  margin-bottom: 0;
}
/*Background*/
#app-mount .perksModal-fSYqOq,
.pageContent-1xgXch,
.applicationStore-2nk7Lo,
.container-36u7Lw,
.layer-86YKbF[aria-label="USER_SETTINGS"],
.pageWrapper-2PwDoS,
.content-1jQy2l,
.tabBody-2dgbAs {
  background: var(--main-background);
}
/*Background Selected DM*/
.selected-2TbFuo .content-1gYQeQ,
.selected-3veCBZ {
  background: var(--back-selected-dm-pic);
  background-color: var(--back-selected-dm);
  background-size: cover;
  background-position: var(--back-pos-dm);
}
/*DM-list*/
.channel-1Shao0:hover {
  box-shadow: inset 0 0 20px rgb(var(--border-color-hover));
  background-color: var(--back-selected-dm);
}
.channel-1Shao0 {
  box-shadow: 0px;
  transition: 
    box-shadow 0.75s,
    background-color 1s;
  border-radius: 50px;
  background-color: transparent;
  overflow: hidden;
}
.channel-1Shao0 {
  border-radius: 50px;
}
/*Playing Cards In Friendlist*/
.container-1oAagU .scroller-hE2gWq {
  margin: 0;
}
.wrapper-2RrXDg {
  background-color: var(--back-color-boxes);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .outer-2JOHae.active-1W_Gl9 {
  background-color: var(--back-color-boxes);
}
.wrapper-2RrXDg:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
.section-3G9aLW {
  background-color: black;
}
.itemCard-3Etziu:first-of-type {
  margin-top: -8px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0px;
}
.itemCard-3Etziu {
  margin-top: 0px;
  border-radius: 0px;
  border-bottom: 0px;
}
.itemCard-3Etziu:nth-last-of-type(2):not(:first-of-type) {
  border-radius: 0px;
  border-bottom: 0px;
}
.itemCard-3Etziu:nth-last-of-type(2) {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.itemCard-3Etziu:nth-last-of-type(2):first-of-type {
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0px;
}
.itemCard-3Etziu:hover + div[style*="height"] {
  background-color: var(--back-color-boxes-hover);
}
.itemCard-3Etziu + div[style*="height"] {
  width: unset;
  background-color: var(--back-color-boxes);
  top: 0px;
  left: 0px;
  position: relative !important;
  --__adaptive-focus-color: rgba(255, 255, 255, 0);
  display: block;
  height: 8px !important;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-top: 0px;
}
#app-mount .separator-2OaeRP,
#app-mount .inset-SbsSFp {
  background-color: transparent;
}
@media (min-width: 700px) {
  .nowPlayingColumn-1eCBCN {
    width: 360px;
    min-width: 360px;
    max-width: 360px;
  }
}
@media (max-width: 700px) {
  .tabBody-2dgbAs {
    display: grid;
    grid-template-rows: 70% 30%;
    border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
  #app-mount .nowPlayingColumn-1eCBCN {
    width: 100%;
    max-width: unset;
  }
  #app-mount .nowPlayingColumn-1eCBCN  .scroller-hE2gWq {
    border-left: 0;
    border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
  #app-mount .nowPlayingColumn-1eCBCN .scroller-hE2gWq > h2 {
    position: fixed;
    z-index: 1;
    width: calc(100% - 10px);
    text-align: center;
    background-color: black;
    margin: 7px 5px 0 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
    border-radius: 50px;
  }
  #app-mount .nowPlayingColumn-1eCBCN .scroller-hE2gWq > h2 + *  {
    margin-top: 50px;
  }
  .nowPlayingColumn-1eCBCN .header-Imy05m {
    align-self: center;
  }
  .nowPlayingColumn-1eCBCN .scroller-hE2gWq {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px !important;
    padding-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .nowPlayingColumn-1eCBCN {
    display: block;
    transition: width 0.5s, max-width 0.5s, min-width 0.5s;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
  }
  .nowPlayingColumn-1eCBCN:hover {
    width: 360px;
    min-width: 360px;
    max-width: 360px;
  }
}
/*Search Bar*/
.search-39IXmY {
  order: 1;
}
.search-2Mwzzq:hover {
  background-color: var(--back-color-search-bar);
  border-radius: 5px;
}
#app-mount .search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ {
  background-color: var(--back-color-search-bar);
}
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 240px;
  transition: 0.25s;
  background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.2);
  transition: 0.25s;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
  transition: 0.25s;
}
#app-mount .search-2Mwzzq .searchBar-jGtisZ {
  background: transparent;
}
/*Title Bar*/
.wordmarkWindows-2dq6rw {
  display: none;
}
.wordmark-2u86JB svg {
  color: var(--title-bar-color);
}
.titleBar-1it3bQ:not(.typeMacOS-3V4xXE)::after {
  content: var(--title-bar-content);
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--title-bar-color);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
}
.titleBar-1it3bQ .winButtonClose-3Q8ZH5 {
  color: red;
}
.titleBar-1it3bQ .winButtonClose-3Q8ZH5:hover {
  background-color: red;
  color: var(--title-bar-color);
}
.winButtonMinMax-3RsPUg[aria-label="Minimize"],
.winButtonMinMax-3RsPUg[aria-label="Maximize"]{
  color: var(--title-bar-color);
}
#app-mount .dev-title-button {
  color: var(--title-bar-color);
}
/*Crash Screen*/
.image-35kDIs {
  background-image: var(--crash-screen-image) !important;
}
.flexWrapper-2VyHoE .lookFilled-1Gx00P .contents-18-Yxp::after {
  content: " Last Respawn Point";
}
.note-Ph806N div {
  visibility: hidden;
  height: 0px;
}
.note-Ph806N {
  margin-top: -50px;
}
.title-NjUt5y {
  display: none;
}
.note-Ph806N::before {
  content: "Your discord got obliberated by one of your plugins";
  margin-bottom: 10px;
}
.note-Ph806N::after {
  content: "Press crtl + shift + i to track down which plugin caused this";
  margin-top: 10px;
}
/*Message Stuff*/
#app-mount .scrollerContent-2SW0kQ .message-2CShn3 {
  transition: background-color 0.3s;
}
#app-mount .scrollerContent-2SW0kQ .message-2CShn3:hover {
  background-color: var(--message-hover);
}
@media (max-width: 700px) {
  .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
    transform: scale(0.75);
  }
  .cozy-VmLDNB.wrapper-30-Nkg {
    padding-left: 64px;
  }
}
/*Message Hover Buttons*/
.message-2CShn3:hover .buttons-3dF5Kd {
  opacity: 1;
  pointer-events: auto;
}
.buttons-3dF5Kd {
  transition: opacity 0.3s;
}
@media (max-width: 700px) {
  .buttons-3dF5Kd {
    transform: scale(0.75);
    transform-origin: right;
  }
}
/*Typing Status*/
#app-mount .chat-9g_3Xj form .typing-2J1mQU {
  background-color: var(--back-color-boxes);
  bottom: 100%;
  padding-left: 10px;
  overflow: hidden;
  width: fit-content;
  display: -webkit-box;
  padding-right: 10px;
  padding-top: 0px;
  border-radius: 20px;
  opacity: 1;
  text-overflow: ellipsis;
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0;
}
#app-mount .chat-9g_3Xj form .typing-2J1mQU::after {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-radius: 20px;
  pointer-events: none;
  transition: border-bottom-color .5s ease;
}
#app-mount .messagesWrapper-RpOMA3 + .form-3gdLxP:not(:hover):not(:focus-within) > .channelTextArea-1FufC0 + .typing-2J1mQU::after,
#app-mount .messagesWrapper-RpOMA3 + .form-3gdLxP:not(:hover):not(:focus-within) > [aria-controls*="popout_"] + .typing-2J1mQU::after {
  border-bottom-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .chat-9g_3Xj form .typing-2J1mQU:hover::after {
  border-bottom-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .messagesWrapper-RpOMA3 + .form-3gdLxP:focus-within > [aria-controls*="popout_"] + .typing-2J1mQU::after {
  border-bottom-color: black;
}
.typing-2J1mQU .cooldownWrapper-2k1jHK {
  margin: 0;
}
/*Server Bar*/
@media (min-width:700px) {
  .guilds-2JjMmN {
    margin-bottom: 180px;
  }
}
@media (max-width:700px) {
  .guilds-2JjMmN {
    width: 56px;
    margin-bottom: 55px;
  }
  .guilds-2JjMmN .wrapper-z5ab_q {
    height: calc(56px * 0.625);
  }
  .guilds-2JjMmN .wrapper-z5ab_q span {
    max-height: calc(56px * 0.375);
  }
  .guilds-2JjMmN div[style*='height: 56px'],
  .guilds-2JjMmN [role='group'] {
    height: auto !important;
  }
  .guilds-2JjMmN .listItem-GuPuDH,
  .guilds-2JjMmN [class*='unreadMentionsIndicator'],
  .guilds-2JjMmN .wrapper-3Njo_c {
    width: 100%;
  }
  .guilds-2JjMmN .wrapper-28eC3z,
  .guilds-2JjMmN [class*='guildsError-'],
  .guilds-2JjMmN svg[width='48'] {
    width: calc(56px * 0.625);
    height: calc(56px * 0.625);
  }
  .guilds-2JjMmN .wrapper-3Njo_c > span {
    left: calc(56px * 0.175);
    width: calc(56px * 0.625);
  }
  .guilds-2JjMmN #bd-pub-button {
    height: calc(56px * 0.375);
    line-height: calc(56px * 0.375);
    font-size: 10px;
  }
  .listItem-3SmSlK {
    width: 56px;
  }
  .expandedFolderBackground-1kSAf6 {
    left: calc(56px * 0.2);
    width: calc(56px * 0.625);
  }
  .wrapper-2PSQCG {
    width: 35px;
    height: unset;
    aspect-ratio: 1;
  }
}
/*Text Area*/
.scrollableContainer-15eg7h .divider-2rZFJK {
  display: none;
}
.scrollableContainer-15eg7h .divider-2rZFJK::after {
  display: none;
}
.messagesWrapper-RpOMA3 {
  margin-bottom: 8px;
}
.messagesWrapper-RpOMA3 .scrollerSpacer-3AqkT9 {
  height: 22px;
}
html #app-mount .scrollableContainer-15eg7h {
  background: transparent;
}
.channelAttachmentArea-1wlgJV {
  background-color: var(--channeltextarea-background);
  overflow: hidden;
}
.scrollableContainer-15eg7h > .channelAttachmentArea-HwpkuQ {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 5px;
  max-height: 246px;
  background-color: var(--user-popout);
}
.channelTextArea-1FufC0 .buttons-uaqb-5 {
  margin-right: 4px;
}
.scrollableContainer-15eg7h,
.channelTextArea-1FufC0 {
  background: none;
  border-radius: unset;
}
.inner-NQg18Y {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  transition: border-color 0.5s, background-color 0.5s;
  border-radius: 9px;
}
.inner-NQg18Y:focus-within,
.inner-NQg18Y:hover {
  background-color: var(--channeltextarea-background);
  border-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
.upload-vLbqu- {
  background: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.upload-vLbqu- .image-2dAEjD {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 4px;
}
.wrapper-2vIMkT {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.form-3gdLxP:before {
  display: none;
}
@media (max-width: 700px) {
  .form-3gdLxP {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*Stage Pannels*/
.container-S9SaVf:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
.contentContainer-1fklqj {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 10px;
  background-color: var(--back-color-boxes) !important;
}
/*Small Number Badges*/
.UnreadCountBadges-badge-channelUnread,
.topPill-3DJJNV .numberBadge-37OJ3S {
  background-color: var(--back-color-number-badges) !important;
}
#app-mount .numberBadge-37OJ3S:nth-last-child(2) {
  background-color: var(--back-color-number-badges);
}
.numberBadge-37OJ3S:nth-last-child(3) {
  background-color: red !important;
}
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom {
  overflow: hidden;
}
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .UnreadCountBadges-badge-unread,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .lowerBadge-3WTshO,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom .UnreadCountBadges-badge-unread,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom .lowerBadge-3WTshO {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .lowerBadge-3WTshO .numberBadge-37OJ3S,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .UnreadCountBadges-badge-unread .numberBadge-37OJ3S,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom .lowerBadge-3WTshO .numberBadge-37OJ3S,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom .UnreadCountBadges-badge-unread .numberBadge-37OJ3S {
  height: 12px;
  width: 100% !important;
  font-size: 9px;
  min-width: unset;
  min-height: unset;
}
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .lowerBadge-3WTshO .numberBadge-37OJ3S,
.guilds-2JjMmN > ul > .scrollerBase-_bVAAt > .tutorialContainer-2sGCg9 .listItemWrapper-3ktTom .lowerBadge-3WTshO .numberBadge-37OJ3S {
  margin-top: 38px;
}
/*blue ping on hover*/
.listItem-1d8GP4:hover .numberBadge-37OJ3S {
  background-color: blue !important;
}
/*Status Circle Top Of The DM*/
[aria-label="Online"] .mask-2Me5HY rect {
  fill: var(--online);
}
/*Usertag Always Shows On Hover*/
.peopleListItem-u6dGxF:hover .userInfo-2WpsYG .discriminator-WV5K5s {
  display: block;
  visibility: visible;
}
.discriminator-WV5K5s {
  display: none;
}
/*Friend List*/
.icon-Lupfh- {
  color: white;
}
.selected-26oxtA .subText-3Sk0zy,
.selected-26oxtA .name-2m3Cms {
  color: var(--selected-dm-color);
}
/*Force Show Link*/
#app-mount .anchor-1MIwyf::after {
  left: 148px;
}
[href*="/"]::after {
  content:attr(href);
  display:flex;
  align-items:center;
  z-index:9999;
  background:var(--back-color-boxes);
  line-height:normal;
  font-weight:normal;
  font-size:12px;
  padding:3px 4px;
  padding-right:6px;
  position: fixed;
  bottom:2px;
  left: 328px;
  opacity:0;
  transition:200ms ease;
  white-space:nowrap;
  border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0px 0px 5px 5px;
  pointer-events:none;
  color: var(--text-link);
}
[href*="/"]:hover::after {
  opacity:1;
}
#app-mount [aria-label="USER_SETTINGS"] .anchor-1MIwyf::after {
  left: 254px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 10px 0 0;
  padding-top: 5px;
  padding-bottom: 0;
}
#app-mount .userPopout-2j1gM4 .anchor-1MIwyf::after {
  left: 0;
  max-width: calc(100% - 11px);
  white-space: pre-wrap;
}
#app-mount .focusLock-2tveLW .anchor-1MIwyf::after {
  left: 0;
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: 0 10px 0 0;
  padding-top: 5px;
  padding-bottom: 0;
}
#app-mount .anchor-1MIwyf.embedMedia-1mdWSP::after {
  left: 0;
  bottom: 0;
  width: 100%;
  white-space: pre-wrap;
  background: rgba(0, 0, 0, 0.7);
}
/*ServerFolders Expanded*/
.expandedFolderIconWrapper-3RwQpD::after {
  content: "";
  margin-left: -22px;
  background-image: var(--home-button-background);
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.folderIconWrapper-1oRIZr path {
  display: none;
}
.expandedFolderBackground-1kSAf6 {
  background-color: var(--back-expanded-server-folder);
}
@media (max-width: 700px) {
  .expandedFolderBackground-1kSAf6 {
    bottom: -2px;
  }
}
.folder-241Joy[aria-expanded="true"] {
  background-color: var(--back-expanded-server-folder-icon);
  border-radius: 24px;
}
/*scrollbar*/
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--border-color-hover), var(--border-opacity-hover)) !important;
}
::-webkit-scrollbar-track {
  background-color: rgb(var(--border-color-hover), var(--border-opacity-1))!important;
}
.scrollerBase-_bVAAt {
  padding-right: 4px !important;
}
.thin-RnSY0a::-webkit-scrollbar-track {
  background-color: transparent !important;
}
.form-2oOOG9 .modalContent-3YXA7I::-webkit-scrollbar,
div:not(.messagesWrapper-RpOMA3) > .scrollerBase-_bVAAt::-webkit-scrollbar,
[aria-label="USER_SETTINGS"] .sidebarRegionScroller-FXiQOh::-webkit-scrollbar,
.privateChannels-oVe7HL .scroller-WSmht3::-webkit-scrollbar,
.peopleList-2VBrVI::-webkit-scrollbar,
.nowPlayingColumn-1eCBCN .scroller-hE2gWq::-webkit-scrollbar,
.membersWrap-3NUR2t .members-3WRCEx::-webkit-scrollbar,
.scrollableContainer-15eg7h::-webkit-scrollbar,
.sidebar-1tnWFu .container-1NXEtd .scroller-1ox3I2::-webkit-scrollbar {
  display: none;
}
/*CodeBlocks Scroller (lenght)*/
.scrollbarGhostHairline-2LpzZ9 {
  max-width: unset;
  overflow-x: scroll;
  white-space: pre !important;
}
/*chat header transparant*/
#app-mount .children-3xh0VB:after {
  display: none;
}
#app-mount .chatContent-2O4SXb {
  margin-top: -45px;
  background: transparent;
}
.container-1yy5xN {
  margin-top: 45px;
}
.messagesWrapper-RpOMA3 .scroller-kQBbkU::-webkit-scrollbar-track {
  margin-top: 45px;
}
#app-mount .wrapper-1gVUIN ~ .content-18rAwf .chatContent-2O4SXb .scroller-kQBbkU::-webkit-scrollbar-track,
#app-mount .wrapper-1gVUIN ~ .content-18rAwf .chatContent-2O4SXb {
  margin-top: 0;
}
.newMessagesBar-1hF-9G {
  margin-top: 45px;
}
#app-mount .wrapper-1gVUIN ~ .content-1jQy2l .chatContent-2O4SXb .newMessagesBar-1hF-9G {
  margin-top: 0;
}
.container-ZMc96U.themed-Hp1KC_ {
  backdrop-filter: blur(1px);
  pointer-events: none;
}
.container-ZMc96U.themed-Hp1KC_ div * {
  pointer-events: auto;
}
/*Stickers and boost status*/
.tier-3CS7-p {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .tiers-7TOtI7 .tierHeaderLocked-30MLlO {
  background: transparent;
}
.tierHeaderContent-2SPBAA {
  background: var(--back-color-boxes);
}
#app-mount .tiers-7TOtI7 .tierBody-1d3UiS {
  background-color: transparent;
}
/*Update notice plugins*/
.colorInfo-1kEg3T {
  background: var(--back-color-boxes);
}
/*Nitro Gift Scroller Issue*/
.small-23Atuv {
  max-height: unset;
}
/*Older Messages Bar*/
.jumpToPresentBar-1cEnH0 {
  background-color: var(--user-popout);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  min-height: unset;
  height: 15px;
  margin-bottom: 8px;
}
.jumpToPresentBar-1cEnH0 .barButtonBase-Sk2mdB {
  margin-top: 7px;
}
/*FriendList Top Buttons*/
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL {
  overflow-y: hidden;
  overflow-x: auto;
  align-items: center;
}
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL,
.container-ZMc96U .children-3xh0VB {
  height: 100%;
}
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL::-webkit-scrollbar-track,
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 7.5px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL::-webkit-scrollbar-track {
  border-width: initial;
  border: 2px solid transparent;
}
.container-ZMc96U .children-3xh0VB .tabBar-ra-EuL::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: move;
}
.container-2cd8Mz .topPill-3DJJNV .item-3XjbnG {
  margin: 0;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-right: 0px;
  border-radius: 0px;
}
#app-mount .container-2cd8Mz .topPill-3DJJNV .item-3XjbnG:hover {
  border-right: 1px solid;
  border-color: rgb(var(--border-color-hover));
}
.container-2cd8Mz .topPill-3DJJNV .item-3XjbnG:nth-last-child(1) {
  border-radius: 0px 20px 20px 0px;
  border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.container-2cd8Mz .topPill-3DJJNV .item-3XjbnG:first-child {
  border-radius: 20px 0px 0px 20px;
}
.container-2cd8Mz .topPill-3DJJNV .item-3XjbnG:hover + .item-3XjbnG {
  border-left: 0px;
}
/*Call Container*/
#app-mount .wrapper-1gVUIN {
  background-color: var(--user-popout);
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*About Me*/
.clamped-2ZePhX{
  -webkit-line-clamp: 190;
  max-height:112px;
  overflow-x: hidden;
  overflow-y: auto;
}
.clamped-2ZePhX::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.clamped-2ZePhX::-webkit-scrollbar-track,
.clamped-2ZePhX::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 7.5px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}
.clamped-2ZePhX::-webkit-scrollbar-track {
  border-width: initial;
  border: 2px solid transparent;
}
.clamped-2ZePhX::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: move;
}
/*Multi Uploads*/
.channelAttachmentArea-1wlgJV {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}
.channelAttachmentArea-1wlgJV::-webkit-scrollbar {
  width: 13px;
}
/*Status Colors*/
[data-status="online"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Online"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Online"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Online"] .mask-1y0tyc > svg > rect,
[aria-label*="Online"] .mask-2Me5HY > svg > rect {
fill: var(--online);
}
[data-status="idle"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Idle"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Idle"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Idle"] .mask-1y0tyc > svg > rect,
[aria-label*="Idle"] .mask-2Me5HY > svg > rect {
  fill: var(--idle);
}
[data-status="dnd"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Do Not Disturb"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Do Not Disturb"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Do Not Disturb"] .mask-1y0tyc > svg > rect,
[aria-label*="Do Not Disturb"] .mask-2Me5HY > svg > rect {
  fill: var(--dnd);
}
[data-status="offline"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Offline"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Offline"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Offline"] .mask-1y0tyc > svg > rect,
[aria-label*="Offline"] .mask-2Me5HY > svg > rect {
  fill: var(--offline);
}
[data-status="invisible"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Invisible"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Invisible"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Invisible"] .mask-1y0tyc > svg > rect,
[aria-label*="Invisible"] .mask-2Me5HY > svg > rect {
  fill: var(--offline);
}
[data-status="streaming"] .wrapper-1VLyxH rect[fill*="#"],
[aria-label*="Streaming"] .mask-1y0tyc > foreignObject + rect,
[aria-label*="Streaming"] .mask-2Me5HY > foreignObject + rect,
[aria-label*="Streaming"] .mask-1y0tyc > svg > rect,
[aria-label*="Streaming"] .mask-2Me5HY > svg > rect {
  fill: var(--streaming);
}
/*Discord Nitro Feature Animations*/
.featureGrid-SSlfD0 .feature-2IUcBI {
  z-index: 0;
  transition: transform 0.5s;
}
.featureGrid-SSlfD0 .feature-2IUcBI:hover {
  z-index: 1;
  transform: scale(1.2);
  transition-delay: 0.2s;
}
/*Member List*/
.content-18rAwf>.membersWrap-3GwLFp,
.content-18rAwf>.container-2vWgD2 .membersWrap-3GwLFp,
#app-mount .ChannelDms-channelmembers-wrap {
  background-color: rgba(0, 0, 0, 0.9);
}
.members-3WRCEx,
.members-3WRCEx>div {
  background-color: transparent;
}
@media (min-width:700px) {
  .container-2vWgD2,
  .membersWrap-3GwLFp:not(#dv-mount),
  .membersWrap-3GwLFp:not(#dv-mount) > div {
    min-width:60px!important;
    max-width:240px!important;
    width:60px;
    min-height: 100%;
    transition: all .5s;
  }
  .container-2vWgD2:hover,
  .membersWrap-3GwLFp:hover:not(#dv-mount),
  .membersWrap-3GwLFp:hover:not(#dv-mount) > div {
    width:240px;
    min-width: 240px !important;
  }
}
@media (max-width: 700px) {
  .content-18rAwf>.membersWrap-3GwLFp,
  .content-18rAwf>.container-2vWgD2 .membersWrap-3GwLFp,
  #app-mount .ChannelDms-channelmembers-wrap {
    position: fixed;
    right: 0;
    overflow: hidden;
    height: calc(100% - 64px);
    width: 240px;
    max-height: unset;
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    z-index: 1;
    transform: translateX(calc(100vw - 60px));
    transition: transform 1s;
  }
  .content-18rAwf>.membersWrap-3GwLFp:hover,
  .content-18rAwf>.container-2vWgD2:hover .membersWrap-3GwLFp,
  #app-mount .ChannelDms-channelmembers-wrap:hover {
    transform: translateX(0px);
  }
  .membersWrap-3GwLFp:not(#dv-mount),
  .membersWrap-3GwLFp:not(#dv-mount) > div {
    width: 100vw;
  }
  .member-2gU6Ar {
    max-width: calc(100% - 16px);
  }
  .container-2vWgD2 {
    width: 0px;
  }
}
/*DM/Channel list*/
@media (max-width: 700px) {
  #app-mount .sidebar-1tnWFu>.privateChannels-oVe7HL,
  #app-mount .sidebar-1tnWFu>.container-1NXEtd {
    background-color: var(--back-sidebar);
  }
  #app-mount .sidebar-1tnWFu>.privateChannels-oVe7HL {
    border-left: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
  #app-mount .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu>.privateChannels-oVe7HL,
  #app-mount .sidebar-1tnWFu>.privateChannels-oVe7HL:hover {
    border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
}
@media (min-width: 700px) {
  .sidebar-1tnWFu {
    background: none;
    border-right: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  }
}
/*Home tab*/
.background-fkKrXt.title-31SJ6t {
  background: var(--background-primary);
}
/*Forums*/
.theme-dark .container-3wLKDe {
  background-color: transparent;
}
.chatContent-3KubbW .container-3YcgdM {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  right: 17px;
  top: 43px;
  margin: 0;
}
.container-ZMc96U.themed-Hp1KC_ {
  border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
.tags-3s41VI .pill-3pRQlO {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background-color: transparent;
}
.tags-3s41VI .pill-3pRQlO.clickable-3YTfAq:not(.disabled-3Rezaw):hover {
  background-color: var(--background-secondary-alt);
  border: 1px solid rgb(var(--border-color-hover), var(--border-opacity-hover));
} 
.row-uezxzk:not(.headerRow-1MKoR-) .container-2qVG6q {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
}
/*User profile (DM sidebar)*/
aside.profilePanel-2PWEok .overlayBackground-1KgwVi {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
aside.profilePanel-2PWEok .userPanelInnerThemed-2xZFjl {
  background: linear-gradient(to bottom, var(--back-gradient-top) 80%, var(--back-gradient-bottom));
}
aside.profilePanel-2PWEok .buttonColor-XIRMbp {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}
.theme-dark .profileColors-3Y0XaR {
  background: none;
}
/*Call Buttons (only visible while in call)*/
@media (max-width:800px) {
  .wrapper-1gVUIN .bottomControls-31YuPK .wrapper-3t3Yqv .controlButton-2PMNom {
    margin: 0;
    transform: scale(0.8);
  }
  .wrapper-1gVUIN .bottomControls-31YuPK {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .wrapper-1gVUIN .bottomControls-31YuPK .flex-2S1XBF:first-child {
    grid-row: 1 / 2;
  }
  .wrapper-1gVUIN .bottomControls-31YuPK .flex-2S1XBF:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .wrapper-1gVUIN .bottomControls-31YuPK > .flex-2S1XBF:first-of-type > .flex-2S1XBF:first-of-type {
    margin: 0;
  }
  .wrapper-1gVUIN .bottomControls-31YuPK > .flex-2S1XBF:first-of-type {
    gap: 5px;
  }
  .wrapper-1gVUIN .bottomControls-31YuPK .leftDivider-1HpX9I,
  .wrapper-1gVUIN .bottomControls-31YuPK .actionBarButton-13NNTn,
  .wrapper-1gVUIN .bottomControls-31YuPK .leftTrayIcon-3kMl25 {
    margin-right: 0;
  }
}