._960e4207cea8323e-layer[aria-hidden="true"]:has(+ ._960e4207cea8323e-layer) {
  position: relative;
}
._960e4207cea8323e-layer[aria-hidden="true"] + ._960e4207cea8323e-layer {
  position: relative;
  top: 0;
  height: 100%;
}
._960e4207cea8323e-layer[aria-hidden="true"] .c38106a3f0c3ca76-bar + ._5e434347c823b592-content {
  display: none;
}
._960e4207cea8323e-layers>._960e4207cea8323e-layer._960e4207cea8323e-baseLayer[aria-hidden="true"] {
  opacity: 1 !important;
  transform: unset !important;

  ._5e434347c823b592-content {
    opacity: 0;
  }
}
.c38106a3f0c3ca76-fixed.c38106a3f0c3ca76-bar {
  display: none;
}
/*General Sidebar*/
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion {
  -ms-flex: 0;
  -ms-flex-pack: end;
  flex: 0;
  z-index: 1;
}
._23e6b439306f125a-sidebarRegionScroller {
  background-color: var(--background-primary);
}
._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebarRegionScroller::-webkit-scrollbar-track {
  border-radius: var(--border-radius-xl);
  background-color: transparent !important;
  margin-block: 1px;
}
._23e6b439306f125a-sidebarRegionScroller .aa8da23faa27393c-side .aa8da23faa27393c-item.aa8da23faa27393c-selected:hover {
  background-color: var(--background-modifier-selected-hover);
}
/*General Content Area*/
._960e4207cea8323e-layer  ._23e6b439306f125a-contentRegion,
._960e4207cea8323e-layer  ._23e6b439306f125a-contentRegion ._23e6b439306f125a-contentTransitionWrap {
  overflow: hidden;
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentColumnDefault {
  padding: 20px 40px 80px;
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentColumn,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-customColumn {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 460px;
}
.bdcompat-addon-panel-list .bd-addon-card,
.bd-addon-list .bd-addon-card {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--back-bd-addon-cards);
  border-radius: var(--border-radius-m);
}
.bd-addon-list .bd-footer .bd-controls .bd-addon-button {
  background-color: var(--back-color-boxes);
}
.bd-addon-list .bd-footer .bd-controls .bd-button-danger {
  background-color: var(--back-color-danger-boxes);
}
/*Switches*/
.container-2nx-BQ[style*="hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"],
.bd-switch-body {
  background: var(--switch-off) !important;
}
.container-2nx-BQ[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.bd-switch input:checked + .bd-switch-body {
  background: var(--switch-on) !important;
}
/*settingsIcons*/
[aria-label="USER_SETTINGS"] ._23e6b439306f125a-sidebar {
  width: 218px;
}
/*Sidebar*/
._23e6b439306f125a-sidebar {
  padding-top: 30px;
}
/*profile banner*/
._1fed1dd06c7aabf7-accountProfileCard > .UserBackgrounds-banner-container {
  height: 400px;
}
._1fed1dd06c7aabf7-accountProfileCard > .UserBackgrounds-banner-container > :last-child {
  width: 100%;
  background: center / cover;
  height: 100%;
}
#app-mount [aria-label="USER_SETTINGS"] .UserBackgrounds-banner-container {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
/*Devices*/
._803f2f55621144fb-sessionIcon {
  background: var(--background-secondary);
  color: var(--interactive-normal);
}
/*Profile crad in settings*/
#app-mount [aria-label="USER_SETTINGS"] ._1fed1dd06c7aabf7-background,
#app-mount [aria-label="USER_SETTINGS"] ._1fed1dd06c7aabf7-userInfo {
  position: relative;
}
._1fed1dd06c7aabf7-userInfo {
  margin-bottom: 50px;
}
#app-mount
  [aria-label="USER_SETTINGS"]
  ._1fed1dd06c7aabf7-userInfo
  .accountSettingsAvatar {
  top: 0;
}
._1fed1dd06c7aabf7-accountProfileCard,
._1fed1dd06c7aabf7-background {
  border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--background-primary);
}
/*Compat lists (BD, PC, Kernel) + styling cards*/
#app-mount .bd-addon-list {
  opacity: var(--bd-addon-cards-opacity);
}
#app-mount .holy-settings-panel .holy-settings-card-scroller,
#app-mount .kernel-card-scroller,
#app-mount .pc-settings-panel .pc-settings-card-scroller,
#app-mount .bd-addon-list.bd-grid-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  background-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount .holy-settings-panel .holy-settings-card-scroller .holy-card-container,
#app-mount .kernel-card-scroller .kernel-card,
#app-mount .pc-settings-panel .pc-settings-card-scroller .pc-settings-addon-card,
#app-mount .bd-addon-list.bd-grid-view > .bd-addon-card {
  border-radius: var(--border-radius-0) !important;
  border: 0;
}
#app-mount .kernel-card-scroller .kernel-card,
#app-mount .holy-card-container,
.pc-settings-addon-card,
.bd-addon-list.bd-grid-view > div {
  margin: 0;
  flex: 1 1 400px;
}
.bd-addon-card .bd-addoncard-header .bd-addoncard-info {
  flex-wrap: wrap;
  row-gap: 5px;
}
.bd-addon-card .bd-addoncard-header .bd-addoncard-info + .container-2nx-BQ {
  flex: 0 0 40px;
}
#app-mount .kernel-card,
#app-mount .holy-card-container {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background: var(--user-popout);
}
#app-mount .holy-card-container,
.kernel-card-scroller .kernel-card {
  padding: 0;
}
.kernel-card-scroller .kernel-card-header {
  padding: 10px;
}
.kernel-footer,
.kernel-card-scroller .kernel-card-desc {
  padding: 10px;
  padding-top: 0;
}
#app-mount .holy-card-container .holy-card-header {
  padding: 10px;
}
#app-mount .kernel-card .kernel-card-header,
#app-mount .holy-card-container .holy-card-header {
  background: var(--background-secondary-alt);
}
#app-mount .kernel-card .kernel-card-tools {
  top: 0;
  right: 0;
  padding: 3px;
  background-color: transparent;
  border: 0;
}
#app-mount .holy-card-container .holy-card-description {
  background: none;
}
.holy-card-container .holy-card-footer .holy-card-controls {
  padding: 10px;
  padding-top: 0;
  padding-left: 0;
}
#app-mount .pc-settings-addon-card {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  overflow: hidden;
  margin: 0;
}
#app-mount .pc-settings-addon-card::before {
  content: "";
  inset: 0;
  position: absolute;
  border-left: 4px solid var(--plugin-color);
  pointer-events: none;
}
#app-mount [class*="bdcompat-settings"] svg,
#app-mount [class*="pccompat-settings"] svg {
  transform: scaleX(1);
}
#app-mount .bd-addon-list > .bd-addon-card.bd-addon-card-disabled {
  background-color: rgb(61, 0, 0);
}
._23e6b439306f125a-contentRegion .d9914bd9cd9c033f-container,
._23e6b439306f125a-contentRegion ._5b32177e89c63961-max-width,
._23e6b439306f125a-contentRegion ._8e680ffe35110238-max-width {
  max-width: unset !important;
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentColumn[id="my-account-tab"] {
  max-width: var(--settings-myaccount-max-width);
}
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentColumn {
  max-width: var(--settings-max-width);
}
._23e6b439306f125a-contentRegion .a45ed3bc8a11b547-tierImage {
  max-height: 459px;
}
._23e6b439306f125a-contentRegion .notificationSettings__4d38b {
  max-width: 600px;
}
._23e6b439306f125a-contentRegion ._23e6b439306f125a-contentRegionScroller {
  justify-content: space-between;
}
/*Borders for some elements*/
._23e6b439306f125a-contentRegion ._88a69141dd70013a-itemFilled[aria-checked=true] {
  background-color: var(--background-modifier-selected);
}
._23e6b439306f125a-contentRegion ._88a69141dd70013a-itemFilled[aria-checked=true]:hover {
  background-color: var(--background-modifier-selected-hover);
}
._23e6b439306f125a-contentRegion ._88a69141dd70013a-itemFilled[aria-checked=false] {
  background-color: var(--background-primary);
}
._23e6b439306f125a-contentRegion ._88a69141dd70013a-item {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--background-primary);
  border-radius: var(--border-radius-m);
  overflow: hidden;
}
._23e6b439306f125a-contentRegion ._88a69141dd70013a-item ._88a69141dd70013a-radioBar {
  padding: 9px !important;
}
._23e6b439306f125a-contentRegion .c7f964e7e0fc8b47-connection {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--background-primary);
  border-radius: var(--border-radius-m);
  overflow: hidden;
}
._23e6b439306f125a-contentRegion .connectContainer_c7f964,
._23e6b439306f125a-contentRegion ._50a5493e9d9cc496-searchContainer,
._23e6b439306f125a-contentRegion ._730694f5672c9601-cardPrimary._730694f5672c9601-outline {
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-m);
  overflow: hidden;
}
._23e6b439306f125a-standardSidebarView:has(._7df54e658bdcad78-socialLinks) {
  ._23e6b439306f125a-contentColumnDefault:not(.repoScroller_9JnAPs),
  ._23e6b439306f125a-contentColumnDefault.repoHeader_2KfNvH,
  ._23e6b439306f125a-contentColumnWide:not(.repoScroller_9JnAPs) {
    div:first-child > div:first-child > .sectionTitle__7bffb:first-child .b717a15017b82443-title::before, 
    div:first-child > div:first-child > h2.b717a15017b82443-title::before, 
    div:first-child > .e335a78803b4d1df-sectionTitle::before, 
    .b717a15017b82443-title::before, 
    & > h2:first-child::before, 
    & > h2:first-child::before, 
    & > .settingsTabBar_f62afd:first-child::before, 
    & > *:first-child > .dc2e0e7839a6713a-settingsTabBar::before {
      z-index: 0;
    }
  }
}
@media (max-width:800px) {
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer ._23e6b439306f125a-sidebarRegionScroller:hover {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer  {
    --settingsmodalwidth: 100%;
    --settingsmodalheight: 100%;
  }
  ._23e6b439306f125a-sidebarRegion {
    position: fixed;
    height: calc(100% - 32px);
    z-index: 2;
  }
  ._23e6b439306f125a-sidebarRegion:hover {
    box-shadow: var(--elevation-high);
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer  ._23e6b439306f125a-sidebarRegion {
    max-width: 56px !important;
    min-width: 56px;
    transition: var(--animation-duration-3) ease;
    z-index: 99;
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer  ._23e6b439306f125a-sidebarRegion:hover {
    min-width: 220px;
    box-shadow: var(--elevation-high);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer ._23e6b439306f125a-sidebar {
    padding: 10px !important;
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer ._23e6b439306f125a-sidebarRegionScroller {
    width: 100%;
    justify-content: flex-start;
  }
  #app-mount ._960e4207cea8323e-layer ~._960e4207cea8323e-layer  .header-2Kx1US {
    max-width: unset !important;
  }
  ._23e6b439306f125a-contentRegion {
    padding-left: calc(56px + 8px) !important;
  }
  ._23e6b439306f125a-contentColumn,
  ._23e6b439306f125a-customColumn {
    min-width: unset;
    width: 0;
  }
  ._23e6b439306f125a-contentColumnDefault {
    position: relative;
    padding: 60px 20px 80px !important;
  }
  .header-1zd7se {
    padding-top: var(--header-height);
  }
  ._23e6b439306f125a-toolsContainer {
    position: fixed;
    right: 0;
    top: 45px;
    padding: 0;
    margin: 0 !important;
  }
  ._23e6b439306f125a-contentRegionScroller::-webkit-scrollbar {
    width: 12px;
  }
  ._23e6b439306f125a-contentRegionScroller::-webkit-scrollbar-track {
    display: none;
  }
  .focusLock-2tveLW,
  ._49fc18ba07c5025f-root {
    height: fit-content;
    max-height: calc(100vh - 22px);
    max-width: 100vw;
    overflow: visible;
  }
  .imageWrapper__178ee + .bab7519355c8eed6-operations {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .imageWrapper__178ee + .bab7519355c8eed6-operations .downloadLink_aa8ea9:nth-child(1),
  .imageWrapper__178ee + .bab7519355c8eed6-operations .downloadLink_aa8ea9:nth-child(3) {
    border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .imageWrapper__178ee + .bab7519355c8eed6-operations .downloadLink_aa8ea9:nth-child(4n+1) {
    border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .imageWrapper__178ee + .bab7519355c8eed6-operations .downloadLink_aa8ea9 {
    top: 0;
    text-align: center;
    line-height: 20px;
  }
  .imageWrapper__178ee + .bab7519355c8eed6-operations .downloadLink_aa8ea9:not(.anchor-1MIwyf) {
    display: none;
  }
  ._49fc18ba07c5025f-fullscreenOnMobile {
    position: relative;
  }
  #bd-editor-controls {
    z-index: 1;
  }
  /* Other */
  ._2debea61131de3de-line,
  ._7df54e658bdcad78-socialLinks,
  .inner_fea832 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}