/*General Sidebar*/
.standardSidebarView_c25c6d .sidebarRegion_c25c6d {
	-ms-flex: 0;
	-ms-flex-pack: end;
	flex: 0;
	z-index: 1;
}
/*settings account area*/ /*Credit to DaBluLite#7409 for the idea and base css (I made some small changes to their snippet)*/
/*.background_b69b77 {
  background-color: transparent;
}
.fieldList_b69b77 {
  background-color: transparent;
}
.fieldList_b69b77 {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.field_b69b77 {
  order: 0;
  flex: 1 0 240px;
  border-radius: 8px;
  background-color: var(--back-seeting-account-cards);
  max-height: none;
  flex-flow: column;
  padding: 15px;
  display: inline-block;
  margin-top: 0 !important;
  position: relative;
  overflow-y: scroll;
  height: 125px;
}
.field_b69b77:nth-child(2) {
  order: 1;
}
.field_b69b77::-webkit-scrollbar {
  display: none;
}
.field_b69b77 .fieldButton_b69b77 {
  background-color: var(--back-seeting-account-cards-buttons);
  border-radius: 8px;
  transition: .3s;
}
.field_b69b77 .fieldButton_b69b77:hover {
  background-color: var(--back-seeting-account-cards-buttons-hover);
}
.field_b69b77 .fieldButton_b69b77:hover > div {
  background-image: none;
}
.field_b69b77 .fieldButton_b69b77:nth-child(1) {
  right: 5px;
}
.field_b69b77 .fieldButton_b69b77 {
  bottom: 10px;
  position: absolute;
}
.avatar_b69b77 ~ button {
  margin-right: 15px;
  border-radius: 8px;
}
.accountProfileCard_b69b77 .bannerSVGWrapper-qc0szY foreignObject {
  mask: none;
}
.accountProfileCard_b69b77 .avatar_b69b77 {
  top: unset;
}*/
/*General Content Area*/
.layer_d4b6c5  .contentRegion_c25c6d,
.layer_d4b6c5  .contentRegion_c25c6d .contentTransitionWrap_c25c6d {
	overflow: hidden;
}
.standardSidebarView_c25c6d .contentColumnDefault_c25c6d {
	padding: 20px 40px 80px;
}
.standardSidebarView_c25c6d .contentColumn_c25c6d,
.standardSidebarView_c25c6d .customColumn_c25c6d {
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	max-width: 100%;
	min-height: 100%;
	min-width: 460px;
}
.bdcompat-addon-panel-list .bd-addon-card,
.bd-addon-list .bd-addon-card {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 10px;
}
.bd-addon-list .bd-footer .bd-controls .bd-addon-button {
	background-color: var(--back-color-boxes);
}
.bd-addon-list .bd-footer .bd-controls .bd-button-danger {
	background-color: var(--back-color-danger-boxes);
}
/*Switches*/
.container-2nx-BQ[style*="hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"],
.bd-switch-body {
	background: var(--switch-off) !important;
}
.container-2nx-BQ[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.bd-switch input:checked + .bd-switch-body {
	background: var(--switch-on) !important;
}
/*settingsIcons*/
[aria-label="USER_SETTINGS"] .sidebar_c25c6d {
	width: 218px;
}
/*Sidebar*/
.sidebar_c25c6d {
	padding-top: 30px;
}
/*profile banner*/
.accountProfileCard_b69b77 > .UserBackgrounds-banner-container {
	height: 400px;
}
.accountProfileCard_b69b77 > .UserBackgrounds-banner-container > :last-child {
	width: 100%;
	background: center / cover;
	height: 100%;
}
#app-mount [aria-label="USER_SETTINGS"] .UserBackgrounds-banner-container {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}
/*Profile crad in settings*/
#app-mount [aria-label="USER_SETTINGS"] .background_b69b77,
#app-mount [aria-label="USER_SETTINGS"] .userInfo_b69b77 {
	position: relative;
}
.userInfo_b69b77 {
	margin-bottom: 50px;
}
#app-mount
	[aria-label="USER_SETTINGS"]
	.userInfo_b69b77
	.accountSettingsAvatar {
	top: 0;
}
/*Compat lists (BD, PC, Kernel) + styling cards*/
#app-mount .holy-settings-panel .holy-settings-card-scroller,
#app-mount .kernel-card-scroller,
#app-mount .pc-settings-panel .pc-settings-card-scroller,
#app-mount .bd-addon-list.bd-grid-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1px;
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-radius: 15px;
	overflow: hidden;
	background-color: rgb(var(--border-color-1), var(--border-opacity-1));
}
#app-mount
	.holy-settings-panel
	.holy-settings-card-scroller
	.holy-card-container,
#app-mount .kernel-card-scroller .kernel-card,
#app-mount
	.pc-settings-panel
	.pc-settings-card-scroller
	.pc-settings-addon-card,
#app-mount .bd-addon-list.bd-grid-view > .bd-addon-card {
	border-radius: 0 !important;
	background-color: black;
	border: 0;
}
#app-mount .kernel-card-scroller .kernel-card,
#app-mount .holy-card-container,
.pc-settings-addon-card,
.bd-addon-list.bd-grid-view > div {
	margin: 0;
	flex: 1 1 400px;
}
.bd-addon-card .bd-addoncard-header .bd-addoncard-info {
	flex-wrap: wrap;
	row-gap: 5px;
}
.bd-addon-card .bd-addoncard-header .bd-addoncard-info + .container-2nx-BQ {
	flex: 0 0 40px;
}
#app-mount .kernel-card,
#app-mount .holy-card-container {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	background: var(--user-popout);
}
#app-mount .holy-card-container,
.kernel-card-scroller .kernel-card {
	padding: 0;
}
.kernel-card-scroller .kernel-card-header {
	padding: 10px;
}
.kernel-footer,
.kernel-card-scroller .kernel-card-desc {
	padding: 10px;
	padding-top: 0;
}
#app-mount .holy-card-container .holy-card-header {
	padding: 10px;
}
#app-mount .kernel-card .kernel-card-header,
#app-mount .holy-card-container .holy-card-header {
	background: var(--background-secondary-alt);
}
#app-mount .kernel-card .kernel-card-tools {
	top: 0;
	right: 0;
	padding: 3px;
	background-color: transparent;
	border: 0;
}
#app-mount .holy-card-container .holy-card-description {
	background: none;
}
.holy-card-container .holy-card-footer .holy-card-controls {
	padding: 10px;
	padding-top: 0;
	padding-left: 0;
}
#app-mount .pc-settings-addon-card {
	border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	overflow: hidden;
	margin: 0;
}
#app-mount .pc-settings-addon-card::before {
	content: "";
	inset: 0;
	position: absolute;
	border-left: 4px solid var(--plugin-color);
	pointer-events: none;
}
#app-mount [class*="bdcompat-settings"] svg,
#app-mount [class*="pccompat-settings"] svg {
	transform: scaleX(1);
}
#app-mount .bd-addon-list > .bd-addon-card.bd-addon-card-disabled {
	background-color: rgb(61, 0, 0);
}
