.app_a01fb1::before {
	display: block;
}
.app_a01fb1::before {
	content: "theme outdated, please redownload from https://lolpowerluke.github.io/";
	display: var(--version-1-2-2);
	color: #fff;
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: rgb(22, 22, 22);
	border-top: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	z-index: 999999;
}