._5e434347c823b592-base::before {
	display: block;
}
._5e434347c823b592-base::before {
	content: "theme outdated, please redownload from https://lolpowerluke.github.io/bd-stuff/bd.html";
	/* display: var(--version-1-3-7); */
	color: #fff;
	position: relative;
  grid-area: notice;
	text-align: center;
	padding: 10px;
	background-color: var(--update-banner-background);
}
/*Update notice plugins*/
.bd-notice {
  background: transparent;
  border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
}