.app__160d8::before {
	display: block;
}
.app__160d8::before {
	content: "theme outdated, please redownload from https://lolpowerluke.github.io/bd-stuff/bd.html";
	display: var(--version-1-3-5-4);
  grid-area: notice;
	color: #fff;
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: rgb(22, 22, 22);
	border-bottom: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
	z-index: 999999;
}