.app-2rEoOp::before {
  display: block;
}
.app-2rEoOp::before {
  content: "theme outdated, please redownload from https://lolpowerluke.github.io/bd-site";
  display: var(--version-1-1-0);
  color:#fff;
  position:relative;
  text-align: center;
  padding: 10px;
  background-color: blue;
  z-index:999999;
}
