.panels-j1Uci_::before {
  display: block;
}
.panels-j1Uci_::before {
  content: "theme outdated, please update https://github.com/lolpowerluke/ discordtheme/blob/main/ alanWalker.theme.css";
  display: var(--version-1-0-7);
  color:#fff;
  position:relative;
  left:0px;
  bottom:0px;
  max-width:240px;
  z-index:999999;
}
