html:not(.visual-refresh-chat-input) {
  /*Text Area*/
  ._740174f3d6a2c8fe-scrollableContainer ._908e20001ad67812-divider {
    display: none;
  }
  ._740174f3d6a2c8fe-scrollableContainer ._908e20001ad67812-divider::after {
    display: none;
  }
  ._36d072eab2b2e737-messagesWrapper {
    margin-bottom: 8px;
  }
  ._36d072eab2b2e737-messagesWrapper ._36d072eab2b2e737-scrollerSpacer {
    height: 22px;
  }
  html #app-mount ._740174f3d6a2c8fe-scrollableContainer {
    background: transparent;
  }
  ._740174f3d6a2c8fe-scrollableContainer > .b77158512e0ab116-channelAttachmentArea {
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    border-radius: var(--border-radius-s);
    overflow-x: overlay;
    padding: 5px;
    margin: 5px;
    gap: 5px;
    margin-top: 0;
    background-color: transparent;
    outline: unset;
    
    .aa605f19898fe32e-upload {
      background: transparent;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-s);
      padding: 5px;
      
      .aa605f19898fe32e-uploadContainer {
        gap: 5px;

        ._41ea06378162693a-mediaContainer {
          margin: 0;
          
          ._41ea06378162693a-clickableMedia {
            border-radius: var(--border-radius-s);
          }
        }
        .aa605f19898fe32e-actionBarContainer {
          position: relative;
          order: -1;

          .aa605f19898fe32e-actionBar {
            position: relative;
            transform: unset;

            .f7ecaca5c80dbf3a-wrapper {
              background: transparent;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              box-shadow: unset;
              border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
            }
          }
        }
      }
    }
  }
  .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-buttons {
    margin-right: 4px;
  }
  ._740174f3d6a2c8fe-scrollableContainer,
  .f75fb00fb7356cbe-channelTextArea {
    background: none;
    border-radius: unset;
  }
  ._740174f3d6a2c8fe-inner {
    border-width: 1px 0 0 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    transition: border-color var(--animation-duration-3), background-color var(--animation-duration-3);
    border-radius: var(--border-radius-0);
  }
  ._5126c0cd07f243a0-messageListItem ._740174f3d6a2c8fe-channelTextArea ._740174f3d6a2c8fe-inner {
    background-color: var(--channeltextarea-background);
    border-radius: var(--border-radius-m);
    border-width: 1px;
    border-color: rgb(var(--border-color-1), var(--border-opacity-1));
    padding-right: 10px;
  }
  .f75fb00fb7356cbe-channelBottomBarArea:focus-within ._740174f3d6a2c8fe-inner,
  .f75fb00fb7356cbe-channelBottomBarArea:hover ._740174f3d6a2c8fe-inner {
    background-color: var(--channeltextarea-background);
    border-color: rgb(var(--border-color-1), var(--border-opacity-1));
  }
  .f75fb00fb7356cbe-form:before {
    display: none;
  }
  @media (max-width: 800px) {
    .f75fb00fb7356cbe-form {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 400px) {
    .f75fb00fb7356cbe-channelBottomBarArea ._740174f3d6a2c8fe-buttons {
      display: none;
    }
    .f75fb00fb7356cbe-form {
      margin-left: 0;

      ._740174f3d6a2c8fe-inner {
        padding-left: calc(calc(var(--space-16) - 10px) + var(--custom-guild-list-width));
      }
    }
  }
  ._44df51b030bd5ece-wrapper {
    margin-bottom: 0;
    border-radius: var(--border-radius-0);
    padding: 16.5px 0;
  }
  .f75fb00fb7356cbe-form {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
  .f75fb00fb7356cbe-channelTextArea {
    margin-bottom: 0;
    border-radius: var(--border-radius-0);
    height: fit-content;
    border: 0;
  
    ._740174f3d6a2c8fe-themedBackground {
      overflow-y: hidden;
      height: fit-content;
    
      &._740174f3d6a2c8fe-scrollableContainer > ._740174f3d6a2c8fe-inner {
        height: fit-content;
        overflow: hidden scroll;
        max-height: var(--custom-channel-textarea-text-area-max-height);
        align-items: flex-start;
    
        ._0923f156a0410684-attachWrapper {
          height: fit-content;
          position: sticky;
          top: 0;
        }
      }
    }
  }
  .webkit__8d35a ._740174f3d6a2c8fe-buttons {
    margin-right: 4px;
  }
  .b8880176888cc928-base {
    position: absolute;
    width: calc(100% - 16px);
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
    top: -24px;
    left: 0;
    background: var(--bg-overlay-chat, var(--background-primary));
  }
  .b8880176888cc928-base > .b216994de061a9e2-cooldownWrapper {
    margin: 0;
    position: static;
  }
  ._740174f3d6a2c8fe-scrollableContainer {
    border-radius: var(--border-radius-0);
  }
  ._740174f3d6a2c8fe-scrollableContainer > ._740174f3d6a2c8fe-inner {
    align-items: center;
  }
  @media (max-width: 800px) {
    ._740174f3d6a2c8fe-scrollableContainer > ._740174f3d6a2c8fe-inner {
      min-height: 48px;
    }
  }
  ._0923f156a0410684-attachWrapper {
    display: flex;
    position: static;
    align-items: center;
  }
  ._740174f3d6a2c8fe-stackedBars {
    border-radius: var(--border-radius-0);
  }
  .channelAppLauncher_e6e74f {
    margin: 0px;
  }
  .channelAppLauncher_e6e74f .e6e74fd4d1221f53-button {
    background: unset;
  }
  /* .channelAppLauncher_e6e74f {
    height: 54px;
    box-sizing: border-box;
    margin-top: auto;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: transparent;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: background var(--animation-duration-3), border-color var(--animation-duration-3);
  } */
  .entryPointButtonContainer_f75fb0 {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: transparent;
    transition: background var(--animation-duration-3), border-color var(--animation-duration-3);

    ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand {
      margin: 0;
      height: 100%;
      padding: 5px 20px;
      width: fit-content;
      min-width: unset;
      min-height: unset;
    }
  }
  @media (max-width: 800px) {
    .channelAppLauncher_e6e74f {
      height: 48px;
    }
  }
  .channelAppLauncher_e6e74f .e6e74fd4d1221f53-buttonContainer .e6e74fd4d1221f53-button,
  .channelAppLauncher_e6e74f .e6e74fd4d1221f53-buttonContainer {
    margin-top: 0;
    width: 24px;
  }
  .channelAppLauncher_e6e74f .e6e74fd4d1221f53-buttonContainer {
    margin-right: 11px;
  }
  .f75fb00fb7356cbe-channelBottomBarArea:focus-within .entryPointButtonContainer_f75fb0,
  .f75fb00fb7356cbe-channelBottomBarArea:hover .entryPointButtonContainer_f75fb0 {
    background-color: var(--channeltextarea-background);
    border-color: rgb(var(--border-color-1), var(--border-opacity-1));
  }
  .f75fb00fb7356cbe-channelTextArea ._1b31f471f0bb10ab-placeholder {
    color: var(--chatbar-placeholder-color);
  }
}