.layerContainer__59d0d {
  .scrim_d9cec8 {
    background: rgba(0, 0, 0, var(--backdrop-opacity)) !important;
  }
  .scrim_d9cec8 + .layer_bc663c .focusLock__49fc1 .root__49fc1 {
    border: 0;
  }
  .focusLock__49fc1 .root__49fc1 {
    background: transparent;

    .inner_c0bea0 {
      padding: 16px 12px 0 16px;
      gap: 15px;

      .container__37bfc {
        padding: 0;
        padding-top: 16px;
        margin: 0;

        .tabPanelScroller__37bfc,
        & > * {
          padding: 0;
          margin: 0;
        }
        .headings_bf424d,
        .tabListScroller__37bfc {
          padding-left: 4px;
        }
        .overlay_c0bea0 {
          border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        }
      }
    }
    /* Colors */
    .outer_c0bea0 {
      --prof-grad-start: color-mix(in oklab, var(--profile-gradient-primary-color), var(--user-popout-gradient-color-mix-addition));
      --prof-grad-end: color-mix(in oklab, var(--profile-gradient-secondary-color), var(--user-popout-gradient-color-mix-addition));
      background: linear-gradient(var(--prof-grad-start), var(--prof-grad-start) var(--custom-user-profile-banner-height), var(--prof-grad-end));
      backdrop-filter: unset;
      outline: unset;
      border-radius: 0;

      .inner_c0bea0 {
        --prof-grad-overlay-start: color-mix(in oklab, var(--profile-gradient-overlay-color), transparent);
        --prof-grad-overlay-end: color-mix(in oklab, var(--profile-gradient-overlay-color), transparent);
        background: linear-gradient(var(--prof-grad-overlay-start), var(--prof-grad-overlay-start) var(--custom-user-profile-banner-height), var(--prof-grad-overlay-end));

        .profile__9c3be {
          --prof-grad-start: color-mix(in oklab, var(--profile-gradient-primary-color), var(--user-popout-gradient-color-mix-addition));
          --prof-grad-end: color-mix(in oklab, var(--profile-gradient-secondary-color), var(--user-popout-gradient-color-mix-addition));
          background: linear-gradient(var(--prof-grad-start), var(--prof-grad-start) var(--custom-user-profile-banner-height), var(--prof-grad-end));
          backdrop-filter: blur(2px);
        }
      }
    }
  }
}
@media (min-width: 1001px) {
  .layerContainer__59d0d {
    .focusLock__49fc1 .root__49fc1 {
    }
  }
}

@media (max-width: 1000px) and (min-width: 751px) {
  .layerContainer__59d0d {
    .focusLock__49fc1 .root__49fc1 {
    }
  }
}
@media (max-width: 750px) and (min-width: 551px) {
  .layerContainer__59d0d {
    .focusLock__49fc1 .root__49fc1,
    .focusLock__49fc1 .root__49fc1 .outer_c0bea0,
    .focusLock__49fc1 .root__49fc1 .inner_c0bea0 {
      border-radius: var(--border-radius-0);
    }
    .focusLock__49fc1 .root__49fc1 {
      .outer_c0bea0 {
        height: fit-content;
        max-height: calc(100vh - 200px);
        border-width: 1px 0 1px 0;
        overflow: visible;
      }
      .inner_c0bea0 {
        flex-direction: column;
        overflow: hidden scroll;
        padding-right: 8px;

        .tabPanelScroller__37bfc {
          overflow: hidden !important;
        }
        .profile__9c3be {
          width: 100%;
          border-radius: var(--border-radius-xl);
          overflow: visible;
          z-index: 1;
        }
        .top_b3f026 .item_b3f026.selected_b3f026:after, .top_b3f026 .item_b3f026:hover:after {
          z-index: 0;
        }
        .banner__68edb {
          border-radius: 0;
        }
        .tabBarPanel__37bfc,
        .container__37bfc {
          overflow: visible;
          height: fit-content;

          .cards__764cd {
            padding-bottom: 16px;
          }
        }
        .profileHeader__9c3be {
          min-height: unset;

          .content_ab8609 {
            max-height: unset !important;
          }
        }
        .profileBody__9c3be {
          margin: 0;
          padding: 4px 16px 8px 16px;
          gap: 16px;
        }
        .referenceContainer_ab8609 {
          display: none;
        }
        .profileHeader__9c3be .mask__68edb foreignObject {
          mask: unset;
        }
        .avatar__75742 {
          padding: 10px;
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
          background-color: var(--prof-grad-start);

          .mask__44b0c circle {
            fill: var(--prof-grad-start);
          }
        }
        .profileBody__9c3be {
          display: grid;
          grid-template-columns: 1fr 1fr;
          overflow: visible !important;

          .profileButtons__9c3be {
            justify-self: end;
            align-items: end;
          }
          .markup__75297,
          .section_bf424d {
            grid-column: -1/1;
          }
          .section_bf424d .profileAppConnections__9c3be {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .connection__9bfb9 {
              height: fit-content;

              .metadata__9bfb9,
              .anchor_edefb8 + .text-xs\/normal_cf4812 {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .layerContainer__59d0d {
    .focusLock__49fc1 .root__49fc1,
    .focusLock__49fc1 .root__49fc1 .outer_c0bea0,
    .focusLock__49fc1 .root__49fc1 .inner_c0bea0 {
      border-radius: var(--border-radius-0);
    }
    .focusLock__49fc1 .root__49fc1 {
      .outer_c0bea0 {
        height: fit-content;
        max-height: calc(100vh - 200px);
        border-width: 1px 0 1px 0;
        overflow: visible;
      }
      .inner_c0bea0 {
        flex-direction: column;
        overflow: hidden scroll;
        padding: 8px 0 0 8px;

        .tabPanelScroller__37bfc {
          overflow: hidden !important;
        }
        .profile__9c3be {
          width: 100%;
          border-radius: var(--border-radius-xl);
          overflow: visible;
          z-index: 1;
        }
        .top_b3f026 .item_b3f026.selected_b3f026:after, .top_b3f026 .item_b3f026:hover:after {
          z-index: 0;
        }
        .banner__68edb {
          border-radius: 0;
        }
        .tabBarPanel__37bfc,
        .container__37bfc {
          overflow: visible;
          height: fit-content;

          .cards__764cd {
            padding-bottom: 8px;
          }
        }
        .profileHeader__9c3be {
          min-height: unset;

          .content_ab8609 {
            max-height: unset !important;
          }
        }
        .profileBody__9c3be {
          margin: 0;
          padding: 4px 16px 8px 16px;
          gap: 16px;
        }
        .referenceContainer_ab8609 {
          display: none;
        }
        .profileHeader__9c3be .mask__68edb foreignObject {
          mask: unset;
        }
        .avatar__75742 {
          padding: 5px;
          left: 10px;
          top: 10px;
          background-color: var(--prof-grad-start);

          .mask__44b0c circle {
            fill: var(--prof-grad-start);
          }
          .wrapper__44b0c {
            width: 60px !important;
            height: 60px !important;

            .mask__44b0c foreignObject,
            .mask__44b0c {
              width: 100%;
              height: 100%;
            }
            .mask__44b0c rect {
              x: 100;
              y: 100;
            }
            .mask__44b0c rect[mask*="mobile"] {
              x: 100;
              y: 86;
            }
          }
        }
        .container_ab8609 {
          left: unset;
          right: 10px;
          top: 10px;

          .outer_ab8609:after,
          .outer_ab8609:before {
            display: none;
          }
        }
        .profileBody__9c3be {
          .profileButtons__9c3be {
            justify-self: end;
            align-items: end;
          }
          .section_bf424d .profileAppConnections__9c3be {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .connection__9bfb9 {
              height: fit-content;

              .metadata__9bfb9,
              .anchor_edefb8 + .text-xs\/normal_cf4812 {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .layerContainer__59d0d {
    .focusLock__49fc1 .root__49fc1 {
      .inner_c0bea0 {
        .profileBody__9c3be {
          gap: 8px;

          .section_bf424d .profileAppConnections__9c3be {
            grid-template-columns: 1fr;
            gap: 8px;
          }
        }
      }
    }
  }
}