/*Message Stuff*/
#app-mount .scrollerContent__36d07 .message__5126c {
  transition: background-color var(--animation-duration-2);
}
#app-mount .scrollerContent__36d07 .message__5126c:hover {
  background-color: var(--message-hover);
}
/*Message Hover Buttons*/
.message__5126c:hover .buttons__5126c {
  opacity: 1;
  pointer-events: auto;
}
.buttons__5126c {
  transition: opacity var(--animation-duration-2);
}
@media (max-width: 800px) {
  /*Message Stuff*/
  .cozy_c19a55.wrapper_c19a55 .StatusEverywhereV2-Avatar,
  .cozy_c19a55.wrapper_c19a55 .avatar_c19a55 {
    transform: scale(0.75);
    left: 4px;
  }
  .cozy_c19a55.wrapper_c19a55 {
    padding-left: 50px;
  }
  /*Message Hover Buttons*/
  .buttons__5126c {
    transform: scale(0.75);
    transform-origin: right;
  }
}
/*Jump te present bar*/
#app-mount .jumpToPresentBar__0f481 {
  background-color: var(--jump-to-present-bar);
  backdrop-filter: blur(2px);
  border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
  min-height: unset;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--jump-to-present-bar-hover);
  }
  &::before {
    content: unset;
  }
}