.visual-refresh {
  .panels_c48ade {
    grid-area: panels;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    background: transparent;

    .container__37e49 {
      padding: 0;
      border-top: 1px solid transparent;
      transition: background var(--animation-duration-3), border var(--animation-duration-3);
      height: 53px;
      box-sizing: border-box;

      &:hover {
        border-top-color: rgba(var(--border-color-1), var(--border-opacity-1));
        background-color: var(--back-user-area);
      }
      .avatarWrapper__37e49 {
        background: transparent;
        padding: var(--space-6) var(--space-8);
        margin: 0;

        .wrapper__44b0c {
          width: 32px !important;
          height: 32px !important;

          .mask__44b0c {
            width: 40px;
            height: 40px;
          }
        }
        .nameTag__37e49 {
          margin: 0;
        }
      }
    }
  }
}