.visual-refresh {
  /*Background Selected DM*/
  /*DM-list*/
  .channel__972a0:hover {
    box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
    background-color: var(--back-selected-dm);
  }
  .channel__972a0 {
    box-shadow: 0px;
    transition: box-shadow var(--animation-duration-4), background-color var(--animation-duration-5);
    border-radius: var(--border-radius-xxl);
    background-color: transparent;
    overflow: hidden;

    .iconsContainer__972a0 {
      padding-left: 0;
    }
  }
  .icon_c9d15c {
    color: white;
  }
  #app-mount .wrapper__2ea32.modeSelected__2ea32 .link__2ea32,
  #app-mount .channel__972a0 .selected_bf202d {
    background: var(--back-selected-dm-pic);
    background-color: transparent;
    background-size: cover;
    background-position: var(--back-pos-dm);

    .name__2ea32,
    .subText__20a53,
    .name__20a53 {
      color: var(--dm-selected-color);
    }
  }
  #app-mount .wrapper__2ea32 .link__2ea32,
  #app-mount .interactive_bf202d {
    background-color: transparent;
  }
  #app-mount .wrapper__2ea32 .link__2ea32,
  #app-mount .dm__972a0 .interactive_bf202d {
    
    .name__2ea32,
    .subText__20a53,
    .name__20a53 {
      color: var(--dm-color);
    }
  }
  #app-mount .wrapper__2ea32.modeUnreadImportant__2ea32 .link__2ea32,
  #app-mount .dm__972a0 .interactive_bf202d .highlighted__20a53 {
    
    .name__2ea32,
    .subText__20a53,
    .name__20a53 {
      color: var(--dm-unread-color);
    }
  }
  #app-mount .wrapper__2ea32.modeMuted__2ea32 .link__2ea32,
  #app-mount .interactive_bf202d.muted_bf202d {
    background-color: transparent;
    
    .icon__2ea32,
    .name__2ea32,
    .subText__20a53,
    .name__20a53 {
      color: var(--dm-muted-color);
    }
  }
  /*Server Channels*/
  .sidebarList_c48ade {
    .container__2637a > .scroller__629e4 {
      overflow-y: overlay !important;
      scrollbar-gutter: stable;
      margin: 0;
    }
    .numberBadge__2b1f5 {
      background-color: var(--mentioned-badge) !important;
    }
    &:not(:hover) {
      .numberBadge__2b1f5 {
        width: fit-content !important;
        height: 14px;
        min-width: unset;
        min-height: unset;
        padding: 0 5px !important;
        font-size: 10px;
      }
      li:not(.containerDefault__29444) {
        .linkBottom__2ea32 {
          .overflow__82b15 {
            display: none;
          }
        }
      }
      li.containerDefault_c69b6d {
        .draggable__55bab + .draggable__55bab {
          display: none;
        }
      }
      .newChannel__599fa {
        position: absolute;
        padding: 0;
        right: -7px;
        font-size: 0;
        height: 14px;
        width: 14px;
        min-height: unset;
        min-width: unset;
        
        &::after {
          content: "N";
          inset: 0;
          position: absolute;
          font-size: 10px;
        }
      }
      .children__2ea32 {
        position: absolute;
        right: -16px;
    
        .channelInfo_c69b6d {
          border: 0;
          margin: 0;
      
          .wrapper__260e1 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            height: fit-content;
            line-height: unset;

            & > * {
              width: fit-content;
              font-size: 9px;
              padding: 2px;

              &::after,
              &::before {
                display: none;
              }
            }
            .users__260e1 {
              border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
            }
          }
        }
      }
    }
    &:hover {
      .container__2637a .content__99f8c {
        .voiceChannelsButton__29444 {
          .defaultColor__4bd52 {
            transform: translateX(0);
            opacity: 1;
          }
        }
        .listCollapse__07f91 {
          flex-wrap: nowrap;
        }
      }
    }
    .container__2637a .content__99f8c {
      padding: 0 0 0 8px;

      .containerDefault__29444 {
        padding-top: calc(var(--custom-category-channel-space-before-category) / 2);
      }
      .containerDefault_c69b6d {
        .children__2ea32 > .iconItem_c69b6d {
          display: none;
        }
        &:hover {
          .children__2ea32 > .iconItem_c69b6d {
            display: block;
          }
        }
      }
      & > div:not([style]):not(.sectionDivider__629e4),
      & > li:where(:not(.containerDefault__29444, .container__5b40b)) {
        border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        border-radius: var(--border-radius-0);
        margin-top: -1px;
        transition: border-color var(--animation-duration-3), box-shadow var(--animation-duration-3);

        &:hover {
          border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
          box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
          border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
    
          & + li,
          & + div,
          & + div[style] + li,
          & + .sectionDivider__629e4 + li,
          & + .sectionDivider__629e4 + div[style] + li {
            border-top-color: transparent;
          }
        }
        .list_c3cd7d {
          padding: 0;
          width: 100%;

          .voiceUser__07f91 {
            margin: 0;
          }
        }
      }
      & > .containerDefault__29444 + .voiceUserSummary__629e4,
      & > div[style] + li:not(.containerDefault__29444, .containerDefault_c69b6d),
      & > .containerDefault__29444 + li:not(.containerDefault__29444) {
        border-top-left-radius: var(--border-radius-m);
        border-top-right-radius: var(--border-radius-m);
      }
      & > div:not([style]):where(:has(+ div:not([style]))),
      & > li:not(.containerDefault__29444):where(:has(+ div:not([style], .sectionDivider__629e4))),
      & > li:not(.containerDefault__29444):where(:has(+ li:not(.containerDefault__29444))) {
        border-bottom-color: transparent;
      }
      & > .voiceUserSummary__629e4:has(+ .containerDefault__29444),
      & > li:not(.containerDefault__29444):has(+ .sectionDivider__629e4),
      & > div:not([style]):last-child,
      & > li:not(.containerDefault__29444):last-child,
      & > li:not(.containerDefault__29444):has(+ .containerDefault__29444) {
        border-bottom-left-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
      & > li:has(+ .sectionDivider__629e4 + [style] + .containerDefault_c69b6d),
      & > li:not([class]):has(+ .sectionDivider__629e4 + [style]) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
      }
      & > .containerDefault_c69b6d:hover + .container__5b40b {
        li.containerDefault_c69b6d:first-of-type {
          border-top-color: transparent;
        }
      }
    }
    .voiceChannelsButton__29444 {
      display: grid;
      grid-template-columns: 16px 1fr;
      margin: 0;
      gap: 8px;
      justify-content: flex-start;
      overflow: hidden;

      .voiceChannelsToggleIcon__29444 {
        width: 16px;
        height: 16px;
        margin: 0;
      }
      .defaultColor__4bd52 {
        text-wrap: nowrap;
        transform: translateX(var(--channel-name-no-hover-margin, 15px));
        opacity: var(--channel-name-no-hover-opacity, 0);
        transition: transform var(--animation-duration-2), opacity var(--animation-duration-3);
      }
    }
    .listCollapse__07f91 {
      flex-wrap: nowrap;
    }
    .container__5b40b {
      &:hover {
        & + .containerDefault_c69b6d {
          border-top-color: transparent;
        }
      }
      &:not(:hover) {
        li.containerDefault_c69b6d:last-child {
          border-bottom-color: transparent;
        }
      }
      &:has(+ .containerDefault__29444) ul .containerDefault_c69b6d:last-child {
        border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
        border-bottom-left-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
      &:has(+ .containerDefault_c69b6d:hover) {
        li.containerDefault_c69b6d:last-child {
          border-bottom-color: transparent;
        }
      }
      li.containerDefault_c69b6d {
        border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        border-radius: var(--border-radius-0);
        margin-top: -1px;
        transition: border-color var(--animation-duration-3), box-shadow var(--animation-duration-3);

        &::after {
          display: none;
        }
        &:has(+ .containerDefault_c69b6d) {
          border-bottom-color: transparent;
        }
        &:hover {
          border-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
          box-shadow: inset 0 0 10px rgba(var(--border-color-hover), var(--border-opacity-hover));
          border-bottom-color: rgba(var(--border-color-hover), var(--border-opacity-hover));
    
          & + li,
          & + div {
            border-top-color: transparent;
          }
        }
      }
      .spineBorder__5b40b {
        left: 15px;
        bottom: 23px !important;
      }
      .spine__5b40b {
        left: 14px;
      }
      & + li.containerDefault_c69b6d {
        border-radius: var(--border-radius-0);
      }
    }
    .voiceUserSummary__629e4 {
      padding: 0 8px;
    }
    .containerWithMargin_eff079,
      .wrapper__2ea32 {
        margin: 0;
        padding: 0;
      }
    .containerWithMargin_eff079::after,
    .sectionDivider__629e4,
    .sectionDivider__629e4 + div[style] {
      display: none;
    }
  }
  /* Channels & Roles tab */
  .container__0b563,
  .pageBody__41ed7 {
    background: transparent !important;
  }
  .container__0b563 {
    .pageBody__5d7c9,
    .content__99f8c {
      padding: 0;
    }
    .prompt__5d7c9,
    .scroller__5d7c9,
    .pageBody__41ed7 {
      padding: 5px !important;
    }
    .tabBar__0b563 {
      margin: 0;
      padding-left: 32px;
      border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

      .item_b3f026 {
        margin: 0;
        padding: 16px 0;
      }
    }
    .pageBody__5d7c9 > div:not([class]) {
      padding: 10px 0 0 10px;
    }
    .header__41ed7 {
      margin: 0;
    }
    .prompt__5d7c9 {
      gap: 5px;
      border-radius: var(--border-radius-m);

      .promptOptions__5d7c9 {
        gap: 5px;

        .optionButtonWrapper__270d7 {
          border-radius: var(--border-radius-m);
        }
      }
      .promptTitle__5d7c9 {
        padding: 5px 0 0 10px;
      }
      .helpText__5d7c9 {
        padding-left: 10px;
      }
    }
    .optionButtonWrapper__270d7,
    .prompt__5d7c9,
    .search__41ed7,
    .channelRow_e4503a {
      background: var(--channels-roles-options-bg);
      border-color: rgba(var(--border-color-1), var(--border-opacity-1));
    }
    .firstChannel_e4503a {
      border-top-left-radius: var(--border-radius-m);
      border-top-right-radius: var(--border-radius-m);
    }
    .lastChannel_e4503a {
      border-bottom-left-radius: var(--border-radius-m);
      border-bottom-right-radius: var(--border-radius-m);
    }
    .categoryRow_e4503a {
      padding: 16px 10px 4px 10px;
    }
    .inner_a45028 {
      padding: 0;

      .input_a45028 {
        height: 100%;
        padding: 10px 12px;
      }
      .iconLayout_a45028 {
        padding: 10px 12px 10px 0;
        height: 100%;
        width: fit-content;
      }
    }
  }
  /* Members Tab */
  .mainTableContainer__09a38 {
    border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
  .paginationContainer_e8f197,
  .table_b4ec0b {
    border-top: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  }
}