.visual-refresh .app__160d8 {
  display: grid;
  grid-template-areas: 
    'sidebar notice notice'
    'sidebar channelTabs channelTabs'
    'sidebar chat_header titlebar'
    'sidebar chat chat';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(3, auto) 1fr;

  .page_c48ade,
  .page_c48ade > div,
  .layers__160d8,
  .layer__960e4.baseLayer__960e4,
  .container_c48ade,
  .base_c48ade,
  .container__133bf,
  .applicationStore_f07d62,
  .applicationStore_f07d62 .homeWrapper__0920e,
  .container_ad5cdf,
  .shop__6db1d,
  .shopScroll__6db1d,
  .shopViewWrapper__6db1d.visible__6db1d,
  .chat_f75fb0,
  .content_c48ade {
    display: contents !important;
    grid-column: unset;
    grid-row: unset;
    grid-area: unset;
  }
  .bar_c38106 {
    width: fit-content;
    grid-area: titlebar;
    padding: 0;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
  
    .trailing_c38106 {
      gap: 4px;
    }
    .title_c38106 {
      display: none;
    }
  }
  .guilds_c48ade {
    height: calc(100vh - var(--guild-margin-bottom) - 62px);
    margin-bottom: var(--guild-margin-bottom);
    margin-top: 62px;

    .tutorialContainer__1f388 {
      position: fixed;
      top: 8px;

      & + .listItem__650eb {
        position: fixed;
        top: 54px;
      }
    }
  }
  #bd-notices {
    grid-area: notice;
  }
  #channelTabs-container {
    grid-area: channelTabs;
  }
  .sidebarList_c48ade {
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));

    .scroller__99e7c {
      margin-bottom: 0;
    }
  }
  .sidebarList_c48ade:hover ~ .panels_c48ade {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)) !important;
  }

  
  .guilds_c48ade .scroller_ef3116 {
    grid-area: guild_list;
  }
  .sidebar_c48ade {
    grid-area: sidebar;
    display: grid;
    grid-template-areas: 
        "guildsList channelsList"
        "guildsList panels";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    width: fit-content !important;

    .sidebarListRounded_c48ade {
      backdrop-filter: unset;
      border-radius: 0;
    
      .searchBar__35e86 {
        width: 100%;
        border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    
        button {
          min-width: unset;
          padding: 2px 10px;
        }
      }
    }
  }
  .container__133bf {
    border: 0;
  
    .container__9293f {
      border-bottom: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
    }
  }
  .container__9293f,
  .subtitleContainer_f75fb0 {
    grid-area: chat_header;
    -webkit-app-region: drag;
  }
  .container__6f73d,
  .shopViewWrapper__6db1d,
  .shop__08415,
  .pageWrapper__6db1d,
  .applicationStore_f07d62 .scroller_c880e8,
  .libraryHeader__5a895 ~ .scroller__4a84a,
  .tabBody__133bf,
  .content_f75fb0 {
    height: 100%;
    grid-area: chat;
  }
  .messagesWrapper__36d07 {
    height: 100vh;
  }
  .wrapper_cb9592 {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: transparent;
    z-index: 5;
    height: fit-content !important;
    width: fit-content !important;
    max-height: unset !important;
    min-height: var(--call-min-height) !important;
    min-width: var(--call-min-width);

    .callContainer_cb9592 {
      resize: both;
      border: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
      border-radius: var(--border-radius-m);
      background-color: transparent;
      backdrop-filter: blur(2px);
      min-height: var(--call-min-height);
      min-width: var(--call-min-width);

      .root_bfe55a {
        background-color: transparent;
        background-color: var(--background-primary);
      }
    }
    .channelChatWrapper_cb9592,
    .resizeHandle__4b144 {
      display: none;
    }
  }
  .layer__960e4.baseLayer__960e4[aria-hidden="true"] * {
    opacity: 0;
    pointer-events: none;
  }
}
.visual-refresh .sidebar_c48ade:after {
  display: none;
}