.visual-refresh {
  /*base layout*/
  .base_c48ade {
    display: block;

    .content_c48ade {
      grid-template-areas:
          "sidebar notice"
          "sidebar page";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-column: unset;
      grid-row: unset;
    }
    .bar_c38106 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 5;
      width: fit-content;
      padding-right: 8px;
      padding-left: 0;
      height: 49px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      border-bottom: 1px solid var(--border-subtle);

      .trailing_c38106 {
        gap: 4px;
      }
      .title_c38106 {
        display: none;
      }
    }
    .subtitleContainer_f75fb0 {
      display: grid;
      grid-template-areas: 'chatbar .';
      grid-template-columns: 1fr 84px;

      .title_f75fb0 {
        padding: 7px 0 7px 12px;
        min-height: unset;
        height: fit-content;

        .children__9293f:after {
          display: none;
        }
        .search__49676 {
          order: 1;
          margin: 0;
        }
        #app-mount .search__97492.open__97492 .searchBar__97492 {
          background-color: var(--back-color-search-bar);
        }
        .search__97492 {
          .searchBar__97492 {
            width: 27px;
            transition: var(--animation-duration-2) all;
            border-radius: var(--border-radius-m);
            border: 1px solid transparent;

            .DraftEditor-root {
              padding: 0;
            }
          }
          .iconContainer_fea832 {
            transform: scale(1.2);
            transition: var(--animation-duration-2);
          }
          .searchBar__97492 {
            background: transparent;
          }
        }
        .search__97492:hover {
          .searchBar__97492 {
            width: 240px;
            border: 1px solid var(--input-border);
            background-color: var(--back-color-search-bar);

            .DraftEditor-root {
              padding: 0 4px;
            }
          }
          .iconContainer_fea832 {
            transform: scale(1);
            transition: var(--animation-duration-2);
          }
        }
        .searchBar__35e86 .searchBarComponent__35e86 {
          border: 1px solid rgb(var(--border-color-1), var(--border-opacity-1));
          border-radius: var(--border-radius-xxl);
          padding-left: 8px;
        }
      }
    }
    .content_f75fb0 {
      height: 100%;
    }
    .sidebar_c48ade {
      height: 100vh;
      width: fit-content !important;
      display: grid;
      grid-template-areas: 
          "guild channel"
          "guild panels";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-column: unset;
      grid-row: unset;
      grid-area: sidebar;

      .sidebarList_c48ade {
        height: 100vh;
        border: 0;
        border-right: 1px solid rgba(var(--border-color-1), var(--border-opacity-1));
        grid-area: channel;

        .scroller__99e7c {
          margin-bottom: var(--custom-app-panels-height);
        }
      }
      .guilds_c48ade {
        height: calc(100vh - var(--guild-margin-bottom) - 62px);
        margin-bottom: var(--guild-margin-bottom);
        margin-top: 62px;
        grid-area: guild;

        .tutorialContainer__1f388 {
          position: fixed;
          top: 8px;

          & + .listItem__650eb {
            position: fixed;
            top: 54px;
          }
        }
      }
    }
    .chat_f75fb0,
    .content_c48ade {
      z-index: 1;
      height: 100vh;
      max-height: 100vh;
    }
  }
  .searchBar__5ec2f {
    border: 0;
  }
  .sidebar_c48ade:after {
    display: none;
  }
}